# [【SOTA】マイナビ × SIGNATE Student Cup 2019: 賃貸物件の家賃予測](https://signate.jp/competitions/264)

## 1. データ読み込み

In [82]:
import pandas as pd
import numpy as np
import pathlib
import os

# 学習データ、テストデータの読み込み
train_path = pathlib.Path("./DATA/train.csv")
test_path = pathlib.Path("./DATA/test.csv")

train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)

In [83]:
test_data.head()

,id,所在地,アクセス,間取り,築年数,方角,面積,所在階,バス・トイレ,キッチン,放送・通信,室内設備,駐車場,周辺環境,建物構造,契約期間
0,31471,東京都世田谷区深沢５丁目1-27,東急大井町線\t等々力駅\t徒歩15分\t\t東急田園都市線\t桜新町駅\t徒歩24分\t\...,2LDK,49年0ヶ月,南,50.22m2,8階／8階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t追焚機能／\t温水洗浄便座／...,ガスコンロ／\tコンロ3口／\tシステムキッチン\t／\t給湯／\tL字キッチン,インターネット対応,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\tエレベーター\t公営水...,駐輪場\t空有\t駐車場\t無\tバイク置き場\t無,【コンビニ】 74m\t【スーパー】 215m\t【病院】 313m\t【小学校】 219m...,鉄骨造,NaN
1,31472,東京都目黒区八雲１丁目11-8,東急東横線\t都立大学駅\t徒歩6分\t\t東急東横線\t自由が丘駅\t徒歩17分\t\t東...,1R,0年2ヶ月,南東,20.88m2,3階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t浴室乾燥機\t／\t温水洗浄...,ガスコンロ／\tコンロ2口／\tシステムキッチン\t／\t給湯,インターネット対応／\tCSアンテナ／\tBSアンテナ／\tインターネット使用料無料,エアコン付\tシューズボックス／\tフローリング／\t室内洗濯機置場\t公営水道／\t下水／...,"駐車場\t近隣\t34,000円(税込)\t距離200m\t駐輪場\t無\tバイク置き場\t無",【スーパー】 128m\t【スーパー】 313m\t【コンビニ】 374m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間
2,31473,東京都豊島区池袋本町２丁目22-2,東武東上線\t北池袋駅\t徒歩10分\t\t埼京線\t板橋駅\t徒歩16分\t\t山手線\t...,1K,23年4ヶ月,南東,26.93m2,1階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t温水洗浄便座,ガスコンロ／\t給湯,インターネット対応／\t光ファイバー／\tCATV,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t2面採光／\t室内洗濯...,"駐車場\t空有\t5,000円(税込)\t(敷金あり\t1ヶ月)\t駐輪場\t空有\tバイク...",【スーパー】 529m\t【スーパー】 810m\t【コンビニ】 316m\t【コンビニ】 ...,鉄骨造,2年間
3,31474,東京都杉並区和泉１丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩10分\t\t京王線\t代田橋駅\t徒歩8分...,1K,36年2ヶ月,南東,23.57m2,1階／2階建,シャワー,ガスコンロ／\t給湯,NaN,エアコン付\tシューズボックス／\t2面採光／\t室外洗濯機置場\t公営水道／\t下水／\t...,駐輪場\t空有\t0円,【スーパー】 286m\t【スーパー】 702m\t【コンビニ】 489m\t【コンビニ】 ...,木造,2年間
4,31475,東京都杉並区堀ノ内２丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩12分\t\t丸ノ内線(池袋－荻窪)\t新高...,2LDK,45年4ヶ月,南,50m2,4階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別,コンロ設置可（口数不明）／\t給湯,インターネット対応,冷房／\tエアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t室内洗濯機置...,"駐車場\t近隣\t22,600円\t距離177m",【コンビニ】 312m\t【コンビニ】 436m\t【スーパー】 902m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間

## 2. 前処理

### 2.1. データ選択

In [84]:
train_data_1 = train_data[["id", "所在地", "賃料", "間取り", "築年数", "面積", "所在階", "建物構造"]]
test_data_1 = test_data[["id", "所在地", "間取り", "築年数", "面積", "所在階", "建物構造"]]

### 2.2. 間取りの数値化

In [85]:
# 間取りにlabel encodingを適用
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([train_data_1["間取り"],test_data_1["間取り"]]))

train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

<ipython-input-85-95a8caebc059>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
<ipython-input-85-95a8caebc059>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

### 2.3. 面積の数値化

In [86]:
# 面積のカラムタイトルを面積[m2]に置換
train_data_1 = train_data_1.rename(columns={"面積": "面積m2"})
test_data_1 = test_data_1.rename(columns={"面積": "面積m2"})

In [87]:
# カラムタイトル面積[m2]の要素からm2を削除
train_data_1['面積m2'] = train_data_1['面積m2'].str.replace('m2', '').astype(float)
test_data_1['面積m2'] = test_data_1['面積m2'].str.replace('m2', '').astype(float)

### 2.4. 所在階の数値化

In [88]:
# 所在階の中身を"／"で2つの列に分割
train_data_1 = pd.concat([train_data_1, train_data_1['所在階'].str.split('／', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['所在階'].str.split('／', expand=True)], axis=1)

In [89]:
# 分割した所在階のカラム名変更　0:所在、1:階層
train_data_1 = train_data_1.rename(columns={0:"所在", 1:"階層"})
test_data_1 = test_data_1.rename(columns={0:"所在", 1:"階層"})

In [90]:
# 所在と階層の要素を整形
train_data_1['所在'] = train_data_1['所在'].str.replace('階', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('建', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('地下', '-')
train_data_1['所在'] = train_data_1['所在'].str.replace('\（.*\）', '', regex=True)
train_data_1['階層'] = train_data_1['階層'].str.replace('階建', '')
train_data_1['階層'] = train_data_1['階層'].str.replace('\（.*\）', '', regex=True)
train_data_1['所在'] = train_data_1['所在'].replace('', np.nan)

test_data_1['所在'] = test_data_1['所在'].str.replace('階', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('建', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('地下', '-')
test_data_1['所在'] = test_data_1['所在'].str.replace('\（.*\）', '', regex=True)
test_data_1['階層'] = test_data_1['階層'].str.replace('階建', '')
test_data_1['階層'] = test_data_1['階層'].str.replace('\（.*\）', '', regex=True)
test_data_1['所在'] = test_data_1['所在'].replace('', np.nan)

In [91]:
# # "階層"がNoneの箇所を"所在"の値で埋める
# train_data_1['階層'].fillna(train_data_1['所在'], inplace=True)
# test_data_1['階層'].fillna(test_data_1['所在'], inplace=True)

In [92]:
# 所在と階層の要素をfloat型に変換する
train_data_1['所在'] = train_data_1['所在'].astype(float)
train_data_1['階層'] = train_data_1['階層'].astype(float)

test_data_1['所在'] = test_data_1['所在'].astype(float)
test_data_1['階層'] = test_data_1['階層'].astype(float)

In [93]:
# 所在階のカラムを削除
train_data_1 = train_data_1.drop('所在階', axis=1)
test_data_1 = test_data_1.drop('所在階', axis=1)

In [94]:
# # 所在のNaNを埋める
# train_data_1.loc[train_data_1["所在"].isnull(), "所在"] = train_data_1["階層"]
# test_data_1.loc[test_data_1["所在"].isnull(), "所在"] = test_data_1["階層"]

In [95]:
# # 所在も階層も空欄のデータは間取りと面積の近いデータで埋める
# print(test_data_1[(test_data_1["間取りID"] == 21) & (test_data_1["面積m2"] > 90) & (test_data_1["面積m2"] < 95)].mean())
# test_data_1.loc[test_data_1["id"]==40675, "所在"] = float(6)
# test_data_1.loc[test_data_1["id"]==40675, "階層"] = float(9)

### 2.5. 築年数の数値化

In [96]:
# 新築の場合は全て0にする
train_data_1.loc[train_data_1["築年数"]=="新築", "築年数"] = float(0)
test_data_1.loc[test_data_1["築年数"]=="新築", "築年数"] = float(0)

In [97]:
# 築年数を数値に変換する
train_data_1 = pd.concat([train_data_1, train_data_1['築年数'].str.split('年', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['築年数'].str.split('年', expand=True)], axis=1)

In [98]:
# ヶ月を消す
train_data_1[1] = train_data_1[1].str.replace('ヶ月', '')
test_data_1[1] = test_data_1[1].str.replace('ヶ月', '')

In [99]:
# 築年数をfloat変換
train_data_1["築年数"] = train_data_1[0].astype(float) + (train_data_1[1].astype(float) / float(10))
test_data_1["築年数"] = test_data_1[0].astype(float) + (test_data_1[1].astype(float) / float(10))

In [100]:
test_data_1.head()

,id,所在地,間取り,築年数,面積m2,建物構造,間取りID,所在,階層,0,1
0,31471,東京都世田谷区深沢５丁目1-27,2LDK,49.0,50.22,鉄骨造,14,8.0,8.0,49,0
1,31472,東京都目黒区八雲１丁目11-8,1R,0.2,20.88,RC（鉄筋コンクリート）,9,3.0,4.0,0,2
2,31473,東京都豊島区池袋本町２丁目22-2,1K,23.4,26.93,鉄骨造,3,1.0,4.0,23,4
3,31474,東京都杉並区和泉１丁目,1K,36.2,23.57,木造,3,1.0,2.0,36,2
4,31475,東京都杉並区堀ノ内２丁目,2LDK,45.4,50.00,RC（鉄筋コンクリート）,14,4.0,4.0,45,4

In [101]:
print(test_data_1[test_data_1["築年数"].isnull()])

          id               所在地       間取り  築年数   面積m2          建物構造  間取りID  \
77     31548      東京都大田区東矢口２丁目  1K+S(納戸)  NaN  23.80           鉄骨造      4
108    31579  東京都世田谷区上馬２丁目26-8        1K  NaN  26.44  RC（鉄筋コンクリート）      3
112    31583       東京都台東区台東２丁目      1LDK  NaN  41.65           鉄骨造      5
156    31627  東京都品川区南大井４丁目20-5        1R  NaN  20.56  RC（鉄筋コンクリート）      9
162    31633     東京都江東区扇橋２丁目23        1K  NaN  25.34  RC（鉄筋コンクリート）      3
...      ...               ...       ...  ...    ...           ...    ...
31141  62612  東京都世田谷区桜丘４丁目15-9      2LDK  NaN  60.81            木造     14
31176  62647   東京都江戸川区中葛西８丁目22      1LDK  NaN  40.06  RC（鉄筋コンクリート）      5
31181  62652       東京都新宿区原町３丁目      1LDK  NaN  40.26           鉄骨造      5
31182  62653       東京都新宿区原町３丁目      2LDK  NaN  54.75           鉄骨造     14
31212  62683       東京都新宿区原町３丁目      1LDK  NaN  40.79           鉄骨造      5

        所在    階層    0    1
77     2.0   3.0  NaN  NaN
108    7.0  13.0  NaN  NaN
112    3.0  10.0  NaN  NaN
156    3.0  12.0  NaN  NaN
162    1.0   8.0  NaN  NaN
...    ...   ...  ...  ...
31141  2.0   2.0  NaN  NaN
31176  3.0  10.0  NaN  NaN
31181  2.0   3.0  NaN  NaN
31182  1.0   3.0  NaN  NaN
31212  2.0   3.0  NaN  NaN

[850 rows x 11 columns]

In [102]:
# 0と1の列を消す
train_data_1 = train_data_1.drop(0, axis=1)
train_data_1 = train_data_1.drop(1, axis=1)

test_data_1 = test_data_1.drop(0, axis=1)
test_data_1 = test_data_1.drop(1, axis=1)

### 2.6. 緯度経度情報の追加

#### [このサイト](https://ktgis.net/gcode/geocoding.html)を利用する

In [103]:
# IDと住所をファイル出力
train_coordinate = train_data[["id", "所在地"]]
test_coordinate = test_data[["id", "所在地"]]

train_coordinate.to_csv("train_coordinate.csv", header=False, index=False)
test_coordinate.to_csv("test_coordinate.csv", header=False, index=False)

In [104]:
# 緯度、経度情報の読み込み(id, 所在地, 経度, 緯度)
train_coordinate_addvalue = pd.read_excel("train_coordinate_addvalue.xlsx")
test_coordinate_addvalue = pd.read_excel("test_coordinate_addvalue.xlsx")

In [105]:
train_data_1 = pd.merge(train_data_1, train_coordinate_addvalue[["id", "経度", "緯度"]], on='id')
test_data_1 = pd.merge(test_data_1, test_coordinate_addvalue[["id", "経度", "緯度"]], on='id')

### 2.7. 部屋数の追加

In [106]:
# 部屋数のマージ
number_of_rooms = pd.read_excel("number_of_rooms.xlsx")
train_data_1 = pd.merge(train_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')
test_data_1 = pd.merge(test_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')

In [107]:
# インデックスの振り直し
train_data_1 = train_data_1.sort_values("id")
train_data_1 = train_data_1.reset_index(drop=True)

test_data_1 = test_data_1.sort_values("id")
test_data_1 = test_data_1.reset_index(drop=True)

### 2.8. 1部屋当たりの面積追加

In [108]:
# 面積と部屋数から1部屋当たりの面積を算出
train_data_1["1部屋当たり面積m2"] = (train_data_1["面積m2"] / train_data_1["部屋数"]).astype(float)
test_data_1["1部屋当たり面積m2"] = (test_data_1["面積m2"] / test_data_1["部屋数"]).astype(float)

In [109]:
# 間取りと間取りIDは削除する
train_data_1 = train_data_1.drop('間取り', axis=1)
test_data_1 = test_data_1.drop('間取り', axis=1)

# train_data_1 = train_data_1.drop('間取りID', axis=1)
# test_data_1 = test_data_1.drop('間取りID', axis=1)

#### 2.9. 建物の高さ率を追加(高さ率=所在/階層)

In [110]:
# 高さ率の算出
train_data_1["高さ率"] = (train_data_1["所在"] / train_data_1["階層"]).astype(float)
test_data_1["高さ率"] = (test_data_1["所在"] / test_data_1["階層"]).astype(float)

### 2.10. 建物構造の数値化

In [111]:
train_data_1["建物構造"].value_counts()

RC（鉄筋コンクリート）                   17505
木造                              5512
鉄骨造                             3726
SRC（鉄骨鉄筋コンクリート）                 2429
軽量鉄骨                            1812
ALC（軽量気泡コンクリート）                  297
その他                              136
PC（プレキャスト・コンクリート（鉄筋コンクリート））       46
HPC（プレキャスト・コンクリート（重量鉄骨））           4
ブロック                               3
Name: 建物構造, dtype: int64

In [112]:
# 建物構造にlabel encodingを適用
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([train_data_1["建物構造"],test_data_1["建物構造"]]))

train_data_1["建物構造ID"] = le.transform(train_data_1["建物構造"])
test_data_1["建物構造ID"] = le.transform(test_data_1["建物構造"])

In [113]:
test_data_1.head()

,id,所在地,築年数,面積m2,建物構造,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID
0,31471,東京都世田谷区深沢５丁目1-27,49.0,50.22,鉄骨造,14,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00,10
1,31472,東京都目黒区八雲１丁目11-8,0.2,20.88,RC（鉄筋コンクリート）,9,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75,3
2,31473,東京都豊島区池袋本町２丁目22-2,23.4,26.93,鉄骨造,3,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25,10
3,31474,東京都杉並区和泉１丁目,36.2,23.57,木造,3,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50,7
4,31475,東京都杉並区堀ノ内２丁目,45.4,50.00,RC（鉄筋コンクリート）,14,4.0,4.0,139.650468,35.689411,3.5,14.285714,1.00,3

In [114]:
# 不要になった建物構造カラムを削除する
train_data_1 = train_data_1.drop('建物構造', axis=1)
test_data_1 = test_data_1.drop('建物構造', axis=1)

### 2.11. 新規カラムに「賃料/面積」を追加

In [115]:
train_data_1["賃料/面積"] = train_data_1["賃料"] / train_data_1["面積m2"]

In [116]:
train_data_1.head()

,id,所在地,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,賃料/面積
0,1,東京都北区滝野川３丁目,75000,9.9,20.01,3,1.0,12.0,139.727873,35.747759,1.0,20.01,0.083333,3,3748.125937
1,2,東京都中央区月島３丁目,76000,45.0,16.50,9,5.0,10.0,139.780485,35.662406,1.0,16.50,0.500000,10,4606.060606
2,3,東京都渋谷区笹塚２丁目,110000,8.6,22.05,3,12.0,15.0,139.667375,35.675358,1.0,22.05,0.800000,3,4988.662132
3,4,東京都杉並区高円寺南２丁目23-2,150000,29.4,60.48,14,3.0,4.0,139.648495,35.700193,3.5,17.28,0.750000,3,2480.158730
4,5,東京都葛飾区金町３丁目7-2,74000,31.7,39.66,10,1.0,2.0,139.872315,35.766413,3.0,13.22,0.500000,7,1865.859808

### 2.12. 東京23区の地域ごとに、住宅地の平均地価情報を追加

In [117]:
# 区の情報の確認(23区だけだった)
sample = train_data["所在地"].str.extract("東京都(.+区)", expand=True)
sample.value_counts()

世田谷区    3023
足立区     2191
大田区     2000
杉並区     1769
練馬区     1752
江戸川区    1702
板橋区     1624
港区      1513
江東区     1508
中央区     1279
品川区     1272
豊島区     1271
新宿区     1223
葛飾区     1212
中野区     1211
北区      1045
目黒区     1023
墨田区     1010
渋谷区      985
台東区      932
文京区      892
荒川区      576
千代田区     457
dtype: int64

In [118]:
print(len(train_data_1))
print(len(test_data_1))

31470
31262

In [119]:
# 訓練データとテストデータに、エリア情報を追加
train_data_1["エリア"] = ""
test_data_1["エリア"] = ""
train_data_1["エリア"] = train_data_1["所在地"].str.extract("東京都((.+区.+?)[０-９]|(.+区.+?)[0-9]|(.+区.+))", expand=True)
test_data_1["エリア"] = test_data_1["所在地"].str.extract("東京都((.+区.+?)[０-９]|(.+区.+?)[0-9]|(.+区.+))", expand=True)

In [120]:
print(len(train_data_1))
print(len(test_data_1))

31470
31262

In [121]:
# 一部エリア情報に数値が残ってしまうので、消す
train_data_1["エリア"] = train_data_1["エリア"].str.replace("[０-９]|[0-9]", "")
train_data_1["エリア"] = train_data_1["エリア"].str.replace("一丁目", "")
train_data_1["エリア"] = train_data_1["エリア"].str.replace("-", "")

test_data_1["エリア"] = test_data_1["エリア"].str.replace("[０-９]|[0-9]", "")
test_data_1["エリア"] = test_data_1["エリア"].str.replace("一丁目", "")
test_data_1["エリア"] = test_data_1["エリア"].str.replace("二丁目", "")
test_data_1["エリア"] = test_data_1["エリア"].str.replace("四丁目", "")

In [122]:
print(len(train_data_1))
print(len(test_data_1))

31470
31262

In [123]:
# 坪単価情報の読込～結合
wards_value = pd.read_excel("23区_地域毎_坪単価.xlsx")
train_data_1 = pd.merge(train_data_1, wards_value, on="エリア", how="left")
test_data_1 = pd.merge(test_data_1, wards_value, on="エリア", how="left")
train_data_1 = train_data_1.sort_values("id")
test_data_1 = test_data_1.sort_values("id")

In [124]:
# 地価の抜けデータを平均値で補間
# 江東区
train_data_1.loc[train_data_1["id"]==2767, "平均坪単価（万円）"] = 206.6
train_data_1.loc[train_data_1["id"]==7559, "平均坪単価（万円）"] = 206.6
# 港区
train_data_1.loc[train_data_1["id"]==17654, "平均坪単価（万円）"] = 1321.4

In [125]:
print(len(train_data_1))
print(len(test_data_1))

31470
31262

In [126]:
print(train_data_1[train_data_1["平均坪単価（万円）"].isnull()])
print(test_data_1[test_data_1["平均坪単価（万円）"].isnull()])

Empty DataFrame
Columns: [id, 所在地, 賃料, 築年数, 面積m2, 間取りID, 所在, 階層, 経度, 緯度, 部屋数, 1部屋当たり面積m2, 高さ率, 建物構造ID, 賃料/面積, エリア, 区, 地名, 平均坪単価（万円）]
Index: []
Empty DataFrame
Columns: [id, 所在地, 築年数, 面積m2, 間取りID, 所在, 階層, 経度, 緯度, 部屋数, 1部屋当たり面積m2, 高さ率, 建物構造ID, エリア, 区, 地名, 平均坪単価（万円）]
Index: []

In [127]:
# 不要なカラムを削除する
train_data_1 = train_data_1.drop(["所在地", "エリア", "区", "地名"], axis=1)
test_data_1 = test_data_1.drop(["所在地", "エリア", "区", "地名"], axis=1)

In [128]:
train_data_1.head()

,id,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,賃料/面積,平均坪単価（万円）
0,1,75000,9.9,20.01,3,1.0,12.0,139.727873,35.747759,1.0,20.01,0.083333,3,3748.125937,180.0
1,2,76000,45.0,16.50,9,5.0,10.0,139.780485,35.662406,1.0,16.50,0.500000,10,4606.060606,323.0
2,3,110000,8.6,22.05,3,12.0,15.0,139.667375,35.675358,1.0,22.05,0.800000,3,4988.662132,324.0
3,4,150000,29.4,60.48,14,3.0,4.0,139.648495,35.700193,3.5,17.28,0.750000,3,2480.158730,253.0
4,5,74000,31.7,39.66,10,1.0,2.0,139.872315,35.766413,3.0,13.22,0.500000,7,1865.859808,111.0

### 2.13. 最寄り駅までの徒歩分数を追加

In [129]:
train_data_1["アクセス"] = (train_data["アクセス"].str.extract("徒歩(.+?)", expand=True)).astype(float)
test_data_1["アクセス"] = (test_data["アクセス"].str.extract("徒歩(.+?)", expand=True)).astype(float)

### 2.14. 重複物件の抽出・削除

In [236]:
# 重複確認用のデータ出力
# train_duplicate = pd.concat([train_data[["id", "賃料", "所在地"]], train_data_1[["間取りID", "面積m2", "所在", "階層"]]], axis=1)
# test_duplicate = pd.concat([test_data[["id", "所在地"]], test_data_1[["間取りID", "面積m2", "所在", "階層"]]], axis=1)

In [237]:
# 結果の出力
# train_duplicate.to_excel("train_duplicate.xlsx", header=True, index=False)
# test_duplicate.to_excel("test_duplicate.xlsx", header=True, index=False)

In [130]:
# 重複対象のデータ読み込み
train_duplicate_flag = pd.read_excel("train_duplicate_flag.xlsx")
test_duplicate_flag = pd.read_excel("test_duplicate_flag.xlsx")

In [131]:
# データ数のチェック
print("Train:", len(train_data_1), "-", len(train_duplicate_flag), "=", len(train_data_1)-len(train_duplicate_flag))
print("Test:", len(test_data_1), "-", len(test_duplicate_flag), "=", len(test_data_1)-len(test_duplicate_flag))

Train: 31470 - 31470 = 0
Test: 31262 - 31262 = 0

In [132]:
# 重複フラグを結合
train_data_1 = pd.merge(train_data_1, train_duplicate_flag, on="id")
train_data_1 = train_data_1.rename(columns={"賃料_x":"賃料"})
train_data_1 = train_data_1.drop('賃料_y', axis=1)

test_data_1 = pd.merge(test_data_1, test_duplicate_flag, on="id")

In [133]:
# testデータからのみ、flag=1.0の列を削除
print("【削除前】", "train:", len(train_data_1), ", ", "test:", len(test_data_1))
#train_data_1 = train_data_1.loc[train_data_1["flag"] != 1.0]
test_data_1 = test_data_1.loc[test_data_1["flag"] != 1.0]
print("【削除後】", "train:", len(train_data_1), ", ", "test:", len(test_data_1))

【削除前】 train: 31470 ,  test: 31262
【削除後】 train: 31470 ,  test: 24812

## 3. データチェック

In [134]:
train_data_1.isnull().sum()

id                0
賃料                0
築年数             889
面積m2              0
間取りID             0
所在              120
階層              594
経度                0
緯度                0
部屋数               0
1部屋当たり面積m2        0
高さ率             714
建物構造ID            0
賃料/面積             0
平均坪単価（万円）         0
アクセス              0
flag          25975
dtype: int64

In [135]:
test_data_1.isnull().sum()

id                0
築年数             675
面積m2              0
間取りID             0
所在              102
階層              476
経度                0
緯度                0
部屋数               0
1部屋当たり面積m2        0
高さ率             577
建物構造ID            0
平均坪単価（万円）         0
アクセス              0
flag          24812
dtype: int64

In [136]:
len(train_data_1)

31470

In [137]:
len(train_data)

31470

In [138]:
len(test_data_1)

24812

In [139]:
len(test_data)

31262

In [140]:
train_data_1.head()

,id,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,賃料/面積,平均坪単価（万円）,アクセス,flag
0,1,75000,9.9,20.01,3,1.0,12.0,139.727873,35.747759,1.0,20.01,0.083333,3,3748.125937,180.0,4.0,NaN
1,2,76000,45.0,16.50,9,5.0,10.0,139.780485,35.662406,1.0,16.50,0.500000,10,4606.060606,323.0,5.0,1.0
2,3,110000,8.6,22.05,3,12.0,15.0,139.667375,35.675358,1.0,22.05,0.800000,3,4988.662132,324.0,6.0,NaN
3,4,150000,29.4,60.48,14,3.0,4.0,139.648495,35.700193,3.5,17.28,0.750000,3,2480.158730,253.0,9.0,NaN
4,5,74000,31.7,39.66,10,1.0,2.0,139.872315,35.766413,3.0,13.22,0.500000,7,1865.859808,111.0,5.0,NaN

In [141]:
test_data_1.head()

,id,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,平均坪単価（万円）,アクセス,flag
0,31471,49.0,50.22,14,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00,10,208.0,1.0,NaN
1,31472,0.2,20.88,9,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75,3,273.0,6.0,NaN
2,31473,23.4,26.93,3,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25,10,186.0,1.0,NaN
3,31474,36.2,23.57,3,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50,7,184.0,1.0,NaN
5,31476,25.6,21.45,9,1.0,2.0,139.686023,35.691395,1.0,21.450000,0.50,7,294.0,4.0,NaN

## 4.学習

In [142]:
# IDとflagの削除
train_data_1_no_ID = train_data_1.drop(["id", "flag"], axis=1)
test_data_1_no_ID = test_data_1.drop(["id", "flag"], axis=1)

In [143]:
# 特徴データと目的変数の設定
train_x = train_data_1_no_ID.drop(["賃料", "賃料/面積"], axis=1)
train_y = train_data_1_no_ID["賃料/面積"]

test_x = test_data_1_no_ID

In [144]:
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.metrics import log_loss, accuracy_score
from sklearn.model_selection import KFold

scores = []
# GBDT用のハイパーパラメータ
params = {"objective": "reg:squarederror", "sileng":1, "random_state":71}
num_round = 50

# クロスバリデーション
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx, in kf.split(train_x):
    tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]
    
    # GBDTで学習実行
    dtrain = xgb.DMatrix(tr_x, label=tr_y) # enable_categorical=True
    dvalid = xgb.DMatrix(va_x, label=va_y)
    dtest = xgb.DMatrix(test_x)
    
    watchlist = [(dtrain, "train"), (dvalid, "eval")]
    model = xgb.train(params, dtrain, num_round, evals=watchlist)

[15:57:29] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2640.36523	eval-rmse:2611.47900
[1]	train-rmse:1896.71228	eval-rmse:1863.72790
[2]	train-rmse:1389.13086	eval-rmse:1348.64624
[3]	train-rmse:1046.02039	eval-rmse:997.99597
[4]	train-rmse:817.08557	eval-rmse:768.11420
[5]	train-rmse:673.70825	eval-rmse:621.92511
[6]	train-rmse:584.24054	eval-rmse:530.89496
[7]	train-rmse:534.60077	eval-rmse:477.87521
[8]	train-rmse:495.94827	eval-rmse:444.45795
[9]	train-rmse:476.63794	eval-rmse:426.53052
[10]	train-rmse:464.63724	eval-rmse:415.61432
[11]	train-rmse:455.89050	eval-rmse:407.67319
[12]	train-rmse:449.20551	eval-rmse:402.18701
[13]	train-rmse:444.62204	eval-rmse:398.29764
[14]	train-rmse:440.51877	eval-rmse:395.58734
[15]	train-rmse:434.05188	eval-rmse:393.66855
[16]	train-rmse:429.85120	eval-rmse:389.94003
[17]	train-rmse:427.13242	eval-rmse:388.11764
[18]	train-rmse:423.93662	eval-rmse:385.83365
[19]	train-rmse:421.00684	eval-rmse:384.87466
[20]	train-rmse:417.75809	eval-rmse:382.42813
[21]	train-rmse:415.13049	eval-rmse:382.51663
[22]	train-rmse:413.14566	eval-rmse:381.90295
[23]	train-rmse:411.33249	eval-rmse:380.30872
[24]	train-rmse:409.24347	eval-rmse:378.88547
[25]	train-rmse:407.53302	eval-rmse:377.30020
[26]	train-rmse:406.17496	eval-rmse:376.49988
[27]	train-rmse:403.34644	eval-rmse:374.67914
[28]	train-rmse:401.79395	eval-rmse:373.63336
[29]	train-rmse:400.20068	eval-rmse:372.39572
[30]	train-rmse:399.62811	eval-rmse:371.92233
[31]	train-rmse:398.19260	eval-rmse:370.80869
[32]	train-rmse:396.31912	eval-rmse:369.62164
[33]	train-rmse:394.84409	eval-rmse:368.58951
[34]	train-rmse:393.26334	eval-rmse:367.34772
[35]	train-rmse:390.53311	eval-rmse:365.97449
[36]	train-rmse:389.72363	eval-rmse:365.28055
[37]	train-rmse:389.46432	eval-rmse:365.14465
[38]	train-rmse:388.35523	eval-rmse:364.20847
[39]	train-rmse:387.08179	eval-rmse:363.42386
[40]	train-rmse:384.40912	eval-rmse:362.67499
[41]	train-rmse:383.36410	eval-rmse:361.97128
[42]	train-rmse:382.65942	eval-rmse:361.46237
[43]	train-rmse:381.39099	eval-rmse:361.09485
[44]	train-rmse:380.13831	eval-rmse:360.10467
[45]	train-rmse:378.84638	eval-rmse:358.97980
[46]	train-rmse:377.94879	eval-rmse:358.08658
[47]	train-rmse:375.92532	eval-rmse:356.52893
[48]	train-rmse:374.60956	eval-rmse:355.95068
[49]	train-rmse:374.15420	eval-rmse:355.82510
[15:57:30] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2617.54126	eval-rmse:2689.30200
[1]	train-rmse:1868.87952	eval-rmse:1966.62903
[2]	train-rmse:1351.88110	eval-rmse:1485.61389
[3]	train-rmse:1000.11664	eval-rmse:1170.97412
[4]	train-rmse:766.84613	eval-rmse:979.18170
[5]	train-rmse:614.76123	eval-rmse:864.78009
[6]	train-rmse:516.10315	eval-rmse:799.94647
[7]	train-rmse:457.19833	eval-rmse:764.47400
[8]	train-rmse:420.59003	eval-rmse:741.30701
[9]	train-rmse:399.54343	eval-rmse:729.96265
[10]	train-rmse:387.59830	eval-rmse:723.82263
[11]	train-rmse:377.36352	eval-rmse:718.20129
[12]	train-rmse:370.17947	eval-rmse:715.03436
[13]	train-rmse:361.53845	eval-rmse:711.27063
[14]	train-rmse:357.65408	eval-rmse:709.57086
[15]	train-rmse:354.29074	eval-rmse:708.27167
[16]	train-rmse:350.85068	eval-rmse:706.95782
[17]	train-rmse:346.68536	eval-rmse:705.27832
[18]	train-rmse:344.42676	eval-rmse:704.53412
[19]	train-rmse:340.98700	eval-rmse:703.15015
[20]	train-rmse:339.25256	eval-rmse:702.36102
[21]	train-rmse:337.89191	eval-rmse:702.03485
[22]	train-rmse:332.52066	eval-rmse:700.05792
[23]	train-rmse:329.49533	eval-rmse:699.64642
[24]	train-rmse:326.42777	eval-rmse:698.31805
[25]	train-rmse:320.79346	eval-rmse:696.54889
[26]	train-rmse:318.62033	eval-rmse:695.37683
[27]	train-rmse:316.07419	eval-rmse:694.52466
[28]	train-rmse:315.26648	eval-rmse:694.40485
[29]	train-rmse:313.39090	eval-rmse:693.95551
[30]	train-rmse:311.25357	eval-rmse:693.41333
[31]	train-rmse:307.97339	eval-rmse:692.55841
[32]	train-rmse:305.89246	eval-rmse:691.94281
[33]	train-rmse:303.05539	eval-rmse:690.96954
[34]	train-rmse:301.71976	eval-rmse:690.54486
[35]	train-rmse:300.13522	eval-rmse:690.13373
[36]	train-rmse:298.76294	eval-rmse:689.71063
[37]	train-rmse:298.28342	eval-rmse:689.52710
[38]	train-rmse:297.67856	eval-rmse:689.52863
[39]	train-rmse:296.01895	eval-rmse:689.19385
[40]	train-rmse:294.79599	eval-rmse:689.17859
[41]	train-rmse:293.60599	eval-rmse:688.20990
[42]	train-rmse:291.87656	eval-rmse:687.78644
[43]	train-rmse:290.71832	eval-rmse:687.34271
[44]	train-rmse:288.97189	eval-rmse:687.01221
[45]	train-rmse:288.67895	eval-rmse:686.98859
[46]	train-rmse:287.69031	eval-rmse:686.68897
[47]	train-rmse:287.56824	eval-rmse:686.55847
[48]	train-rmse:285.66867	eval-rmse:686.22540
[49]	train-rmse:284.01355	eval-rmse:685.96008
[15:57:30] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2641.99145	eval-rmse:2612.32568
[1]	train-rmse:1900.96094	eval-rmse:1866.40405
[2]	train-rmse:1393.04138	eval-rmse:1352.04126
[3]	train-rmse:1051.45679	eval-rmse:1005.69635
[4]	train-rmse:831.32587	eval-rmse:776.85645
[5]	train-rmse:680.02698	eval-rmse:630.00464
[6]	train-rmse:593.20599	eval-rmse:540.31445
[7]	train-rmse:541.09692	eval-rmse:485.86133
[8]	train-rmse:511.50940	eval-rmse:456.04846
[9]	train-rmse:482.55460	eval-rmse:437.04437
[10]	train-rmse:465.08856	eval-rmse:425.62674
[11]	train-rmse:456.48264	eval-rmse:418.29062
[12]	train-rmse:450.15869	eval-rmse:413.50293
[13]	train-rmse:446.59613	eval-rmse:411.43283
[14]	train-rmse:443.47052	eval-rmse:409.20486
[15]	train-rmse:434.39597	eval-rmse:405.96326
[16]	train-rmse:430.23846	eval-rmse:403.19516
[17]	train-rmse:427.25568	eval-rmse:401.49512
[18]	train-rmse:424.73044	eval-rmse:399.67529
[19]	train-rmse:422.94879	eval-rmse:398.10211
[20]	train-rmse:416.97382	eval-rmse:395.55792
[21]	train-rmse:414.69067	eval-rmse:393.48999
[22]	train-rmse:412.76834	eval-rmse:392.58191
[23]	train-rmse:411.52264	eval-rmse:391.79156
[24]	train-rmse:410.23340	eval-rmse:391.14163
[25]	train-rmse:408.34201	eval-rmse:390.89414
[26]	train-rmse:405.73196	eval-rmse:389.32407
[27]	train-rmse:403.64835	eval-rmse:386.46088
[28]	train-rmse:399.45111	eval-rmse:386.04681
[29]	train-rmse:396.64862	eval-rmse:383.83847
[30]	train-rmse:394.83841	eval-rmse:382.64600
[31]	train-rmse:393.08478	eval-rmse:381.41122
[32]	train-rmse:392.20117	eval-rmse:380.59732
[33]	train-rmse:391.36365	eval-rmse:379.51294
[34]	train-rmse:390.71375	eval-rmse:379.39706
[35]	train-rmse:389.74606	eval-rmse:379.26056
[36]	train-rmse:388.11304	eval-rmse:378.27335
[37]	train-rmse:387.44840	eval-rmse:377.82672
[38]	train-rmse:385.97714	eval-rmse:376.91315
[39]	train-rmse:385.15704	eval-rmse:376.59161
[40]	train-rmse:384.56811	eval-rmse:376.25842
[41]	train-rmse:381.99789	eval-rmse:375.30426
[42]	train-rmse:381.46890	eval-rmse:375.19583
[43]	train-rmse:380.98642	eval-rmse:374.96228
[44]	train-rmse:379.55096	eval-rmse:374.46631
[45]	train-rmse:377.57852	eval-rmse:373.52762
[46]	train-rmse:376.52902	eval-rmse:372.96158
[47]	train-rmse:374.89499	eval-rmse:371.65951
[48]	train-rmse:373.71524	eval-rmse:370.83203
[49]	train-rmse:372.90216	eval-rmse:370.43991
[15:57:30] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2637.87256	eval-rmse:2631.13550
[1]	train-rmse:1895.74219	eval-rmse:1893.62598
[2]	train-rmse:1386.86804	eval-rmse:1385.74951
[3]	train-rmse:1034.84522	eval-rmse:1052.22937
[4]	train-rmse:810.26160	eval-rmse:830.93970
[5]	train-rmse:651.80536	eval-rmse:709.45825
[6]	train-rmse:548.41113	eval-rmse:648.92926
[7]	train-rmse:482.24878	eval-rmse:625.00647
[8]	train-rmse:447.87424	eval-rmse:600.78125
[9]	train-rmse:424.44449	eval-rmse:592.15808
[10]	train-rmse:406.47693	eval-rmse:597.91199
[11]	train-rmse:390.13806	eval-rmse:615.00507
[12]	train-rmse:384.70087	eval-rmse:611.33667
[13]	train-rmse:371.93033	eval-rmse:628.56659
[14]	train-rmse:363.61496	eval-rmse:646.29077
[15]	train-rmse:356.87634	eval-rmse:662.50384
[16]	train-rmse:354.16571	eval-rmse:663.77325
[17]	train-rmse:347.85596	eval-rmse:660.95453
[18]	train-rmse:346.00378	eval-rmse:660.00421
[19]	train-rmse:341.87854	eval-rmse:658.67499
[20]	train-rmse:339.10873	eval-rmse:657.71698
[21]	train-rmse:337.30701	eval-rmse:656.88800
[22]	train-rmse:334.70096	eval-rmse:655.83637
[23]	train-rmse:332.54852	eval-rmse:654.04999
[24]	train-rmse:331.08383	eval-rmse:653.49445
[25]	train-rmse:329.66763	eval-rmse:652.83160
[26]	train-rmse:325.22632	eval-rmse:665.89807
[27]	train-rmse:321.19626	eval-rmse:665.16016
[28]	train-rmse:318.92535	eval-rmse:664.57080
[29]	train-rmse:317.59869	eval-rmse:664.37317
[30]	train-rmse:316.37125	eval-rmse:663.71838
[31]	train-rmse:314.62347	eval-rmse:663.13312
[32]	train-rmse:313.09039	eval-rmse:662.62506
[33]	train-rmse:310.89749	eval-rmse:662.08008
[34]	train-rmse:310.06540	eval-rmse:661.44421
[35]	train-rmse:308.56699	eval-rmse:662.00903
[36]	train-rmse:305.17892	eval-rmse:674.26398
[37]	train-rmse:301.09875	eval-rmse:683.78357
[38]	train-rmse:299.94052	eval-rmse:683.54096
[39]	train-rmse:298.74359	eval-rmse:683.41766
[40]	train-rmse:297.58752	eval-rmse:683.15546
[41]	train-rmse:296.20804	eval-rmse:682.92999
[42]	train-rmse:294.88123	eval-rmse:682.46564
[43]	train-rmse:293.36618	eval-rmse:681.98517
[44]	train-rmse:292.95666	eval-rmse:681.90509
[45]	train-rmse:290.67078	eval-rmse:690.52283
[46]	train-rmse:288.66653	eval-rmse:698.75427
[47]	train-rmse:287.64972	eval-rmse:698.55243
[48]	train-rmse:286.13498	eval-rmse:698.11237
[49]	train-rmse:284.37576	eval-rmse:697.75427

## 5. 予測

In [145]:
# テストデータでの予測
pred = model.predict(dtest)

In [146]:
pred

array([2545.6904, 5534.5645, 2957.9026, ..., 4541.719 , 3753.2097,
       3866.9985], dtype=float32)

In [147]:
len(pred)

24812

In [148]:
len(test_data_1)

24812

## 6. データ出力

In [149]:
# 予測結果の結合
test_data_1["賃料/面積"] = pred

In [150]:
# 予測結果から賃料を算出し、int型に変換
test_data_1["賃料"] = (test_data_1["面積m2"] * test_data_1["賃料/面積"]).astype(int)

In [151]:
result = test_data_1[["id", "賃料"]]

In [152]:
result

          id      賃料
0      31471  127844
1      31472  115561
2      31473   79656
3      31474   60878
5      31476   70214
...      ...     ...
31255  62726  103965
31257  62728  103177
31258  62729  103142
31259  62730  171746
31261  62732   81903

[24812 rows x 2 columns]

In [153]:
len(result)

24812

In [154]:
# 除外していた重複idの賃料を戻す
test_duplicate_rentvalue = pd.read_excel("test_duplicate_rentvalue.xlsx")
result = pd.concat([result, test_duplicate_rentvalue])
result = result.sort_values("id")
len(result)

31262

In [155]:
result

          id      賃料
0      31471  127844
1      31472  115561
2      31473   79656
3      31474   60878
0      31475   90000
...      ...     ...
31257  62728  103177
31258  62729  103142
31259  62730  171746
6449   62731  280000
31261  62732   81903

[31262 rows x 2 columns]

In [156]:
result.to_csv("result.csv", header=False, index=False)