# [【SOTA】マイナビ × SIGNATE Student Cup 2019: 賃貸物件の家賃予測](https://signate.jp/competitions/264)

## 1. データ読み込み

In [191]:
import pandas as pd
import numpy as np
import pathlib
import os

# 学習データ、テストデータの読み込み
train_path = pathlib.Path("./DATA/train.csv")
test_path = pathlib.Path("./DATA/test.csv")

train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)

In [192]:
test_data.head()

,id,所在地,アクセス,間取り,築年数,方角,面積,所在階,バス・トイレ,キッチン,放送・通信,室内設備,駐車場,周辺環境,建物構造,契約期間
0,31471,東京都世田谷区深沢５丁目1-27,東急大井町線\t等々力駅\t徒歩15分\t\t東急田園都市線\t桜新町駅\t徒歩24分\t\...,2LDK,49年0ヶ月,南,50.22m2,8階／8階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t追焚機能／\t温水洗浄便座／...,ガスコンロ／\tコンロ3口／\tシステムキッチン\t／\t給湯／\tL字キッチン,インターネット対応,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\tエレベーター\t公営水...,駐輪場\t空有\t駐車場\t無\tバイク置き場\t無,【コンビニ】 74m\t【スーパー】 215m\t【病院】 313m\t【小学校】 219m...,鉄骨造,NaN
1,31472,東京都目黒区八雲１丁目11-8,東急東横線\t都立大学駅\t徒歩6分\t\t東急東横線\t自由が丘駅\t徒歩17分\t\t東...,1R,0年2ヶ月,南東,20.88m2,3階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t浴室乾燥機\t／\t温水洗浄...,ガスコンロ／\tコンロ2口／\tシステムキッチン\t／\t給湯,インターネット対応／\tCSアンテナ／\tBSアンテナ／\tインターネット使用料無料,エアコン付\tシューズボックス／\tフローリング／\t室内洗濯機置場\t公営水道／\t下水／...,"駐車場\t近隣\t34,000円(税込)\t距離200m\t駐輪場\t無\tバイク置き場\t無",【スーパー】 128m\t【スーパー】 313m\t【コンビニ】 374m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間
2,31473,東京都豊島区池袋本町２丁目22-2,東武東上線\t北池袋駅\t徒歩10分\t\t埼京線\t板橋駅\t徒歩16分\t\t山手線\t...,1K,23年4ヶ月,南東,26.93m2,1階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t温水洗浄便座,ガスコンロ／\t給湯,インターネット対応／\t光ファイバー／\tCATV,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t2面採光／\t室内洗濯...,"駐車場\t空有\t5,000円(税込)\t(敷金あり\t1ヶ月)\t駐輪場\t空有\tバイク...",【スーパー】 529m\t【スーパー】 810m\t【コンビニ】 316m\t【コンビニ】 ...,鉄骨造,2年間
3,31474,東京都杉並区和泉１丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩10分\t\t京王線\t代田橋駅\t徒歩8分...,1K,36年2ヶ月,南東,23.57m2,1階／2階建,シャワー,ガスコンロ／\t給湯,NaN,エアコン付\tシューズボックス／\t2面採光／\t室外洗濯機置場\t公営水道／\t下水／\t...,駐輪場\t空有\t0円,【スーパー】 286m\t【スーパー】 702m\t【コンビニ】 489m\t【コンビニ】 ...,木造,2年間
4,31475,東京都杉並区堀ノ内２丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩12分\t\t丸ノ内線(池袋－荻窪)\t新高...,2LDK,45年4ヶ月,南,50m2,4階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別,コンロ設置可（口数不明）／\t給湯,インターネット対応,冷房／\tエアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t室内洗濯機置...,"駐車場\t近隣\t22,600円\t距離177m",【コンビニ】 312m\t【コンビニ】 436m\t【スーパー】 902m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間

## 2. 前処理

### 2.1. データ選択

In [193]:
train_data_1 = train_data[["id", "賃料", "間取り", "築年数", "面積", "所在階", "建物構造"]]
test_data_1 = test_data[["id", "間取り", "築年数", "面積", "所在階", "建物構造"]]

### 2.2. 間取りの数値化

In [194]:
# 間取りにlabel encodingを適用
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([train_data_1["間取り"],test_data_1["間取り"]]))

train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

<ipython-input-194-95a8caebc059>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
<ipython-input-194-95a8caebc059>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

### 2.3. 面積の数値化

In [195]:
# 面積のカラムタイトルを面積[m2]に置換
train_data_1 = train_data_1.rename(columns={"面積": "面積m2"})
test_data_1 = test_data_1.rename(columns={"面積": "面積m2"})

In [196]:
# カラムタイトル面積[m2]の要素からm2を削除
train_data_1['面積m2'] = train_data_1['面積m2'].str.replace('m2', '').astype(float)
test_data_1['面積m2'] = test_data_1['面積m2'].str.replace('m2', '').astype(float)

### 2.4. 所在階の数値化

In [197]:
# 所在階の中身を"／"で2つの列に分割
train_data_1 = pd.concat([train_data_1, train_data_1['所在階'].str.split('／', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['所在階'].str.split('／', expand=True)], axis=1)

In [198]:
# 分割した所在階のカラム名変更　0:所在、1:階層
train_data_1 = train_data_1.rename(columns={0:"所在", 1:"階層"})
test_data_1 = test_data_1.rename(columns={0:"所在", 1:"階層"})

In [199]:
# 所在と階層の要素を整形
train_data_1['所在'] = train_data_1['所在'].str.replace('階', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('建', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('地下', '-')
train_data_1['所在'] = train_data_1['所在'].str.replace('\（.*\）', '', regex=True)
train_data_1['階層'] = train_data_1['階層'].str.replace('階建', '')
train_data_1['階層'] = train_data_1['階層'].str.replace('\（.*\）', '', regex=True)
train_data_1['所在'] = train_data_1['所在'].replace('', np.nan)

test_data_1['所在'] = test_data_1['所在'].str.replace('階', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('建', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('地下', '-')
test_data_1['所在'] = test_data_1['所在'].str.replace('\（.*\）', '', regex=True)
test_data_1['階層'] = test_data_1['階層'].str.replace('階建', '')
test_data_1['階層'] = test_data_1['階層'].str.replace('\（.*\）', '', regex=True)
test_data_1['所在'] = test_data_1['所在'].replace('', np.nan)

In [200]:
# # "階層"がNoneの箇所を"所在"の値で埋める
# train_data_1['階層'].fillna(train_data_1['所在'], inplace=True)
# test_data_1['階層'].fillna(test_data_1['所在'], inplace=True)

In [201]:
# 所在と階層の要素をfloat型に変換する
train_data_1['所在'] = train_data_1['所在'].astype(float)
train_data_1['階層'] = train_data_1['階層'].astype(float)

test_data_1['所在'] = test_data_1['所在'].astype(float)
test_data_1['階層'] = test_data_1['階層'].astype(float)

In [202]:
# 所在階のカラムを削除
train_data_1 = train_data_1.drop('所在階', axis=1)
test_data_1 = test_data_1.drop('所在階', axis=1)

In [203]:
# # 所在のNaNを埋める
# train_data_1.loc[train_data_1["所在"].isnull(), "所在"] = train_data_1["階層"]
# test_data_1.loc[test_data_1["所在"].isnull(), "所在"] = test_data_1["階層"]

In [204]:
# # 所在も階層も空欄のデータは間取りと面積の近いデータで埋める
# print(test_data_1[(test_data_1["間取りID"] == 21) & (test_data_1["面積m2"] > 90) & (test_data_1["面積m2"] < 95)].mean())
# test_data_1.loc[test_data_1["id"]==40675, "所在"] = float(6)
# test_data_1.loc[test_data_1["id"]==40675, "階層"] = float(9)

### 2.5. 築年数の数値化

In [205]:
# 新築の場合は全て0にする
train_data_1.loc[train_data_1["築年数"]=="新築", "築年数"] = float(0)
test_data_1.loc[test_data_1["築年数"]=="新築", "築年数"] = float(0)

In [206]:
# 築年数を数値に変換する
train_data_1 = pd.concat([train_data_1, train_data_1['築年数'].str.split('年', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['築年数'].str.split('年', expand=True)], axis=1)

In [207]:
# ヶ月を消す
train_data_1[1] = train_data_1[1].str.replace('ヶ月', '')
test_data_1[1] = test_data_1[1].str.replace('ヶ月', '')

In [208]:
# 築年数をfloat変換
train_data_1["築年数"] = train_data_1[0].astype(float) + (train_data_1[1].astype(float) / float(10))
test_data_1["築年数"] = test_data_1[0].astype(float) + (test_data_1[1].astype(float) / float(10))

In [209]:
test_data_1.head()

      id   間取り   築年数   面積m2          建物構造  間取りID   所在   階層   0  1
0  31471  2LDK  49.0  50.22           鉄骨造     14  8.0  8.0  49  0
1  31472    1R   0.2  20.88  RC（鉄筋コンクリート）      9  3.0  4.0   0  2
2  31473    1K  23.4  26.93           鉄骨造      3  1.0  4.0  23  4
3  31474    1K  36.2  23.57            木造      3  1.0  2.0  36  2
4  31475  2LDK  45.4  50.00  RC（鉄筋コンクリート）     14  4.0  4.0  45  4

In [210]:
print(test_data_1[test_data_1["築年数"].isnull()])

          id       間取り  築年数   面積m2          建物構造  間取りID   所在    階層    0    1
77     31548  1K+S(納戸)  NaN  23.80           鉄骨造      4  2.0   3.0  NaN  NaN
108    31579        1K  NaN  26.44  RC（鉄筋コンクリート）      3  7.0  13.0  NaN  NaN
112    31583      1LDK  NaN  41.65           鉄骨造      5  3.0  10.0  NaN  NaN
156    31627        1R  NaN  20.56  RC（鉄筋コンクリート）      9  3.0  12.0  NaN  NaN
162    31633        1K  NaN  25.34  RC（鉄筋コンクリート）      3  1.0   8.0  NaN  NaN
...      ...       ...  ...    ...           ...    ...  ...   ...  ...  ...
31141  62612      2LDK  NaN  60.81            木造     14  2.0   2.0  NaN  NaN
31176  62647      1LDK  NaN  40.06  RC（鉄筋コンクリート）      5  3.0  10.0  NaN  NaN
31181  62652      1LDK  NaN  40.26           鉄骨造      5  2.0   3.0  NaN  NaN
31182  62653      2LDK  NaN  54.75           鉄骨造     14  1.0   3.0  NaN  NaN
31212  62683      1LDK  NaN  40.79           鉄骨造      5  2.0   3.0  NaN  NaN

[850 rows x 10 columns]

In [211]:
# 0と1の列を消す
train_data_1 = train_data_1.drop(0, axis=1)
train_data_1 = train_data_1.drop(1, axis=1)

test_data_1 = test_data_1.drop(0, axis=1)
test_data_1 = test_data_1.drop(1, axis=1)

### 2.6. 緯度経度情報の追加

#### [このサイト](https://ktgis.net/gcode/geocoding.html)を利用する

In [212]:
# IDと住所をファイル出力
train_coordinate = train_data[["id", "所在地"]]
test_coordinate = test_data[["id", "所在地"]]

train_coordinate.to_csv("train_coordinate.csv", header=False, index=False)
test_coordinate.to_csv("test_coordinate.csv", header=False, index=False)

In [213]:
# 緯度、経度情報の読み込み(id, 所在地, 経度, 緯度)
train_coordinate_addvalue = pd.read_excel("train_coordinate_addvalue.xlsx")
test_coordinate_addvalue = pd.read_excel("test_coordinate_addvalue.xlsx")

In [214]:
train_data_1 = pd.merge(train_data_1, train_coordinate_addvalue[["id", "経度", "緯度"]], on='id')
test_data_1 = pd.merge(test_data_1, test_coordinate_addvalue[["id", "経度", "緯度"]], on='id')

### 2.7. 部屋数の追加

In [215]:
# 部屋数のマージ
number_of_rooms = pd.read_excel("number_of_rooms.xlsx")
train_data_1 = pd.merge(train_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')
test_data_1 = pd.merge(test_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')

In [216]:
# インデックスの振り直し
train_data_1 = train_data_1.sort_values("id")
train_data_1 = train_data_1.reset_index(drop=True)

test_data_1 = test_data_1.sort_values("id")
test_data_1 = test_data_1.reset_index(drop=True)

### 2.8. 1部屋当たりの面積追加

In [217]:
# 面積と部屋数から1部屋当たりの面積を算出
train_data_1["1部屋当たり面積m2"] = (train_data_1["面積m2"] / train_data_1["部屋数"]).astype(float)
test_data_1["1部屋当たり面積m2"] = (test_data_1["面積m2"] / test_data_1["部屋数"]).astype(float)

In [218]:
# 間取りと間取りIDは削除する
train_data_1 = train_data_1.drop('間取り', axis=1)
test_data_1 = test_data_1.drop('間取り', axis=1)

# train_data_1 = train_data_1.drop('間取りID', axis=1)
# test_data_1 = test_data_1.drop('間取りID', axis=1)

#### 2.9. 建物の高さ率を追加(高さ率=所在/階層)

In [219]:
# 高さ率の算出
train_data_1["高さ率"] = (train_data_1["所在"] / train_data_1["階層"]).astype(float)
test_data_1["高さ率"] = (test_data_1["所在"] / test_data_1["階層"]).astype(float)

### 2.10. 建物構造の数値化

In [220]:
train_data_1["建物構造"].value_counts()

RC（鉄筋コンクリート）                   17505
木造                              5512
鉄骨造                             3726
SRC（鉄骨鉄筋コンクリート）                 2429
軽量鉄骨                            1812
ALC（軽量気泡コンクリート）                  297
その他                              136
PC（プレキャスト・コンクリート（鉄筋コンクリート））       46
HPC（プレキャスト・コンクリート（重量鉄骨））           4
ブロック                               3
Name: 建物構造, dtype: int64

In [221]:
# 建物構造にlabel encodingを適用
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([train_data_1["建物構造"],test_data_1["建物構造"]]))

train_data_1["建物構造ID"] = le.transform(train_data_1["建物構造"])
test_data_1["建物構造ID"] = le.transform(test_data_1["建物構造"])

In [222]:
test_data_1.head()

,id,築年数,面積m2,建物構造,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID
0,31471,49.0,50.22,鉄骨造,14,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00,10
1,31472,0.2,20.88,RC（鉄筋コンクリート）,9,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75,3
2,31473,23.4,26.93,鉄骨造,3,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25,10
3,31474,36.2,23.57,木造,3,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50,7
4,31475,45.4,50.00,RC（鉄筋コンクリート）,14,4.0,4.0,139.650468,35.689411,3.5,14.285714,1.00,3

In [223]:
# 不要になった建物構造カラムを削除する
train_data_1 = train_data_1.drop('建物構造', axis=1)
test_data_1 = test_data_1.drop('建物構造', axis=1)

### 2.11. 新規カラムに「賃料/面積」を追加

In [224]:
train_data_1["賃料/面積"] = train_data_1["賃料"] / train_data_1["面積m2"]

In [225]:
train_data_1.head()

,id,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,賃料/面積
0,1,75000,9.9,20.01,3,1.0,12.0,139.727873,35.747759,1.0,20.01,0.083333,3,3748.125937
1,2,76000,45.0,16.50,9,5.0,10.0,139.780485,35.662406,1.0,16.50,0.500000,10,4606.060606
2,3,110000,8.6,22.05,3,12.0,15.0,139.667375,35.675358,1.0,22.05,0.800000,3,4988.662132
3,4,150000,29.4,60.48,14,3.0,4.0,139.648495,35.700193,3.5,17.28,0.750000,3,2480.158730
4,5,74000,31.7,39.66,10,1.0,2.0,139.872315,35.766413,3.0,13.22,0.500000,7,1865.859808

### 2.12. 東京23区の住宅地の平均地価情報を追加

In [226]:
# 区の情報の確認(23区だけだった)
sample = train_data["所在地"].str.extract("東京都(.+区)", expand=True)
sample.value_counts()

世田谷区    3023
足立区     2191
大田区     2000
杉並区     1769
練馬区     1752
江戸川区    1702
板橋区     1624
港区      1513
江東区     1508
中央区     1279
品川区     1272
豊島区     1271
新宿区     1223
葛飾区     1212
中野区     1211
北区      1045
目黒区     1023
墨田区     1010
渋谷区      985
台東区      932
文京区      892
荒川区      576
千代田区     457
dtype: int64

In [227]:
# 訓練データとテストデータに"区"の情報を追加
train_data_1["区"] = train_data["所在地"].str.extract("東京都(.+区)", expand=True)
test_data_1["区"] = test_data["所在地"].str.extract("東京都(.+区)", expand=True)

In [229]:
test_data_1.head()

,id,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,区
0,31471,49.0,50.22,14,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00,10,世田谷区
1,31472,0.2,20.88,9,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75,3,目黒区
2,31473,23.4,26.93,3,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25,10,豊島区
3,31474,36.2,23.57,3,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50,7,杉並区
4,31475,45.4,50.00,14,4.0,4.0,139.650468,35.689411,3.5,14.285714,1.00,3,杉並区

In [ ]:
sample = test_data_1

In [230]:
# 外部データの住宅街平均地価を読み込み、"区"で結合
wards_value = pd.read_excel("23区_平均地価.xlsx")
train_data_1 = pd.merge(train_data_1, wards_value, on="区", how="inner")
test_data_1 = pd.merge(test_data_1, wards_value, on="区", how="inner")
train_data_1 = train_data_1.sort_values("id")
test_data_1 = test_data_1.sort_values("id")

In [234]:
# "区"のカラムを削除する
train_data_1 = train_data_1.drop('区', axis=1)
test_data_1 = test_data_1.drop('区', axis=1)

### 2.13. 重複物件の抽出・削除

In [236]:
# 重複確認用のデータ出力
# train_duplicate = pd.concat([train_data[["id", "賃料", "所在地"]], train_data_1[["間取りID", "面積m2", "所在", "階層"]]], axis=1)
# test_duplicate = pd.concat([test_data[["id", "所在地"]], test_data_1[["間取りID", "面積m2", "所在", "階層"]]], axis=1)

In [237]:
# 結果の出力
# train_duplicate.to_excel("train_duplicate.xlsx", header=True, index=False)
# test_duplicate.to_excel("test_duplicate.xlsx", header=True, index=False)

In [238]:
# 重複対象のデータ読み込み
train_duplicate_flag = pd.read_excel("train_duplicate_flag.xlsx")
test_duplicate_flag = pd.read_excel("test_duplicate_flag.xlsx")

In [239]:
# データ数のチェック
print("Train:", len(train_data_1), "-", len(train_duplicate_flag), "=", len(train_data_1)-len(train_duplicate_flag))
print("Test:", len(test_data_1), "-", len(test_duplicate_flag), "=", len(test_data_1)-len(test_duplicate_flag))

Train: 31470 - 31470 = 0
Test: 31262 - 31262 = 0

In [240]:
# 重複フラグを結合
train_data_1 = pd.merge(train_data_1, train_duplicate_flag, on="id")
train_data_1 = train_data_1.rename(columns={"賃料_x":"賃料"})
train_data_1 = train_data_1.drop('賃料_y', axis=1)

test_data_1 = pd.merge(test_data_1, test_duplicate_flag, on="id")

In [241]:
# testデータからのみ、flag=1.0の列を削除
print("【削除前】", "train:", len(train_data_1), ", ", "test:", len(test_data_1))
#train_data_1 = train_data_1.loc[train_data_1["flag"] != 1.0]
test_data_1 = test_data_1.loc[test_data_1["flag"] != 1.0]
print("【削除後】", "train:", len(train_data_1), ", ", "test:", len(test_data_1))

【削除前】 train: 31470 ,  test: 31262
【削除後】 train: 31470 ,  test: 24812

## 3. データチェック

In [242]:
train_data_1.isnull().sum()

id                0
賃料                0
築年数             889
面積m2              0
間取りID             0
所在              120
階層              594
経度                0
緯度                0
部屋数               0
1部屋当たり面積m2        0
高さ率             714
建物構造ID            0
賃料/面積             0
住宅地平均地価（円）        0
flag          25975
dtype: int64

In [243]:
test_data_1.isnull().sum()

id                0
築年数             675
面積m2              0
間取りID             0
所在              102
階層              476
経度                0
緯度                0
部屋数               0
1部屋当たり面積m2        0
高さ率             577
建物構造ID            0
住宅地平均地価（円）        0
flag          24812
dtype: int64

In [244]:
len(train_data_1)

31470

In [245]:
len(train_data)

31470

In [246]:
len(test_data_1)

24812

In [247]:
len(test_data)

31262

In [248]:
train_data_1.head()

,id,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,賃料/面積,住宅地平均地価（円）,flag
0,1,75000,9.9,20.01,3,1.0,12.0,139.727873,35.747759,1.0,20.01,0.083333,3,3748.125937,527500,NaN
1,2,76000,45.0,16.50,9,5.0,10.0,139.780485,35.662406,1.0,16.50,0.500000,10,4606.060606,1289200,1.0
2,3,110000,8.6,22.05,3,12.0,15.0,139.667375,35.675358,1.0,22.05,0.800000,3,4988.662132,1306000,NaN
3,4,150000,29.4,60.48,14,3.0,4.0,139.648495,35.700193,3.5,17.28,0.750000,3,2480.158730,538500,NaN
4,5,74000,31.7,39.66,10,1.0,2.0,139.872315,35.766413,3.0,13.22,0.500000,7,1865.859808,321300,NaN

In [251]:
test_data_1.head()

,id,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,住宅地平均地価（円）,flag
0,31471,49.0,50.22,14,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00,10,633800,NaN
1,31472,0.2,20.88,9,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75,3,954600,NaN
2,31473,23.4,26.93,3,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25,10,629300,NaN
3,31474,36.2,23.57,3,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50,7,538500,NaN
5,31476,25.6,21.45,9,1.0,2.0,139.686023,35.691395,1.0,21.450000,0.50,7,799600,NaN

## 4.学習

In [250]:
# IDとflagの削除
train_data_1_no_ID = train_data_1.drop(["id", "flag"], axis=1)
test_data_1_no_ID = test_data_1.drop(["id", "flag"], axis=1)

In [252]:
# 特徴データと目的変数の設定
train_x = train_data_1_no_ID.drop(["賃料", "賃料/面積"], axis=1)
train_y = train_data_1_no_ID["賃料/面積"]

test_x = test_data_1_no_ID

In [258]:
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.metrics import log_loss, accuracy_score
from sklearn.model_selection import KFold

scores = []
# GBDT用のハイパーパラメータ
params = {"objective": "reg:squarederror", "sileng":1, "random_state":71}
num_round = 50

# クロスバリデーション
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx, in kf.split(train_x):
    tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]
    
    # GBDTで学習実行
    dtrain = xgb.DMatrix(tr_x, label=tr_y) # enable_categorical=True
    dvalid = xgb.DMatrix(va_x, label=va_y)
    dtest = xgb.DMatrix(test_x)
    
    watchlist = [(dtrain, "train"), (dvalid, "eval")]
    model = xgb.train(params, dtrain, num_round, evals=watchlist)

[22:47:39] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2640.49219	eval-rmse:2617.00244
[1]	train-rmse:1899.52222	eval-rmse:1866.63269
[2]	train-rmse:1393.00183	eval-rmse:1350.05261
[3]	train-rmse:1052.98645	eval-rmse:999.42206
[4]	train-rmse:833.63013	eval-rmse:769.34100
[5]	train-rmse:695.09363	eval-rmse:623.43475
[6]	train-rmse:600.91663	eval-rmse:534.44092
[7]	train-rmse:549.31415	eval-rmse:480.66830
[8]	train-rmse:515.00915	eval-rmse:448.04175
[9]	train-rmse:496.37714	eval-rmse:429.82001
[10]	train-rmse:477.15628	eval-rmse:422.80508
[11]	train-rmse:470.04565	eval-rmse:416.53293
[12]	train-rmse:461.38257	eval-rmse:412.13123
[13]	train-rmse:456.17361	eval-rmse:408.72794
[14]	train-rmse:453.22665	eval-rmse:406.54346
[15]	train-rmse:447.87393	eval-rmse:403.79346
[16]	train-rmse:441.26706	eval-rmse:399.15472
[17]	train-rmse:435.99429	eval-rmse:394.30591
[18]	train-rmse:433.06885	eval-rmse:392.97272
[19]	train-rmse:430.48148	eval-rmse:391.58890
[20]	train-rmse:425.40741	eval-rmse:390.46027
[21]	train-rmse:420.88394	eval-rmse:386.11063
[22]	train-rmse:418.89032	eval-rmse:385.44437
[23]	train-rmse:416.60718	eval-rmse:383.69400
[24]	train-rmse:413.76205	eval-rmse:382.64316
[25]	train-rmse:412.59399	eval-rmse:381.89075
[26]	train-rmse:411.38480	eval-rmse:380.68601
[27]	train-rmse:410.20721	eval-rmse:379.75711
[28]	train-rmse:407.96670	eval-rmse:378.10117
[29]	train-rmse:406.54273	eval-rmse:376.48798
[30]	train-rmse:405.58472	eval-rmse:375.86057
[31]	train-rmse:404.92224	eval-rmse:375.29343
[32]	train-rmse:404.58740	eval-rmse:375.12115
[33]	train-rmse:400.94720	eval-rmse:374.01480
[34]	train-rmse:399.77554	eval-rmse:373.21265
[35]	train-rmse:398.79883	eval-rmse:372.48923
[36]	train-rmse:396.48535	eval-rmse:370.90308
[37]	train-rmse:394.24744	eval-rmse:370.11060
[38]	train-rmse:392.90848	eval-rmse:369.28714
[39]	train-rmse:390.70316	eval-rmse:368.15637
[40]	train-rmse:389.96802	eval-rmse:367.77463
[41]	train-rmse:388.63980	eval-rmse:366.77972
[42]	train-rmse:388.36105	eval-rmse:366.71460
[43]	train-rmse:386.72385	eval-rmse:365.83899
[44]	train-rmse:386.01199	eval-rmse:365.53629
[45]	train-rmse:385.50119	eval-rmse:365.20499
[46]	train-rmse:384.23377	eval-rmse:365.93072
[47]	train-rmse:382.83316	eval-rmse:364.79651
[48]	train-rmse:381.40765	eval-rmse:363.39954
[49]	train-rmse:380.66971	eval-rmse:363.15686
[22:47:39] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2619.15649	eval-rmse:2693.33008
[1]	train-rmse:1873.01819	eval-rmse:1974.36279
[2]	train-rmse:1358.47144	eval-rmse:1493.03699
[3]	train-rmse:1008.54511	eval-rmse:1183.21289
[4]	train-rmse:775.47076	eval-rmse:991.44763
[5]	train-rmse:625.53827	eval-rmse:879.49817
[6]	train-rmse:527.73938	eval-rmse:810.53760
[7]	train-rmse:469.09399	eval-rmse:773.74451
[8]	train-rmse:435.58072	eval-rmse:753.65643
[9]	train-rmse:412.46756	eval-rmse:739.48187
[10]	train-rmse:397.32138	eval-rmse:729.62018
[11]	train-rmse:383.53360	eval-rmse:721.87994
[12]	train-rmse:377.02243	eval-rmse:719.39050
[13]	train-rmse:369.99383	eval-rmse:716.50476
[14]	train-rmse:364.37881	eval-rmse:713.37866
[15]	train-rmse:360.30652	eval-rmse:711.85309
[16]	train-rmse:357.59921	eval-rmse:711.14130
[17]	train-rmse:352.98163	eval-rmse:708.56006
[18]	train-rmse:349.60889	eval-rmse:707.30890
[19]	train-rmse:346.42917	eval-rmse:704.31043
[20]	train-rmse:344.16559	eval-rmse:703.59045
[21]	train-rmse:339.54279	eval-rmse:701.52563
[22]	train-rmse:336.32730	eval-rmse:700.12817
[23]	train-rmse:334.63821	eval-rmse:699.62250
[24]	train-rmse:333.39004	eval-rmse:699.76105
[25]	train-rmse:330.65091	eval-rmse:699.04523
[26]	train-rmse:327.14325	eval-rmse:697.63269
[27]	train-rmse:325.98111	eval-rmse:697.46014
[28]	train-rmse:322.91446	eval-rmse:696.17590
[29]	train-rmse:321.00253	eval-rmse:695.49554
[30]	train-rmse:318.15884	eval-rmse:694.64807
[31]	train-rmse:316.99576	eval-rmse:694.30902
[32]	train-rmse:315.11719	eval-rmse:694.15320
[33]	train-rmse:314.50104	eval-rmse:693.96222
[34]	train-rmse:312.33850	eval-rmse:692.99695
[35]	train-rmse:309.87863	eval-rmse:691.90845
[36]	train-rmse:307.19031	eval-rmse:691.32202
[37]	train-rmse:306.50772	eval-rmse:691.09558
[38]	train-rmse:304.40299	eval-rmse:690.30408
[39]	train-rmse:302.86527	eval-rmse:689.92108
[40]	train-rmse:301.92935	eval-rmse:689.74939
[41]	train-rmse:299.91620	eval-rmse:689.16406
[42]	train-rmse:298.47311	eval-rmse:688.84375
[43]	train-rmse:296.63211	eval-rmse:688.20660
[44]	train-rmse:294.91870	eval-rmse:686.96637
[45]	train-rmse:294.34589	eval-rmse:686.83246
[46]	train-rmse:293.39935	eval-rmse:686.36108
[47]	train-rmse:292.51660	eval-rmse:686.23969
[48]	train-rmse:290.72662	eval-rmse:685.21100
[49]	train-rmse:289.84543	eval-rmse:684.95209
[22:47:40] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2643.42578	eval-rmse:2616.20996
[1]	train-rmse:1902.52808	eval-rmse:1871.56860
[2]	train-rmse:1397.75708	eval-rmse:1361.71655
[3]	train-rmse:1060.65210	eval-rmse:1018.13928
[4]	train-rmse:833.54565	eval-rmse:790.15814
[5]	train-rmse:695.99280	eval-rmse:647.47150
[6]	train-rmse:610.54694	eval-rmse:556.92401
[7]	train-rmse:555.09399	eval-rmse:502.66248
[8]	train-rmse:522.91608	eval-rmse:468.74411
[9]	train-rmse:503.96133	eval-rmse:453.43597
[10]	train-rmse:484.05991	eval-rmse:441.27512
[11]	train-rmse:475.75555	eval-rmse:432.23413
[12]	train-rmse:470.54858	eval-rmse:427.29629
[13]	train-rmse:466.48740	eval-rmse:422.78568
[14]	train-rmse:461.48172	eval-rmse:417.91522
[15]	train-rmse:456.92709	eval-rmse:413.10696
[16]	train-rmse:453.86545	eval-rmse:411.71750
[17]	train-rmse:442.05704	eval-rmse:406.55566
[18]	train-rmse:436.60034	eval-rmse:400.71411
[19]	train-rmse:434.54251	eval-rmse:399.70828
[20]	train-rmse:431.29535	eval-rmse:397.32721
[21]	train-rmse:428.69345	eval-rmse:394.65631
[22]	train-rmse:426.54773	eval-rmse:393.71771
[23]	train-rmse:424.44168	eval-rmse:392.35416
[24]	train-rmse:422.45596	eval-rmse:391.05829
[25]	train-rmse:421.65323	eval-rmse:390.59720
[26]	train-rmse:420.68558	eval-rmse:390.01889
[27]	train-rmse:413.93579	eval-rmse:388.11435
[28]	train-rmse:411.99969	eval-rmse:386.66708
[29]	train-rmse:410.26907	eval-rmse:385.35642
[30]	train-rmse:409.85034	eval-rmse:385.51071
[31]	train-rmse:408.68201	eval-rmse:385.61618
[32]	train-rmse:406.84448	eval-rmse:384.17157
[33]	train-rmse:405.05002	eval-rmse:383.16779
[34]	train-rmse:404.28781	eval-rmse:382.64630
[35]	train-rmse:402.68991	eval-rmse:381.97607
[36]	train-rmse:402.43344	eval-rmse:382.04080
[37]	train-rmse:402.02277	eval-rmse:381.69168
[38]	train-rmse:396.78488	eval-rmse:379.72916
[39]	train-rmse:392.35525	eval-rmse:377.86816
[40]	train-rmse:391.38168	eval-rmse:377.71841
[41]	train-rmse:390.63760	eval-rmse:377.06638
[42]	train-rmse:389.64761	eval-rmse:376.25205
[43]	train-rmse:389.33737	eval-rmse:376.10291
[44]	train-rmse:387.19305	eval-rmse:374.75088
[45]	train-rmse:385.98975	eval-rmse:374.11762
[46]	train-rmse:385.06955	eval-rmse:373.66235
[47]	train-rmse:381.78330	eval-rmse:372.35257
[48]	train-rmse:379.88150	eval-rmse:371.85400
[49]	train-rmse:378.43665	eval-rmse:371.03476
[22:47:40] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2639.37109	eval-rmse:2633.87793
[1]	train-rmse:1901.07800	eval-rmse:1899.47522
[2]	train-rmse:1395.96704	eval-rmse:1393.29956
[3]	train-rmse:1057.79431	eval-rmse:1057.42859
[4]	train-rmse:834.75793	eval-rmse:837.14050
[5]	train-rmse:677.34131	eval-rmse:712.67249
[6]	train-rmse:590.59747	eval-rmse:628.59930
[7]	train-rmse:519.14343	eval-rmse:595.93951
[8]	train-rmse:471.17188	eval-rmse:590.60059
[9]	train-rmse:452.51907	eval-rmse:576.35217
[10]	train-rmse:427.06714	eval-rmse:589.25250
[11]	train-rmse:415.02786	eval-rmse:584.57129
[12]	train-rmse:398.25003	eval-rmse:602.98755
[13]	train-rmse:390.05145	eval-rmse:597.93097
[14]	train-rmse:379.88672	eval-rmse:618.92035
[15]	train-rmse:370.40756	eval-rmse:637.08154
[16]	train-rmse:366.96020	eval-rmse:635.76392
[17]	train-rmse:362.55518	eval-rmse:633.94775
[18]	train-rmse:356.06091	eval-rmse:648.66962
[19]	train-rmse:352.53766	eval-rmse:653.51721
[20]	train-rmse:349.84463	eval-rmse:652.22375
[21]	train-rmse:348.12601	eval-rmse:651.26410
[22]	train-rmse:347.22577	eval-rmse:651.03467
[23]	train-rmse:343.40625	eval-rmse:649.57806
[24]	train-rmse:338.22708	eval-rmse:662.93408
[25]	train-rmse:335.97336	eval-rmse:662.48199
[26]	train-rmse:333.28296	eval-rmse:661.62964
[27]	train-rmse:328.13702	eval-rmse:673.33051
[28]	train-rmse:326.02301	eval-rmse:672.66467
[29]	train-rmse:324.66931	eval-rmse:672.35388
[30]	train-rmse:319.96286	eval-rmse:674.12476
[31]	train-rmse:317.83823	eval-rmse:674.00769
[32]	train-rmse:317.42258	eval-rmse:673.58264
[33]	train-rmse:315.95395	eval-rmse:673.30438
[34]	train-rmse:315.51675	eval-rmse:673.23261
[35]	train-rmse:314.57211	eval-rmse:673.29071
[36]	train-rmse:313.27304	eval-rmse:672.93543
[37]	train-rmse:311.18027	eval-rmse:683.53418
[38]	train-rmse:309.59790	eval-rmse:683.35419
[39]	train-rmse:309.18118	eval-rmse:683.44702
[40]	train-rmse:307.88245	eval-rmse:682.87946
[41]	train-rmse:304.74008	eval-rmse:682.34723
[42]	train-rmse:302.58359	eval-rmse:681.65863
[43]	train-rmse:301.75098	eval-rmse:681.20886
[44]	train-rmse:300.15906	eval-rmse:680.45648
[45]	train-rmse:298.55643	eval-rmse:680.29596
[46]	train-rmse:297.76553	eval-rmse:680.16351
[47]	train-rmse:296.68951	eval-rmse:680.00110
[48]	train-rmse:295.98578	eval-rmse:679.47052
[49]	train-rmse:294.79721	eval-rmse:679.30212

## 5. 予測

In [259]:
# テストデータでの予測
pred = model.predict(dtest)

In [260]:
pred

array([2642.8484, 5464.105 , 3060.3813, ..., 4393.2046, 3758.0508,
       3839.1443], dtype=float32)

In [261]:
len(pred)

24812

In [262]:
len(test_data_1)

24812

## 6. データ出力

In [263]:
# 予測結果の結合
test_data_1["賃料/面積"] = pred

In [264]:
test_data_1.head()

,id,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,住宅地平均地価（円）,flag,賃料/面積
0,31471,49.0,50.22,14,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00,10,633800,NaN,2642.848389
1,31472,0.2,20.88,9,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75,3,954600,NaN,5464.104980
2,31473,23.4,26.93,3,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25,10,629300,NaN,3060.381348
3,31474,36.2,23.57,3,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50,7,538500,NaN,2574.086426
5,31476,25.6,21.45,9,1.0,2.0,139.686023,35.691395,1.0,21.450000,0.50,7,799600,NaN,3084.670898

In [265]:
# 予測結果から賃料を算出し、int型に変換
test_data_1["賃料"] = (test_data_1["面積m2"] * test_data_1["賃料/面積"]).astype(int)

In [266]:
result = test_data_1[["id", "賃料"]]

In [267]:
result

          id      賃料
0      31471  132723
1      31472  114090
2      31473   82416
3      31474   60671
5      31476   66166
...      ...     ...
31255  62726  109220
31257  62728  105386
31258  62729   99769
31259  62730  171968
31261  62732   81313

[24812 rows x 2 columns]

In [268]:
len(result)

24812

In [269]:
# 除外していた重複idの賃料を戻す
test_duplicate_rentvalue = pd.read_excel("test_duplicate_rentvalue.xlsx")
result = pd.concat([result, test_duplicate_rentvalue])
result = result.sort_values("id")
len(result)

31262

In [270]:
result

          id      賃料
0      31471  132723
1      31472  114090
2      31473   82416
3      31474   60671
0      31475   90000
...      ...     ...
31257  62728  105386
31258  62729   99769
31259  62730  171968
6449   62731  280000
31261  62732   81313

[31262 rows x 2 columns]

In [271]:
result.to_csv("result.csv", header=False, index=False)