In [5]:
import pandas as pd
customer_master = pd.read_csv('./sample_100knocks/サンプルコード_20200325/1章/customer_master.csv')
item_master = pd.read_csv('./sample_100knocks/サンプルコード_20200325/1章/item_master.csv')
transaction_1 = pd.read_csv('./sample_100knocks/サンプルコード_20200325/1章/transaction_1.csv')
transaction_2 = pd.read_csv('./sample_100knocks/サンプルコード_20200325/1章/transaction_2.csv')
transaction_detail_1 = pd.read_csv('./sample_100knocks/サンプルコード_20200325/1章/transaction_detail_1.csv')
transaction_detail_2 = pd.read_csv('./sample_100knocks/サンプルコード_20200325/1章/transaction_detail_2.csv')

transaction = pd.concat([transaction_1, transaction_2], ignore_index=True)
transaction_detail = pd.concat([transaction_detail_1, transaction_detail_2], ignore_index=True)

join_data = pd.merge(transaction_detail, transaction[["transaction_id", "payment_date", "customer_id"]], on="transaction_id", how="left")
join_data.head()

   detail_id transaction_id item_id  quantity         payment_date customer_id
0          0    T0000000113    S005         1  2019-02-01 01:36:57    PL563502
1          1    T0000000114    S001         1  2019-02-01 01:37:23    HD678019
2          2    T0000000115    S003         1  2019-02-01 02:34:19    HD298120
3          3    T0000000116    S005         1  2019-02-01 02:47:23    IK452215
4          4    T0000000117    S002         2  2019-02-01 04:33:46    PL542865

In [7]:
print(len(transaction_detail))
print(len(transaction))
print(len(join_data))

7144
6786
7144