# [【SOTA】マイナビ × SIGNATE Student Cup 2019: 賃貸物件の家賃予測](https://signate.jp/competitions/264)

## 1. データ読み込み

In [49]:
import pandas as pd
import numpy as np
import pathlib
import os

# 学習データ、テストデータの読み込み
train_path = pathlib.Path("./DATA/train.csv")
test_path = pathlib.Path("./DATA/test.csv")

train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)

In [50]:
test_data.head()

,id,所在地,アクセス,間取り,築年数,方角,面積,所在階,バス・トイレ,キッチン,放送・通信,室内設備,駐車場,周辺環境,建物構造,契約期間
0,31471,東京都世田谷区深沢５丁目1-27,東急大井町線\t等々力駅\t徒歩15分\t\t東急田園都市線\t桜新町駅\t徒歩24分\t\...,2LDK,49年0ヶ月,南,50.22m2,8階／8階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t追焚機能／\t温水洗浄便座／...,ガスコンロ／\tコンロ3口／\tシステムキッチン\t／\t給湯／\tL字キッチン,インターネット対応,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\tエレベーター\t公営水...,駐輪場\t空有\t駐車場\t無\tバイク置き場\t無,【コンビニ】 74m\t【スーパー】 215m\t【病院】 313m\t【小学校】 219m...,鉄骨造,NaN
1,31472,東京都目黒区八雲１丁目11-8,東急東横線\t都立大学駅\t徒歩6分\t\t東急東横線\t自由が丘駅\t徒歩17分\t\t東...,1R,0年2ヶ月,南東,20.88m2,3階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t浴室乾燥機\t／\t温水洗浄...,ガスコンロ／\tコンロ2口／\tシステムキッチン\t／\t給湯,インターネット対応／\tCSアンテナ／\tBSアンテナ／\tインターネット使用料無料,エアコン付\tシューズボックス／\tフローリング／\t室内洗濯機置場\t公営水道／\t下水／...,"駐車場\t近隣\t34,000円(税込)\t距離200m\t駐輪場\t無\tバイク置き場\t無",【スーパー】 128m\t【スーパー】 313m\t【コンビニ】 374m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間
2,31473,東京都豊島区池袋本町２丁目22-2,東武東上線\t北池袋駅\t徒歩10分\t\t埼京線\t板橋駅\t徒歩16分\t\t山手線\t...,1K,23年4ヶ月,南東,26.93m2,1階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t温水洗浄便座,ガスコンロ／\t給湯,インターネット対応／\t光ファイバー／\tCATV,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t2面採光／\t室内洗濯...,"駐車場\t空有\t5,000円(税込)\t(敷金あり\t1ヶ月)\t駐輪場\t空有\tバイク...",【スーパー】 529m\t【スーパー】 810m\t【コンビニ】 316m\t【コンビニ】 ...,鉄骨造,2年間
3,31474,東京都杉並区和泉１丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩10分\t\t京王線\t代田橋駅\t徒歩8分...,1K,36年2ヶ月,南東,23.57m2,1階／2階建,シャワー,ガスコンロ／\t給湯,NaN,エアコン付\tシューズボックス／\t2面採光／\t室外洗濯機置場\t公営水道／\t下水／\t...,駐輪場\t空有\t0円,【スーパー】 286m\t【スーパー】 702m\t【コンビニ】 489m\t【コンビニ】 ...,木造,2年間
4,31475,東京都杉並区堀ノ内２丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩12分\t\t丸ノ内線(池袋－荻窪)\t新高...,2LDK,45年4ヶ月,南,50m2,4階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別,コンロ設置可（口数不明）／\t給湯,インターネット対応,冷房／\tエアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t室内洗濯機置...,"駐車場\t近隣\t22,600円\t距離177m",【コンビニ】 312m\t【コンビニ】 436m\t【スーパー】 902m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間

## 2. 前処理

### 2.1. データ選択

In [51]:
# 簡単な前処理
train_data_1 = train_data[["id", "賃料", "間取り", "築年数", "面積", "所在階"]]
test_data_1 = test_data[["id", "間取り", "築年数", "面積", "所在階"]]

### 2.2. 間取りの数値化

In [52]:
# 間取りにlabel encodingを適用
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([train_data_1["間取り"],test_data_1["間取り"]]))

train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

<ipython-input-52-95a8caebc059>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
<ipython-input-52-95a8caebc059>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

### 2.3. 面積の数値化

In [53]:
# 面積のカラムタイトルを面積[m2]に置換
train_data_1 = train_data_1.rename(columns={"面積": "面積m2"})
test_data_1 = test_data_1.rename(columns={"面積": "面積m2"})

In [54]:
# カラムタイトル面積[m2]の要素からm2を削除
train_data_1['面積m2'] = train_data_1['面積m2'].str.replace('m2', '').astype(float)
test_data_1['面積m2'] = test_data_1['面積m2'].str.replace('m2', '').astype(float)

### 2.4. 所在階の数値化

In [55]:
# 所在階の中身を"／"で2つの列に分割
train_data_1 = pd.concat([train_data_1, train_data_1['所在階'].str.split('／', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['所在階'].str.split('／', expand=True)], axis=1)

In [56]:
# 分割した所在階のカラム名変更　0:所在、1:階層
train_data_1 = train_data_1.rename(columns={0:"所在", 1:"階層"})
test_data_1 = test_data_1.rename(columns={0:"所在", 1:"階層"})

In [57]:
# 所在と階層の要素を整形
train_data_1['所在'] = train_data_1['所在'].str.replace('階', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('建', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('地下', '-')
train_data_1['所在'] = train_data_1['所在'].str.replace('\（.*\）', '', regex=True)
train_data_1['階層'] = train_data_1['階層'].str.replace('階建', '')
train_data_1['階層'] = train_data_1['階層'].str.replace('\（.*\）', '', regex=True)
train_data_1['所在'] = train_data_1['所在'].replace('', np.nan)

test_data_1['所在'] = test_data_1['所在'].str.replace('階', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('建', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('地下', '-')
test_data_1['所在'] = test_data_1['所在'].str.replace('\（.*\）', '', regex=True)
test_data_1['階層'] = test_data_1['階層'].str.replace('階建', '')
test_data_1['階層'] = test_data_1['階層'].str.replace('\（.*\）', '', regex=True)
test_data_1['所在'] = test_data_1['所在'].replace('', np.nan)

In [58]:
# "階層"がNoneの箇所を"所在"の値で埋める
train_data_1['階層'].fillna(train_data_1['所在'], inplace=True)
test_data_1['階層'].fillna(test_data_1['所在'], inplace=True)

In [59]:
# 所在と階層の要素をfloat型に変換する
train_data_1['所在'] = train_data_1['所在'].astype(float)
train_data_1['階層'] = train_data_1['階層'].astype(float)

test_data_1['所在'] = test_data_1['所在'].astype(float)
test_data_1['階層'] = test_data_1['階層'].astype(float)

In [60]:
# 所在階のカラムを削除
train_data_1 = train_data_1.drop('所在階', axis=1)
test_data_1 = test_data_1.drop('所在階', axis=1)

In [61]:
# 所在のNaNを埋める
train_data_1.loc[train_data_1["所在"].isnull(), "所在"] = train_data_1["階層"]
test_data_1.loc[test_data_1["所在"].isnull(), "所在"] = test_data_1["階層"]

In [62]:
# 所在も階層も空欄のデータは間取りと面積の近いデータで埋める
print(test_data_1[(test_data_1["間取りID"] == 21) & (test_data_1["面積m2"] > 90) & (test_data_1["面積m2"] < 95)].mean())
test_data_1.loc[test_data_1["id"]==40675, "所在"] = float(6)
test_data_1.loc[test_data_1["id"]==40675, "階層"] = float(9)

id       44448.676471
面積m2        92.323824
間取りID       21.000000
所在           6.181818
階層           9.878788
dtype: float64

### 2.5. 築年数の数値化

In [63]:
# 新築の場合は全て0にする
train_data_1.loc[train_data_1["築年数"]=="新築", "築年数"] = float(0)
test_data_1.loc[test_data_1["築年数"]=="新築", "築年数"] = float(0)

In [64]:
# 築年数を数値に変換する
train_data_1 = pd.concat([train_data_1, train_data_1['築年数'].str.split('年', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['築年数'].str.split('年', expand=True)], axis=1)

In [65]:
# ヶ月を消す
train_data_1[1] = train_data_1[1].str.replace('ヶ月', '')
test_data_1[1] = test_data_1[1].str.replace('ヶ月', '')

In [66]:
# 築年数をfloat変換
train_data_1["築年数"] = train_data_1[0].astype(float) + (train_data_1[1].astype(float) / float(10))
test_data_1["築年数"] = test_data_1[0].astype(float) + (test_data_1[1].astype(float) / float(10))

In [67]:
test_data_1.head()

      id   間取り   築年数   面積m2  間取りID   所在   階層   0  1
0  31471  2LDK  49.0  50.22     14  8.0  8.0  49  0
1  31472    1R   0.2  20.88      9  3.0  4.0   0  2
2  31473    1K  23.4  26.93      3  1.0  4.0  23  4
3  31474    1K  36.2  23.57      3  1.0  2.0  36  2
4  31475  2LDK  45.4  50.00     14  4.0  4.0  45  4

In [68]:
print(test_data_1[test_data_1["築年数"].isnull()])

          id       間取り  築年数   面積m2  間取りID   所在    階層    0    1
77     31548  1K+S(納戸)  NaN  23.80      4  2.0   3.0  NaN  NaN
108    31579        1K  NaN  26.44      3  7.0  13.0  NaN  NaN
112    31583      1LDK  NaN  41.65      5  3.0  10.0  NaN  NaN
156    31627        1R  NaN  20.56      9  3.0  12.0  NaN  NaN
162    31633        1K  NaN  25.34      3  1.0   8.0  NaN  NaN
...      ...       ...  ...    ...    ...  ...   ...  ...  ...
31141  62612      2LDK  NaN  60.81     14  2.0   2.0  NaN  NaN
31176  62647      1LDK  NaN  40.06      5  3.0  10.0  NaN  NaN
31181  62652      1LDK  NaN  40.26      5  2.0   3.0  NaN  NaN
31182  62653      2LDK  NaN  54.75     14  1.0   3.0  NaN  NaN
31212  62683      1LDK  NaN  40.79      5  2.0   3.0  NaN  NaN

[850 rows x 9 columns]

In [69]:
# 0と1の列を消す
train_data_1 = train_data_1.drop(0, axis=1)
train_data_1 = train_data_1.drop(1, axis=1)

test_data_1 = test_data_1.drop(0, axis=1)
test_data_1 = test_data_1.drop(1, axis=1)

### 2.6. 緯度経度情報の追加

#### [このサイト](https://ktgis.net/gcode/geocoding.html)を利用する

In [70]:
# IDと住所をファイル出力
train_coordinate = train_data[["id", "所在地"]]
test_coordinate = test_data[["id", "所在地"]]

train_coordinate.to_csv("train_coordinate.csv", header=False, index=False)
test_coordinate.to_csv("test_coordinate.csv", header=False, index=False)

In [71]:
# 緯度、経度情報の読み込み(id, 所在地, 経度, 緯度)
train_coordinate_addvalue = pd.read_excel("train_coordinate_addvalue.xlsx")
test_coordinate_addvalue = pd.read_excel("test_coordinate_addvalue.xlsx")

In [72]:
train_data_1 = pd.merge(train_data_1, train_coordinate_addvalue[["id", "経度", "緯度"]], on='id')
test_data_1 = pd.merge(test_data_1, test_coordinate_addvalue[["id", "経度", "緯度"]], on='id')

### 2.7. 部屋数の追加

In [73]:
# 部屋数のマージ
number_of_rooms = pd.read_excel("number_of_rooms.xlsx")
train_data_1 = pd.merge(train_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')
test_data_1 = pd.merge(test_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')

In [74]:
# インデックスの振り直し
train_data_1 = train_data_1.sort_values("id")
train_data_1 = train_data_1.reset_index(drop=True)

test_data_1 = test_data_1.sort_values("id")
test_data_1 = test_data_1.reset_index(drop=True)

### 2.8. 1部屋当たりの面積追加

In [75]:
# 面積と部屋数から1部屋当たりの面積を算出
train_data_1["1部屋当たり面積m2"] = (train_data_1["面積m2"] / train_data_1["部屋数"]).astype(float)
test_data_1["1部屋当たり面積m2"] = (test_data_1["面積m2"] / test_data_1["部屋数"]).astype(float)

In [76]:
# 間取りと間取りIDは削除する
train_data_1 = train_data_1.drop('間取り', axis=1)
test_data_1 = test_data_1.drop('間取り', axis=1)

# train_data_1 = train_data_1.drop('間取りID', axis=1)
# test_data_1 = test_data_1.drop('間取りID', axis=1)

### 2.9. 建物の高さ率を追加(高さ率=所在/階層)

In [78]:
# 高さ率の算出
train_data_1["高さ率"] = (train_data_1["所在"] / train_data_1["階層"]).astype(float)
test_data_1["高さ率"] = (test_data_1["所在"] / test_data_1["階層"]).astype(float)

## 3. データチェック

In [81]:
train_data_1.isnull().sum()

id              0
賃料              0
築年数           889
面積m2            0
間取りID           0
所在              0
階層              0
経度              0
緯度              0
部屋数             0
1部屋当たり面積m2      0
高さ率             0
dtype: int64

In [82]:
test_data_1.isnull().sum()

id              0
築年数           850
面積m2            0
間取りID           0
所在              0
階層              0
経度              0
緯度              0
部屋数             0
1部屋当たり面積m2      0
高さ率             0
dtype: int64

In [83]:
len(train_data_1)

31470

In [84]:
len(train_data)

31470

In [85]:
len(test_data_1)

31262

In [86]:
len(test_data)

31262

In [87]:
train_data_1.head()

,id,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率
0,1,75000,9.9,20.01,3,1.0,12.0,139.727873,35.747759,1.0,20.01,0.083333
1,2,76000,45.0,16.50,9,5.0,10.0,139.780485,35.662406,1.0,16.50,0.500000
2,3,110000,8.6,22.05,3,12.0,15.0,139.667375,35.675358,1.0,22.05,0.800000
3,4,150000,29.4,60.48,14,3.0,4.0,139.648495,35.700193,3.5,17.28,0.750000
4,5,74000,31.7,39.66,10,1.0,2.0,139.872315,35.766413,3.0,13.22,0.500000

In [88]:
test_data_1.head()

,id,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率
0,31471,49.0,50.22,14,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00
1,31472,0.2,20.88,9,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75
2,31473,23.4,26.93,3,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25
3,31474,36.2,23.57,3,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50
4,31475,45.4,50.00,14,4.0,4.0,139.650468,35.689411,3.5,14.285714,1.00

## 4.学習

In [89]:
# IDの削除
train_data_1_no_ID = train_data_1.drop(["id"], axis=1)
test_data_1_no_ID = test_data_1.drop(["id"], axis=1)

In [90]:
# 特徴データと目的変数の設定
train_x = train_data_1_no_ID.drop(["賃料"], axis=1)
train_y = train_data_1_no_ID["賃料"]

test_x = test_data_1_no_ID

In [91]:
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.metrics import log_loss, accuracy_score
from sklearn.model_selection import KFold

scores = []
# GBDT用のハイパーパラメータ
params = {"objective": "reg:squarederror", "sileng":1, "random_state":71}
num_round = 50

# クロスバリデーション
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx, in kf.split(train_x):
    tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]
    
    # GBDTで学習実行
    dtrain = xgb.DMatrix(tr_x, label=tr_y) # enable_categorical=True
    dvalid = xgb.DMatrix(va_x, label=va_y)
    dtest = xgb.DMatrix(test_x)
    
    watchlist = [(dtrain, "train"), (dvalid, "eval")]
    model = xgb.train(params, dtrain, num_round, evals=watchlist)

[15:47:18] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:100905.00000	eval-rmse:100033.85156
[1]	train-rmse:74214.25000	eval-rmse:73914.16406
[2]	train-rmse:55750.40234	eval-rmse:56886.06250
[3]	train-rmse:43198.82031	eval-rmse:44694.98828
[4]	train-rmse:34737.61328	eval-rmse:37141.64453
[5]	train-rmse:29083.79297	eval-rmse:32256.46875
[6]	train-rmse:25304.08008	eval-rmse:28362.83203
[7]	train-rmse:22651.04688	eval-rmse:26186.54102
[8]	train-rmse:20879.48047	eval-rmse:24872.21484
[9]	train-rmse:19553.35742	eval-rmse:23833.25000
[10]	train-rmse:18562.08594	eval-rmse:23201.93945
[11]	train-rmse:17970.30469	eval-rmse:22818.99219
[12]	train-rmse:17590.74219	eval-rmse:22602.36328
[13]	train-rmse:16993.35938	eval-rmse:22120.90039
[14]	train-rmse:16667.03320	eval-rmse:21833.49805
[15]	train-rmse:16271.73535	eval-rmse:21582.10156
[16]	train-rmse:16113.58008	eval-rmse:21533.75586
[17]	train-rmse:15907.26465	eval-rmse:21488.86914
[18]	train-rmse:15692.07324	eval-rmse:21364.75391
[19]	train-rmse:15503.24805	eval-rmse:21258.76172
[20]	train-rmse:15305.16797	eval-rmse:21207.16797
[21]	train-rmse:15168.10254	eval-rmse:21120.06836
[22]	train-rmse:15062.19238	eval-rmse:21066.94531
[23]	train-rmse:14923.66211	eval-rmse:20981.10938
[24]	train-rmse:14850.36719	eval-rmse:20942.05078
[25]	train-rmse:14722.80566	eval-rmse:20899.82227
[26]	train-rmse:14608.10254	eval-rmse:20923.75781
[27]	train-rmse:14540.16797	eval-rmse:20893.00195
[28]	train-rmse:14375.45996	eval-rmse:20902.51172
[29]	train-rmse:14321.06152	eval-rmse:20897.66992
[30]	train-rmse:14242.90039	eval-rmse:20843.22656
[31]	train-rmse:14157.84863	eval-rmse:20771.53906
[32]	train-rmse:14111.91113	eval-rmse:20736.94922
[33]	train-rmse:13960.87109	eval-rmse:20622.84961
[34]	train-rmse:13593.57129	eval-rmse:20560.16406
[35]	train-rmse:13496.48926	eval-rmse:20530.72461
[36]	train-rmse:13434.04590	eval-rmse:20486.88086
[37]	train-rmse:13364.70508	eval-rmse:20487.34961
[38]	train-rmse:13346.17090	eval-rmse:20481.37695
[39]	train-rmse:13236.50781	eval-rmse:20476.93945
[40]	train-rmse:13158.00488	eval-rmse:20406.16406
[41]	train-rmse:12920.43359	eval-rmse:20438.22852
[42]	train-rmse:12906.83496	eval-rmse:20424.67773
[43]	train-rmse:12850.87793	eval-rmse:20394.37695
[44]	train-rmse:12800.76660	eval-rmse:20370.53320
[45]	train-rmse:12765.30273	eval-rmse:20354.23633
[46]	train-rmse:12701.01758	eval-rmse:20326.98828
[47]	train-rmse:12626.97461	eval-rmse:20356.43750
[48]	train-rmse:12594.37598	eval-rmse:20347.25977
[49]	train-rmse:12556.07519	eval-rmse:20346.25391
[15:47:18] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:100548.42969	eval-rmse:100935.79688
[1]	train-rmse:73521.36719	eval-rmse:74682.81250
[2]	train-rmse:54938.97656	eval-rmse:57395.26953
[3]	train-rmse:42244.26953	eval-rmse:46030.56250
[4]	train-rmse:33695.72656	eval-rmse:38740.53516
[5]	train-rmse:27992.05469	eval-rmse:35001.87500
[6]	train-rmse:24199.87500	eval-rmse:32562.32227
[7]	train-rmse:21470.22852	eval-rmse:30774.92578
[8]	train-rmse:19712.11328	eval-rmse:30000.74805
[9]	train-rmse:18393.80859	eval-rmse:29835.24805
[10]	train-rmse:17301.85156	eval-rmse:29533.71289
[11]	train-rmse:16559.69727	eval-rmse:29151.89844
[12]	train-rmse:16090.87305	eval-rmse:29009.94336
[13]	train-rmse:15764.04199	eval-rmse:29062.93750
[14]	train-rmse:15402.25879	eval-rmse:29072.08008
[15]	train-rmse:15103.90527	eval-rmse:29228.48047
[16]	train-rmse:14808.45117	eval-rmse:29012.21094
[17]	train-rmse:14517.56836	eval-rmse:28894.04883
[18]	train-rmse:14351.34863	eval-rmse:28764.55469
[19]	train-rmse:14215.41797	eval-rmse:28702.46484
[20]	train-rmse:14093.86523	eval-rmse:28656.84570
[21]	train-rmse:13795.01269	eval-rmse:28513.13086
[22]	train-rmse:13671.07129	eval-rmse:28469.08594
[23]	train-rmse:13482.93555	eval-rmse:28420.07812
[24]	train-rmse:13354.23242	eval-rmse:28374.05469
[25]	train-rmse:13301.69824	eval-rmse:28332.02539
[26]	train-rmse:13254.84766	eval-rmse:28300.27148
[27]	train-rmse:13121.41992	eval-rmse:28230.60742
[28]	train-rmse:13000.29199	eval-rmse:28290.83789
[29]	train-rmse:12937.69531	eval-rmse:28300.57227
[30]	train-rmse:12912.11035	eval-rmse:28290.25977
[31]	train-rmse:12804.46289	eval-rmse:28287.77734
[32]	train-rmse:12674.77832	eval-rmse:28273.22852
[33]	train-rmse:12625.74609	eval-rmse:28273.06836
[34]	train-rmse:12595.46875	eval-rmse:28263.48242
[35]	train-rmse:12488.64648	eval-rmse:28230.50195
[36]	train-rmse:12462.90918	eval-rmse:28205.52930
[37]	train-rmse:12434.67773	eval-rmse:28175.55664
[38]	train-rmse:12293.32617	eval-rmse:28055.34570
[39]	train-rmse:12225.15137	eval-rmse:28045.34180
[40]	train-rmse:12184.70410	eval-rmse:28031.10547
[41]	train-rmse:12053.89258	eval-rmse:27958.66406
[42]	train-rmse:11991.88867	eval-rmse:27947.46875
[43]	train-rmse:11927.77539	eval-rmse:27928.76367
[44]	train-rmse:11835.29590	eval-rmse:27994.29688
[45]	train-rmse:11783.74609	eval-rmse:27978.61328
[46]	train-rmse:11717.46387	eval-rmse:27964.90234
[47]	train-rmse:11701.01953	eval-rmse:27933.58008
[48]	train-rmse:11677.46387	eval-rmse:27931.72266
[49]	train-rmse:11602.41797	eval-rmse:27898.83594
[15:47:19] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:100385.75000	eval-rmse:103080.51562
[1]	train-rmse:73758.28906	eval-rmse:77441.74219
[2]	train-rmse:55420.98438	eval-rmse:60252.06250
[3]	train-rmse:42918.81641	eval-rmse:48364.10547
[4]	train-rmse:34565.58594	eval-rmse:40758.48047
[5]	train-rmse:28941.94141	eval-rmse:35466.89453
[6]	train-rmse:25311.41992	eval-rmse:32564.93945
[7]	train-rmse:22503.57617	eval-rmse:30384.70898
[8]	train-rmse:20947.08789	eval-rmse:29109.79297
[9]	train-rmse:19576.04688	eval-rmse:28027.66016
[10]	train-rmse:18635.57031	eval-rmse:27362.17188
[11]	train-rmse:17972.55664	eval-rmse:26739.83984
[12]	train-rmse:17362.61133	eval-rmse:26168.11328
[13]	train-rmse:16871.89258	eval-rmse:25606.94141
[14]	train-rmse:16651.42188	eval-rmse:25448.92578
[15]	train-rmse:16283.78320	eval-rmse:25029.20508
[16]	train-rmse:15948.35547	eval-rmse:24770.14844
[17]	train-rmse:15642.33398	eval-rmse:24531.47461
[18]	train-rmse:15442.67969	eval-rmse:24323.82617
[19]	train-rmse:15140.89648	eval-rmse:24289.71289
[20]	train-rmse:14943.10840	eval-rmse:24184.71680
[21]	train-rmse:14815.75098	eval-rmse:24098.11133
[22]	train-rmse:14668.29785	eval-rmse:24018.75977
[23]	train-rmse:14549.23438	eval-rmse:23938.83008
[24]	train-rmse:14426.92871	eval-rmse:23872.10547
[25]	train-rmse:14203.27148	eval-rmse:23812.54297
[26]	train-rmse:14028.82129	eval-rmse:23800.58008
[27]	train-rmse:13959.76856	eval-rmse:23814.79102
[28]	train-rmse:13840.36133	eval-rmse:23744.93359
[29]	train-rmse:13661.10059	eval-rmse:23644.50977
[30]	train-rmse:13599.70312	eval-rmse:23639.86523
[31]	train-rmse:13562.48242	eval-rmse:23613.33984
[32]	train-rmse:13433.16992	eval-rmse:23590.67773
[33]	train-rmse:13345.15039	eval-rmse:23553.08789
[34]	train-rmse:13281.85156	eval-rmse:23475.37305
[35]	train-rmse:13101.42871	eval-rmse:23392.08008
[36]	train-rmse:12982.21289	eval-rmse:23302.24219
[37]	train-rmse:12911.70801	eval-rmse:23262.54883
[38]	train-rmse:12899.59570	eval-rmse:23266.44336
[39]	train-rmse:12847.71191	eval-rmse:23271.91602
[40]	train-rmse:12678.92773	eval-rmse:23257.58008
[41]	train-rmse:12628.02539	eval-rmse:23245.82227
[42]	train-rmse:12599.98047	eval-rmse:23236.73047
[43]	train-rmse:12558.83008	eval-rmse:23227.27930
[44]	train-rmse:12511.46289	eval-rmse:23217.72070
[45]	train-rmse:12478.19434	eval-rmse:23227.96484
[46]	train-rmse:12408.73535	eval-rmse:23200.16797
[47]	train-rmse:12355.58984	eval-rmse:23166.29688
[48]	train-rmse:12280.78027	eval-rmse:23140.34570
[49]	train-rmse:12236.98438	eval-rmse:23096.36328
[15:47:19] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:100857.57031	eval-rmse:101032.01562
[1]	train-rmse:73914.89844	eval-rmse:74889.59375
[2]	train-rmse:55339.76172	eval-rmse:57045.64453
[3]	train-rmse:42766.15234	eval-rmse:45037.73438
[4]	train-rmse:34235.09375	eval-rmse:37387.07422
[5]	train-rmse:28646.14258	eval-rmse:32017.29297
[6]	train-rmse:24770.10938	eval-rmse:28587.37109
[7]	train-rmse:22100.61328	eval-rmse:26154.75781
[8]	train-rmse:20539.12305	eval-rmse:24816.31055
[9]	train-rmse:19015.63672	eval-rmse:23522.12109
[10]	train-rmse:18154.20508	eval-rmse:22604.01367
[11]	train-rmse:17449.65820	eval-rmse:21998.32227
[12]	train-rmse:16529.74023	eval-rmse:21458.05273
[13]	train-rmse:16140.17578	eval-rmse:21203.78906
[14]	train-rmse:15963.68555	eval-rmse:21086.72852
[15]	train-rmse:15659.99121	eval-rmse:20938.63477
[16]	train-rmse:15284.31934	eval-rmse:20713.49023
[17]	train-rmse:15023.92676	eval-rmse:20756.03906
[18]	train-rmse:14928.05762	eval-rmse:20712.43359
[19]	train-rmse:14697.00293	eval-rmse:20584.78516
[20]	train-rmse:14598.58106	eval-rmse:20544.43945
[21]	train-rmse:14467.08496	eval-rmse:20431.38672
[22]	train-rmse:14316.56445	eval-rmse:20229.22266
[23]	train-rmse:14212.61231	eval-rmse:20222.57812
[24]	train-rmse:13841.08789	eval-rmse:20159.83008
[25]	train-rmse:13727.40820	eval-rmse:20137.24023
[26]	train-rmse:13632.80566	eval-rmse:20068.09180
[27]	train-rmse:13543.32422	eval-rmse:20038.71680
[28]	train-rmse:13442.10449	eval-rmse:20096.14844
[29]	train-rmse:13382.68945	eval-rmse:20081.00586
[30]	train-rmse:13242.45898	eval-rmse:19921.97461
[31]	train-rmse:13105.79981	eval-rmse:19897.69531
[32]	train-rmse:13036.94727	eval-rmse:19877.99414
[33]	train-rmse:13017.89258	eval-rmse:19868.38672
[34]	train-rmse:12944.86816	eval-rmse:19792.21875
[35]	train-rmse:12874.00977	eval-rmse:19755.63281
[36]	train-rmse:12844.30762	eval-rmse:19749.24805
[37]	train-rmse:12560.69531	eval-rmse:19998.13477
[38]	train-rmse:12493.50293	eval-rmse:19957.93164
[39]	train-rmse:12386.66113	eval-rmse:19922.47070
[40]	train-rmse:12312.01074	eval-rmse:19986.84180
[41]	train-rmse:12237.82129	eval-rmse:19941.37500
[42]	train-rmse:12177.82422	eval-rmse:19919.23438
[43]	train-rmse:12138.31445	eval-rmse:19896.17773
[44]	train-rmse:12083.18457	eval-rmse:19919.86914
[45]	train-rmse:11873.35938	eval-rmse:20192.54688
[46]	train-rmse:11802.45215	eval-rmse:20166.05469
[47]	train-rmse:11713.10840	eval-rmse:20105.65625
[48]	train-rmse:11694.64356	eval-rmse:20100.14453
[49]	train-rmse:11653.32519	eval-rmse:20083.24219

## 5. 予測

In [92]:
# テストデータでの予測
pred = model.predict(dtest)

In [93]:
pred

array([141646.22, 113990.84,  84035.5 , ..., 174385.47, 275252.12,
        79329.89], dtype=float32)

In [94]:
len(pred)

31262

In [95]:
len(test_data_1)

31262

## 6. データ出力

In [96]:
# 予測結果の結合
test_data["予測結果"] = pred

In [97]:
# 予測結果をint型に変換
test_data["予測結果"] = test_data["予測結果"].astype(int)

In [98]:
result = test_data[["id", "予測結果"]]

In [99]:
result

          id    予測結果
0      31471  141646
1      31472  113990
2      31473   84035
3      31474   65423
4      31475  116561
...      ...     ...
31257  62728  108021
31258  62729  102790
31259  62730  174385
31260  62731  275252
31261  62732   79329

[31262 rows x 2 columns]

In [100]:
result.to_csv("result.csv", header=False, index=False)