# [【SOTA】マイナビ × SIGNATE Student Cup 2019: 賃貸物件の家賃予測](https://signate.jp/competitions/264)

## データ読み込み

In [34]:
import pandas as pd
import numpy as np
import pathlib
import os

# 学習データ、テストデータの読み込み
train_path = pathlib.Path("./DATA/train.csv")
test_path = pathlib.Path("./DATA/test.csv")

train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)

In [472]:
test_data.head()

,id,所在地,アクセス,間取り,築年数,方角,面積,所在階,バス・トイレ,キッチン,放送・通信,室内設備,駐車場,周辺環境,建物構造,契約期間,予測結果
0,31471,東京都世田谷区深沢５丁目1-27,東急大井町線\t等々力駅\t徒歩15分\t\t東急田園都市線\t桜新町駅\t徒歩24分\t\...,2LDK,49年0ヶ月,南,50.22m2,8階／8階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t追焚機能／\t温水洗浄便座／...,ガスコンロ／\tコンロ3口／\tシステムキッチン\t／\t給湯／\tL字キッチン,インターネット対応,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\tエレベーター\t公営水...,駐輪場\t空有\t駐車場\t無\tバイク置き場\t無,【コンビニ】 74m\t【スーパー】 215m\t【病院】 313m\t【小学校】 219m...,鉄骨造,NaN,158098
1,31472,東京都目黒区八雲１丁目11-8,東急東横線\t都立大学駅\t徒歩6分\t\t東急東横線\t自由が丘駅\t徒歩17分\t\t東...,1R,0年2ヶ月,南東,20.88m2,3階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t浴室乾燥機\t／\t温水洗浄...,ガスコンロ／\tコンロ2口／\tシステムキッチン\t／\t給湯,インターネット対応／\tCSアンテナ／\tBSアンテナ／\tインターネット使用料無料,エアコン付\tシューズボックス／\tフローリング／\t室内洗濯機置場\t公営水道／\t下水／...,"駐車場\t近隣\t34,000円(税込)\t距離200m\t駐輪場\t無\tバイク置き場\t無",【スーパー】 128m\t【スーパー】 313m\t【コンビニ】 374m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間,80236
2,31473,東京都豊島区池袋本町２丁目22-2,東武東上線\t北池袋駅\t徒歩10分\t\t埼京線\t板橋駅\t徒歩16分\t\t山手線\t...,1K,23年4ヶ月,南東,26.93m2,1階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t温水洗浄便座,ガスコンロ／\t給湯,インターネット対応／\t光ファイバー／\tCATV,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t2面採光／\t室内洗濯...,"駐車場\t空有\t5,000円(税込)\t(敷金あり\t1ヶ月)\t駐輪場\t空有\tバイク...",【スーパー】 529m\t【スーパー】 810m\t【コンビニ】 316m\t【コンビニ】 ...,鉄骨造,2年間,94671
3,31474,東京都杉並区和泉１丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩10分\t\t京王線\t代田橋駅\t徒歩8分...,1K,36年2ヶ月,南東,23.57m2,1階／2階建,シャワー,ガスコンロ／\t給湯,NaN,エアコン付\tシューズボックス／\t2面採光／\t室外洗濯機置場\t公営水道／\t下水／\t...,駐輪場\t空有\t0円,【スーパー】 286m\t【スーパー】 702m\t【コンビニ】 489m\t【コンビニ】 ...,木造,2年間,69022
4,31475,東京都杉並区堀ノ内２丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩12分\t\t丸ノ内線(池袋－荻窪)\t新高...,2LDK,45年4ヶ月,南,50m2,4階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別,コンロ設置可（口数不明）／\t給湯,インターネット対応,冷房／\tエアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t室内洗濯機置...,"駐車場\t近隣\t22,600円\t距離177m",【コンビニ】 312m\t【コンビニ】 436m\t【スーパー】 902m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間,133378

## 前処理1

In [35]:
# 簡単な前処理
train_data_1 = train_data[["id", "賃料", "間取り", "面積", "所在階"]]
test_data_1 = test_data[["id", "間取り", "面積", "所在階"]]

In [36]:
# 間取りにlabel encodingを適用
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([train_data_1["間取り"],test_data_1["間取り"]]))

train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

<ipython-input-36-95a8caebc059>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
<ipython-input-36-95a8caebc059>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

In [37]:
# 面積のカラムタイトルを面積[m2]に置換
train_data_1 = train_data_1.rename(columns={"面積": "面積m2"})
test_data_1 = test_data_1.rename(columns={"面積": "面積m2"})

In [38]:
# カラムタイトル面積[m2]の要素からm2を削除
train_data_1['面積m2'] = train_data_1['面積m2'].str.replace('m2', '').astype(float)
test_data_1['面積m2'] = test_data_1['面積m2'].str.replace('m2', '').astype(float)

In [39]:
# 所在階の中身を"／"で2つの列に分割
train_data_1 = pd.concat([train_data_1, train_data_1['所在階'].str.split('／', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['所在階'].str.split('／', expand=True)], axis=1)

In [40]:
# 分割した所在階のカラム名変更　0:所在、1:階層
train_data_1 = train_data_1.rename(columns={0:"所在", 1:"階層"})
test_data_1 = test_data_1.rename(columns={0:"所在", 1:"階層"})

In [41]:
# 所在と階層の要素を整形
train_data_1['所在'] = train_data_1['所在'].str.replace('階', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('建', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('地下', '-')
train_data_1['所在'] = train_data_1['所在'].str.replace('\（.*\）', '', regex=True)
train_data_1['階層'] = train_data_1['階層'].str.replace('階建', '')
train_data_1['階層'] = train_data_1['階層'].str.replace('\（.*\）', '', regex=True)
train_data_1['所在'] = train_data_1['所在'].replace('', np.nan)

test_data_1['所在'] = test_data_1['所在'].str.replace('階', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('建', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('地下', '-')
test_data_1['所在'] = test_data_1['所在'].str.replace('\（.*\）', '', regex=True)
test_data_1['階層'] = test_data_1['階層'].str.replace('階建', '')
test_data_1['階層'] = test_data_1['階層'].str.replace('\（.*\）', '', regex=True)
test_data_1['所在'] = test_data_1['所在'].replace('', np.nan)

In [42]:
# "階層"がNoneの箇所を"所在"の値で埋める
train_data_1['階層'].fillna(train_data_1['所在'], inplace=True)
test_data_1['階層'].fillna(test_data_1['所在'], inplace=True)

In [43]:
# 所在と階層の要素をfloat型に変換する
train_data_1['所在'] = train_data_1['所在'].astype(float)
train_data_1['階層'] = train_data_1['階層'].astype(float)

test_data_1['所在'] = test_data_1['所在'].astype(float)
test_data_1['階層'] = test_data_1['階層'].astype(float)

In [44]:
# 間取りと所在階のカラムを削除
train_data_1 = train_data_1.drop('間取り', axis=1)
train_data_1 = train_data_1.drop('所在階', axis=1)

test_data_1 = test_data_1.drop('間取り', axis=1)
test_data_1 = test_data_1.drop('所在階', axis=1)

In [45]:
# IDの削除
train_data_1_no_ID = train_data_1.drop(["id"], axis=1)
test_data_1_no_ID = test_data_1.drop(["id"], axis=1)

## データチェック1

In [46]:
train_data_1.head()

   id      賃料   面積m2  間取りID    所在    階層
0   1   75000  20.01      3   1.0  12.0
1   2   76000  16.50      9   5.0  10.0
2   3  110000  22.05      3  12.0  15.0
3   4  150000  60.48     14   3.0   4.0
4   5   74000  39.66     10   1.0   2.0

In [47]:
test_data_1.head()

      id   面積m2  間取りID   所在   階層
0  31471  50.22     14  8.0  8.0
1  31472  20.88      9  3.0  4.0
2  31473  26.93      3  1.0  4.0
3  31474  23.57      3  1.0  2.0
4  31475  50.00     14  4.0  4.0

In [48]:
train_data_1.isnull().sum()

id         0
賃料         0
面積m2       0
間取りID      0
所在       120
階層         0
dtype: int64

In [49]:
test_data_1.isnull().sum()

id         0
面積m2       0
間取りID      0
所在       114
階層         1
dtype: int64

## 前処理2

### 訓練データ

In [30]:
# 埋める前の確認
print(train_data_1[train_data_1["所在"].isnull()])

          id      賃料    面積m2  間取りID  所在    階層
99       100  150500   68.83     14 NaN   3.0
122      123   58000   18.98      9 NaN   8.0
583      584  145000   60.72     17 NaN  12.0
671      672  900000  231.52     31 NaN   3.0
814      815  145000   71.36     21 NaN   2.0
...      ...     ...     ...    ...  ..   ...
29667  29668  127000   35.03      5 NaN   3.0
29800  29801   92000   50.94      6 NaN   2.0
30306  30307  153000   50.92     14 NaN   5.0
30435  30436  163000   55.58      5 NaN  16.0
30838  30839   66000   16.50      9 NaN   5.0

[120 rows x 6 columns]

In [53]:
# 所在のNaNを埋める
train_data_2 = train_data_1
train_data_2.loc[train_data_2["所在"].isnull(), "所在"] = train_data_2["階層"]

In [62]:
# 埋めた後の確認
print(train_data_2[train_data_2["id"]==30839][["所在", "階層"]])

        所在   階層
30838  5.0  5.0

In [85]:
# IDの削除
train_data_2_no_ID = train_data_2.drop(["id"], axis=1)

### テストデータ

In [65]:
# 埋める前の確認
print(test_data_1[test_data_1["階層"].isnull()])
print(test_data_1[test_data_1["所在"].isnull()])

         id   面積m2  間取りID  所在  階層
9204  40675  94.91     21 NaN NaN
          id   面積m2  間取りID  所在   階層
125    31596  68.28     21 NaN  2.0
229    31700  34.18      1 NaN  3.0
262    31733  60.06     10 NaN  7.0
835    32306  47.30      5 NaN  7.0
1076   32547  54.63     10 NaN  3.0
...      ...    ...    ...  ..  ...
30529  62000  40.73      5 NaN  3.0
30781  62252  58.51     14 NaN  2.0
30826  62297  46.26     19 NaN  2.0
31073  62544  16.01      9 NaN  3.0
31184  62655  16.62      3 NaN  2.0

[114 rows x 5 columns]

In [66]:
# 所在のNaNを埋める
test_data_2 = test_data_1
test_data_2.loc[test_data_2["所在"].isnull(), "所在"] = test_data_2["階層"]

In [68]:
print(test_data_2[test_data_2["所在"].isnull()])

         id   面積m2  間取りID  所在  階層
9204  40675  94.91     21 NaN NaN

In [78]:
# 所在も階層も空欄のデータは間取りと面積の近いデータで埋める
print(test_data_1[(test_data_1["間取りID"] == 21) & (test_data_1["面積m2"] > 90) & (test_data_1["面積m2"] < 95)].mean())

id       44448.676471
面積m2        92.323824
間取りID       21.000000
所在           6.181818
階層           9.878788
dtype: float64

In [79]:
test_data_2.loc[test_data_2["id"]==40675, "所在"] = float(6)
test_data_2.loc[test_data_2["id"]==40675, "階層"] = float(9)

In [82]:
# 埋めた後の確認
print(test_data_2[test_data_2["id"]==40675][["所在", "階層"]])

       所在   階層
9204  6.0  9.0

In [86]:
# IDの削除
test_data_2_no_ID = test_data_2.drop(["id"], axis=1)

## データチェック2

In [87]:
train_data_2.isnull().sum()

id       0
賃料       0
面積m2     0
間取りID    0
所在       0
階層       0
dtype: int64

In [88]:
test_data_2.isnull().sum()

id       0
面積m2     0
間取りID    0
所在       0
階層       0
dtype: int64

## 学習

In [89]:
# 特徴データと目的変数の設定
train_x = train_data_2_no_ID.drop(["賃料"], axis=1)
train_y = train_data_2_no_ID["賃料"]

test_x = test_data_2_no_ID

In [90]:
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.metrics import log_loss, accuracy_score
from sklearn.model_selection import KFold

scores = []
# GBDT用のハイパーパラメータ
params = {"objective": "reg:squarederror", "sileng":1, "random_state":71}
num_round = 50

# クロスバリデーション
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx, in kf.split(train_x):
    tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]
    
    # GBDTで学習実行
    dtrain = xgb.DMatrix(tr_x, label=tr_y) # enable_categorical=True
    dvalid = xgb.DMatrix(va_x, label=va_y)
    dtest = xgb.DMatrix(test_x)
    
    watchlist = [(dtrain, "train"), (dvalid, "eval")]
    model = xgb.train(params, dtrain, num_round, evals=watchlist)

[21:22:25] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:101465.04688	eval-rmse:101138.06250
[1]	train-rmse:75652.92969	eval-rmse:75961.78125
[2]	train-rmse:58471.25781	eval-rmse:59686.94141
[3]	train-rmse:47379.08984	eval-rmse:49409.09766
[4]	train-rmse:40410.04688	eval-rmse:43076.93750
[5]	train-rmse:36206.45703	eval-rmse:39191.50000
[6]	train-rmse:33817.42578	eval-rmse:37214.18750
[7]	train-rmse:32345.94336	eval-rmse:35972.23047
[8]	train-rmse:31395.93359	eval-rmse:35343.58594
[9]	train-rmse:30863.94336	eval-rmse:34922.28906
[10]	train-rmse:30505.58203	eval-rmse:34721.75781
[11]	train-rmse:30226.54883	eval-rmse:34567.12891
[12]	train-rmse:29897.07031	eval-rmse:34501.45312
[13]	train-rmse:29747.70117	eval-rmse:34434.43359
[14]	train-rmse:29604.34180	eval-rmse:34234.95703
[15]	train-rmse:29372.18359	eval-rmse:34239.64453
[16]	train-rmse:29286.81055	eval-rmse:34152.32422
[17]	train-rmse:29091.04883	eval-rmse:34092.78125
[18]	train-rmse:28896.29883	eval-rmse:34184.26562
[19]	train-rmse:28755.24805	eval-rmse:34224.42188
[20]	train-rmse:28635.85156	eval-rmse:34204.60156
[21]	train-rmse:28549.42578	eval-rmse:34201.53516
[22]	train-rmse:28391.05078	eval-rmse:34143.29297
[23]	train-rmse:28127.51172	eval-rmse:34139.09766
[24]	train-rmse:28048.52344	eval-rmse:34168.55078
[25]	train-rmse:28017.28125	eval-rmse:34160.56250
[26]	train-rmse:27991.45898	eval-rmse:34173.76172
[27]	train-rmse:27878.41406	eval-rmse:34106.10547
[28]	train-rmse:27772.25000	eval-rmse:34074.98047
[29]	train-rmse:27594.83594	eval-rmse:34079.72656
[30]	train-rmse:27554.36523	eval-rmse:34055.39844
[31]	train-rmse:27537.31055	eval-rmse:34087.72656
[32]	train-rmse:27330.84961	eval-rmse:34041.16406
[33]	train-rmse:27183.68164	eval-rmse:34011.26953
[34]	train-rmse:27139.27539	eval-rmse:34033.35547
[35]	train-rmse:27127.59961	eval-rmse:34074.03516
[36]	train-rmse:26998.03320	eval-rmse:34103.98047
[37]	train-rmse:26827.55664	eval-rmse:34079.63672
[38]	train-rmse:26774.44531	eval-rmse:34105.69531
[39]	train-rmse:26699.19727	eval-rmse:34102.25391
[40]	train-rmse:26658.92578	eval-rmse:34126.16406
[41]	train-rmse:26537.70312	eval-rmse:34096.39453
[42]	train-rmse:26437.20508	eval-rmse:34065.12500
[43]	train-rmse:26424.97070	eval-rmse:34063.13672
[44]	train-rmse:26336.40039	eval-rmse:34031.10547
[45]	train-rmse:26237.67383	eval-rmse:33988.91016
[46]	train-rmse:26102.03711	eval-rmse:34032.01562
[47]	train-rmse:26045.88672	eval-rmse:34092.50781
[48]	train-rmse:25943.99609	eval-rmse:34031.67578
[49]	train-rmse:25904.51562	eval-rmse:34010.16406
[21:22:25] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:101451.81250	eval-rmse:101222.66406
[1]	train-rmse:75560.00781	eval-rmse:75093.44531
[2]	train-rmse:58325.03516	eval-rmse:58704.18750
[3]	train-rmse:47181.08203	eval-rmse:49256.81250
[4]	train-rmse:40144.39062	eval-rmse:43590.88672
[5]	train-rmse:35935.44141	eval-rmse:40765.63281
[6]	train-rmse:33487.29688	eval-rmse:39238.69531
[7]	train-rmse:31864.29102	eval-rmse:38389.90234
[8]	train-rmse:30760.80664	eval-rmse:38112.64844
[9]	train-rmse:30227.75977	eval-rmse:38018.21875
[10]	train-rmse:29750.01758	eval-rmse:37858.51172
[11]	train-rmse:29392.32617	eval-rmse:37483.96484
[12]	train-rmse:29062.42383	eval-rmse:37518.13281
[13]	train-rmse:28796.27734	eval-rmse:37417.76953
[14]	train-rmse:28635.81250	eval-rmse:37426.91016
[15]	train-rmse:28438.99609	eval-rmse:37354.03906
[16]	train-rmse:28235.66406	eval-rmse:37270.90625
[17]	train-rmse:28056.62891	eval-rmse:37348.61328
[18]	train-rmse:27958.72070	eval-rmse:37382.58594
[19]	train-rmse:27891.25000	eval-rmse:37443.01172
[20]	train-rmse:27586.12695	eval-rmse:37455.82422
[21]	train-rmse:27434.94727	eval-rmse:37400.36719
[22]	train-rmse:27292.76562	eval-rmse:37192.99219
[23]	train-rmse:27139.21875	eval-rmse:37144.81641
[24]	train-rmse:27012.18750	eval-rmse:37168.24609
[25]	train-rmse:26953.48438	eval-rmse:37204.63672
[26]	train-rmse:26926.88672	eval-rmse:37196.86719
[27]	train-rmse:26807.22852	eval-rmse:37160.76562
[28]	train-rmse:26711.55664	eval-rmse:37144.17188
[29]	train-rmse:26618.11133	eval-rmse:37118.24609
[30]	train-rmse:26587.14453	eval-rmse:37089.60156
[31]	train-rmse:26486.49805	eval-rmse:37058.26953
[32]	train-rmse:26433.81055	eval-rmse:37071.52344
[33]	train-rmse:26366.25781	eval-rmse:37083.58203
[34]	train-rmse:26270.73633	eval-rmse:37002.47266
[35]	train-rmse:26140.03320	eval-rmse:36949.37109
[36]	train-rmse:26054.03320	eval-rmse:36931.15625
[37]	train-rmse:25999.52148	eval-rmse:36923.35938
[38]	train-rmse:25833.61328	eval-rmse:36865.62891
[39]	train-rmse:25798.39258	eval-rmse:36864.75000
[40]	train-rmse:25733.09570	eval-rmse:36766.88281
[41]	train-rmse:25671.13672	eval-rmse:36765.98047
[42]	train-rmse:25645.17188	eval-rmse:36786.67188
[43]	train-rmse:25558.16406	eval-rmse:36796.39844
[44]	train-rmse:25463.26758	eval-rmse:36762.14062
[45]	train-rmse:25345.76172	eval-rmse:36710.59375
[46]	train-rmse:25266.95898	eval-rmse:36649.98828
[47]	train-rmse:25208.84375	eval-rmse:36629.81641
[48]	train-rmse:25156.26367	eval-rmse:36658.61719
[49]	train-rmse:25130.23047	eval-rmse:36666.60156
[21:22:25] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:100974.46875	eval-rmse:103827.35938
[1]	train-rmse:75293.29688	eval-rmse:79050.57812
[2]	train-rmse:58300.36719	eval-rmse:63145.52344
[3]	train-rmse:47209.94531	eval-rmse:52804.39062
[4]	train-rmse:40440.35156	eval-rmse:46740.90234
[5]	train-rmse:36312.96094	eval-rmse:43700.14453
[6]	train-rmse:33590.03516	eval-rmse:42016.65234
[7]	train-rmse:32077.76758	eval-rmse:40792.93750
[8]	train-rmse:31051.03906	eval-rmse:40624.16406
[9]	train-rmse:30248.05273	eval-rmse:40285.24219
[10]	train-rmse:29801.29688	eval-rmse:40124.80859
[11]	train-rmse:29422.21484	eval-rmse:40008.32812
[12]	train-rmse:29188.98047	eval-rmse:40146.14062
[13]	train-rmse:28947.69141	eval-rmse:40257.64844
[14]	train-rmse:28727.86719	eval-rmse:40231.23047
[15]	train-rmse:28615.25195	eval-rmse:40298.38281
[16]	train-rmse:28502.16016	eval-rmse:40387.15234
[17]	train-rmse:28221.03320	eval-rmse:40327.85547
[18]	train-rmse:28035.90234	eval-rmse:40234.19141
[19]	train-rmse:27981.65234	eval-rmse:40298.05859
[20]	train-rmse:27857.21680	eval-rmse:40165.52734
[21]	train-rmse:27736.99414	eval-rmse:40210.17188
[22]	train-rmse:27722.63086	eval-rmse:40260.43750
[23]	train-rmse:27591.32812	eval-rmse:40237.75000
[24]	train-rmse:27385.31641	eval-rmse:40217.57422
[25]	train-rmse:27255.48242	eval-rmse:40154.57812
[26]	train-rmse:27103.37891	eval-rmse:40178.57812
[27]	train-rmse:27045.96680	eval-rmse:40249.33984
[28]	train-rmse:26926.63477	eval-rmse:40217.41016
[29]	train-rmse:26864.04492	eval-rmse:40264.28516
[30]	train-rmse:26743.44336	eval-rmse:40206.57812
[31]	train-rmse:26616.93359	eval-rmse:40187.11328
[32]	train-rmse:26510.74414	eval-rmse:40117.92188
[33]	train-rmse:26402.32812	eval-rmse:40084.80469
[34]	train-rmse:26230.60742	eval-rmse:40095.76562
[35]	train-rmse:26185.55469	eval-rmse:40058.80859
[36]	train-rmse:26108.34375	eval-rmse:40066.41797
[37]	train-rmse:25981.75781	eval-rmse:40045.14453
[38]	train-rmse:25970.20312	eval-rmse:40039.63281
[39]	train-rmse:25858.20508	eval-rmse:40003.30859
[40]	train-rmse:25788.05664	eval-rmse:39979.88281
[41]	train-rmse:25760.02148	eval-rmse:39957.23438
[42]	train-rmse:25660.59180	eval-rmse:39959.61719
[43]	train-rmse:25572.28125	eval-rmse:39976.42969
[44]	train-rmse:25490.10742	eval-rmse:39941.12891
[45]	train-rmse:25427.03125	eval-rmse:39949.30469
[46]	train-rmse:25338.96680	eval-rmse:39931.18750
[47]	train-rmse:25218.62500	eval-rmse:39893.25000
[48]	train-rmse:25170.50586	eval-rmse:39857.96484
[49]	train-rmse:25010.86914	eval-rmse:39829.23047
[21:22:26] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:101617.46875	eval-rmse:101168.31250
[1]	train-rmse:75712.80469	eval-rmse:76471.53125
[2]	train-rmse:58587.07422	eval-rmse:60407.15625
[3]	train-rmse:47592.07031	eval-rmse:50337.37891
[4]	train-rmse:40853.30078	eval-rmse:44195.32422
[5]	train-rmse:36792.83203	eval-rmse:40826.28906
[6]	train-rmse:34274.37500	eval-rmse:38693.15625
[7]	train-rmse:32778.49609	eval-rmse:37775.07812
[8]	train-rmse:31679.13672	eval-rmse:36758.07031
[9]	train-rmse:30831.89062	eval-rmse:36333.33594
[10]	train-rmse:30337.47070	eval-rmse:36065.57031
[11]	train-rmse:29861.15234	eval-rmse:35832.38672
[12]	train-rmse:29664.83984	eval-rmse:35646.39844
[13]	train-rmse:29525.12695	eval-rmse:35639.56641
[14]	train-rmse:29321.95117	eval-rmse:35549.05859
[15]	train-rmse:29191.33398	eval-rmse:35428.26953
[16]	train-rmse:29092.53516	eval-rmse:35418.61719
[17]	train-rmse:29019.40039	eval-rmse:35360.67578
[18]	train-rmse:28921.52734	eval-rmse:35305.45312
[19]	train-rmse:28755.90625	eval-rmse:35308.46875
[20]	train-rmse:28572.18945	eval-rmse:35303.69141
[21]	train-rmse:28517.16797	eval-rmse:35313.36719
[22]	train-rmse:28247.49805	eval-rmse:35220.80469
[23]	train-rmse:28144.76953	eval-rmse:35156.43750
[24]	train-rmse:28062.47656	eval-rmse:35138.23828
[25]	train-rmse:27888.11914	eval-rmse:35087.88672
[26]	train-rmse:27663.86328	eval-rmse:34908.05469
[27]	train-rmse:27542.37305	eval-rmse:34878.86719
[28]	train-rmse:27468.26953	eval-rmse:34836.12891
[29]	train-rmse:27316.51953	eval-rmse:34797.82812
[30]	train-rmse:27169.85547	eval-rmse:34685.48828
[31]	train-rmse:26964.16016	eval-rmse:34721.92188
[32]	train-rmse:26847.34180	eval-rmse:34660.93750
[33]	train-rmse:26783.88867	eval-rmse:34618.45703
[34]	train-rmse:26736.44531	eval-rmse:34595.13672
[35]	train-rmse:26693.24805	eval-rmse:34568.77344
[36]	train-rmse:26634.61523	eval-rmse:34565.76953
[37]	train-rmse:26592.06641	eval-rmse:34589.48438
[38]	train-rmse:26452.47461	eval-rmse:34576.41406
[39]	train-rmse:26400.51953	eval-rmse:34584.19531
[40]	train-rmse:26279.43164	eval-rmse:34569.23438
[41]	train-rmse:26084.40430	eval-rmse:34617.00000
[42]	train-rmse:26002.47656	eval-rmse:34613.28906
[43]	train-rmse:25952.42969	eval-rmse:34609.44531
[44]	train-rmse:25898.93164	eval-rmse:34606.71094
[45]	train-rmse:25784.91992	eval-rmse:34569.21484
[46]	train-rmse:25775.33398	eval-rmse:34577.41016
[47]	train-rmse:25732.51758	eval-rmse:34570.02344
[48]	train-rmse:25686.02148	eval-rmse:34555.94531
[49]	train-rmse:25572.65039	eval-rmse:34512.70703

## 予測

In [92]:
# テストデータでの予測
pred = model.predict(dtest)

In [93]:
pred

array([159249.5  ,  79441.29 ,  95082.625, ..., 176337.58 , 250241.25 ,
        85037.41 ], dtype=float32)

In [94]:
len(pred)

31262

In [95]:
len(test_data_1)

31262

## データ出力

In [96]:
# 予測結果の結合
test_data["予測結果"] = pred

In [97]:
# 予測結果をint型に変換
test_data["予測結果"] = test_data["予測結果"].astype(int)

In [98]:
result = test_data[["id", "予測結果"]]

In [99]:
result

          id    予測結果
0      31471  159249
1      31472   79441
2      31473   95082
3      31474   68753
4      31475  139176
...      ...     ...
31257  62728  102943
31258  62729  106165
31259  62730  176337
31260  62731  250241
31261  62732   85037

[31262 rows x 2 columns]

In [100]:
result.to_csv("result.csv", header=False, index=False)