# [【SOTA】マイナビ × SIGNATE Student Cup 2019: 賃貸物件の家賃予測](https://signate.jp/competitions/264)

## 1. データ準備

### 1.1. データ読込

In [1]:
import pandas as pd
import numpy as np
import pathlib
import os

# 学習データ、テストデータの読み込み
train_path = pathlib.Path("./DATA/train.csv")
test_path = pathlib.Path("./DATA/test.csv")

train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)

In [2]:
test_data.head()

,id,所在地,アクセス,間取り,築年数,方角,面積,所在階,バス・トイレ,キッチン,放送・通信,室内設備,駐車場,周辺環境,建物構造,契約期間
0,31471,東京都世田谷区深沢５丁目1-27,東急大井町線\t等々力駅\t徒歩15分\t\t東急田園都市線\t桜新町駅\t徒歩24分\t\...,2LDK,49年0ヶ月,南,50.22m2,8階／8階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t追焚機能／\t温水洗浄便座／...,ガスコンロ／\tコンロ3口／\tシステムキッチン\t／\t給湯／\tL字キッチン,インターネット対応,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\tエレベーター\t公営水...,駐輪場\t空有\t駐車場\t無\tバイク置き場\t無,【コンビニ】 74m\t【スーパー】 215m\t【病院】 313m\t【小学校】 219m...,鉄骨造,NaN
1,31472,東京都目黒区八雲１丁目11-8,東急東横線\t都立大学駅\t徒歩6分\t\t東急東横線\t自由が丘駅\t徒歩17分\t\t東...,1R,0年2ヶ月,南東,20.88m2,3階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t浴室乾燥機\t／\t温水洗浄...,ガスコンロ／\tコンロ2口／\tシステムキッチン\t／\t給湯,インターネット対応／\tCSアンテナ／\tBSアンテナ／\tインターネット使用料無料,エアコン付\tシューズボックス／\tフローリング／\t室内洗濯機置場\t公営水道／\t下水／...,"駐車場\t近隣\t34,000円(税込)\t距離200m\t駐輪場\t無\tバイク置き場\t無",【スーパー】 128m\t【スーパー】 313m\t【コンビニ】 374m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間
2,31473,東京都豊島区池袋本町２丁目22-2,東武東上線\t北池袋駅\t徒歩10分\t\t埼京線\t板橋駅\t徒歩16分\t\t山手線\t...,1K,23年4ヶ月,南東,26.93m2,1階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t温水洗浄便座,ガスコンロ／\t給湯,インターネット対応／\t光ファイバー／\tCATV,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t2面採光／\t室内洗濯...,"駐車場\t空有\t5,000円(税込)\t(敷金あり\t1ヶ月)\t駐輪場\t空有\tバイク...",【スーパー】 529m\t【スーパー】 810m\t【コンビニ】 316m\t【コンビニ】 ...,鉄骨造,2年間
3,31474,東京都杉並区和泉１丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩10分\t\t京王線\t代田橋駅\t徒歩8分...,1K,36年2ヶ月,南東,23.57m2,1階／2階建,シャワー,ガスコンロ／\t給湯,NaN,エアコン付\tシューズボックス／\t2面採光／\t室外洗濯機置場\t公営水道／\t下水／\t...,駐輪場\t空有\t0円,【スーパー】 286m\t【スーパー】 702m\t【コンビニ】 489m\t【コンビニ】 ...,木造,2年間
4,31475,東京都杉並区堀ノ内２丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩12分\t\t丸ノ内線(池袋－荻窪)\t新高...,2LDK,45年4ヶ月,南,50m2,4階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別,コンロ設置可（口数不明）／\t給湯,インターネット対応,冷房／\tエアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t室内洗濯機置...,"駐車場\t近隣\t22,600円\t距離177m",【コンビニ】 312m\t【コンビニ】 436m\t【スーパー】 902m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間

## 2. 前処理

### 2.1. データ選択

In [3]:
train_data_1 = train_data[["id", "所在地", "賃料", "間取り", "築年数", "面積", "所在階", "建物構造"]]
test_data_1 = test_data[["id", "所在地", "間取り", "築年数", "面積", "所在階", "建物構造"]]

### 2.2. 間取りの数値化

In [4]:
# 16m2で11R扱いの物件を1Rに修正する
# test_data.loc[test_data["間取り"]=="11R"]
test_data_1 = test_data_1.replace("11R", "1R")

In [5]:
# 間取りにlabel encodingを適用
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([train_data_1["間取り"],test_data_1["間取り"]]))

train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

<ipython-input-5-95a8caebc059>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_1["間取りID"] = le.transform(train_data_1["間取り"])

### 2.3. 面積の数値化

In [6]:
# 面積のカラムタイトルを面積[m2]に置換
train_data_1 = train_data_1.rename(columns={"面積": "面積m2"})
test_data_1 = test_data_1.rename(columns={"面積": "面積m2"})

In [7]:
# カラムタイトル面積[m2]の要素からm2を削除
train_data_1['面積m2'] = train_data_1['面積m2'].str.replace('m2', '').astype(float)
test_data_1['面積m2'] = test_data_1['面積m2'].str.replace('m2', '').astype(float)

### 2.4. 所在階の数値化

In [8]:
# 所在階が総階数よりも大きい場合、値を入れ替える
train_data_1 = train_data_1.replace("2階／1階建", "1階／2階建")
train_data_1 = train_data_1.replace("4階／2階建", "2階／4階建")
train_data_1 = train_data_1.replace("7階／2階建", "2階／7階建")
train_data_1 = train_data_1.replace("10階／8階建", "8階／10階建")

test_data_1 = test_data_1.replace("2階／1階建", "1階／2階建")
test_data_1 = test_data_1.replace("3階／2階建", "2階／3階建")
test_data_1 = test_data_1.replace("4階／1階建", "1階／4階建")
test_data_1 = test_data_1.replace("4階／2階建", "2階／4階建")
test_data_1 = test_data_1.replace("4階／3階建（地下1階）", "3階／4階建（地下1階）")
test_data_1 = test_data_1.replace("8階／6階建", "6階／8階建")
test_data_1 = test_data_1.replace("13階／4階建（地下1階）", "4階／13階建（地下1階）")
test_data_1 = test_data_1.replace("21階／3階建", "3階／21階建")
test_data_1 = test_data_1.replace("44階／4階建", "4階／44階建")

In [9]:
# 所在階の中身を"／"で2つの列に分割
train_data_1 = pd.concat([train_data_1, train_data_1['所在階'].str.split('／', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['所在階'].str.split('／', expand=True)], axis=1)

In [10]:
# 分割した所在階のカラム名変更　0:所在、1:階層
train_data_1 = train_data_1.rename(columns={0:"所在", 1:"階層"})
test_data_1 = test_data_1.rename(columns={0:"所在", 1:"階層"})

In [11]:
# 所在と階層の要素を整形
# 地下表示を消す
train_data_1['所在'] = train_data_1['所在'].str.replace('階', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('建', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('地下', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('\（.*\）', '', regex=True)
train_data_1['階層'] = train_data_1['階層'].str.replace('階建', '')
train_data_1['階層'] = train_data_1['階層'].str.replace('\（.*\）', '', regex=True)
train_data_1['所在'] = train_data_1['所在'].replace('', np.nan)

test_data_1['所在'] = test_data_1['所在'].str.replace('階', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('建', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('地下', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('\（.*\）', '', regex=True)
test_data_1['階層'] = test_data_1['階層'].str.replace('階建', '')
test_data_1['階層'] = test_data_1['階層'].str.replace('\（.*\）', '', regex=True)
test_data_1['所在'] = test_data_1['所在'].replace('', np.nan)

In [12]:
# # "階層"がNoneの箇所を"所在"の値で埋める
# train_data_1['階層'].fillna(train_data_1['所在'], inplace=True)
# test_data_1['階層'].fillna(test_data_1['所在'], inplace=True)

In [13]:
# 所在と階層の要素をfloat型に変換する
train_data_1['所在'] = train_data_1['所在'].astype(float)
train_data_1['階層'] = train_data_1['階層'].astype(float)

test_data_1['所在'] = test_data_1['所在'].astype(float)
test_data_1['階層'] = test_data_1['階層'].astype(float)

In [14]:
# 所在階のカラムを削除
train_data_1 = train_data_1.drop('所在階', axis=1)
test_data_1 = test_data_1.drop('所在階', axis=1)

In [15]:
# # 所在のNaNを埋める
# train_data_1.loc[train_data_1["所在"].isnull(), "所在"] = train_data_1["階層"]
# test_data_1.loc[test_data_1["所在"].isnull(), "所在"] = test_data_1["階層"]

In [16]:
# # 所在も階層も空欄のデータは間取りと面積の近いデータで埋める
# print(test_data_1[(test_data_1["間取りID"] == 21) & (test_data_1["面積m2"] > 90) & (test_data_1["面積m2"] < 95)].mean())
# test_data_1.loc[test_data_1["id"]==40675, "所在"] = float(6)
# test_data_1.loc[test_data_1["id"]==40675, "階層"] = float(9)

### 2.5. 築年数の数値化

In [17]:
# 新築の場合は全て0にする
train_data_1.loc[train_data_1["築年数"]=="新築", "築年数"] = float(0)
test_data_1.loc[test_data_1["築年数"]=="新築", "築年数"] = float(0)

In [18]:
# 築年数を数値に変換する
train_data_1 = pd.concat([train_data_1, train_data_1['築年数'].str.split('年', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['築年数'].str.split('年', expand=True)], axis=1)

In [19]:
# ヶ月を消す
train_data_1[1] = train_data_1[1].str.replace('ヶ月', '')
test_data_1[1] = test_data_1[1].str.replace('ヶ月', '')

In [20]:
# 築年数をfloat変換
train_data_1["築年数"] = train_data_1[0].astype(float) + (train_data_1[1].astype(float) / float(12))
test_data_1["築年数"] = test_data_1[0].astype(float) + (test_data_1[1].astype(float) / float(12))

In [21]:
test_data_1.head()

,id,所在地,間取り,築年数,面積m2,建物構造,間取りID,所在,階層,0,1
0,31471,東京都世田谷区深沢５丁目1-27,2LDK,49.000000,50.22,鉄骨造,13,8.0,8.0,49,0
1,31472,東京都目黒区八雲１丁目11-8,1R,0.166667,20.88,RC（鉄筋コンクリート）,8,3.0,4.0,0,2
2,31473,東京都豊島区池袋本町２丁目22-2,1K,23.333333,26.93,鉄骨造,2,1.0,4.0,23,4
3,31474,東京都杉並区和泉１丁目,1K,36.166667,23.57,木造,2,1.0,2.0,36,2
4,31475,東京都杉並区堀ノ内２丁目,2LDK,45.333333,50.00,RC（鉄筋コンクリート）,13,4.0,4.0,45,4

In [22]:
print(test_data_1[test_data_1["築年数"].isnull()])

          id               所在地       間取り  築年数   面積m2          建物構造  間取りID  \
77     31548      東京都大田区東矢口２丁目  1K+S(納戸)  NaN  23.80           鉄骨造      3
108    31579  東京都世田谷区上馬２丁目26-8        1K  NaN  26.44  RC（鉄筋コンクリート）      2
112    31583       東京都台東区台東２丁目      1LDK  NaN  41.65           鉄骨造      4
156    31627  東京都品川区南大井４丁目20-5        1R  NaN  20.56  RC（鉄筋コンクリート）      8
162    31633     東京都江東区扇橋２丁目23        1K  NaN  25.34  RC（鉄筋コンクリート）      2
...      ...               ...       ...  ...    ...           ...    ...
31141  62612  東京都世田谷区桜丘４丁目15-9      2LDK  NaN  60.81            木造     13
31176  62647   東京都江戸川区中葛西８丁目22      1LDK  NaN  40.06  RC（鉄筋コンクリート）      4
31181  62652       東京都新宿区原町３丁目      1LDK  NaN  40.26           鉄骨造      4
31182  62653       東京都新宿区原町３丁目      2LDK  NaN  54.75           鉄骨造     13
31212  62683       東京都新宿区原町３丁目      1LDK  NaN  40.79           鉄骨造      4

        所在    階層    0    1
77     2.0   3.0  NaN  NaN
108    7.0  13.0  NaN  NaN
112    3.0  10.0  NaN  NaN
156    3.0  12.0  NaN  NaN
162    1.0   8.0  NaN  NaN
...    ...   ...  ...  ...
31141  2.0   2.0  NaN  NaN
31176  3.0  10.0  NaN  NaN
31181  2.0   3.0  NaN  NaN
31182  1.0   3.0  NaN  NaN
31212  2.0   3.0  NaN  NaN

[850 rows x 11 columns]

In [23]:
# 0と1の列を消す
train_data_1 = train_data_1.drop(0, axis=1)
train_data_1 = train_data_1.drop(1, axis=1)

test_data_1 = test_data_1.drop(0, axis=1)
test_data_1 = test_data_1.drop(1, axis=1)

### 2.6. 緯度経度情報の追加

#### [このサイト](https://ktgis.net/gcode/geocoding.html)を利用する

In [24]:
# IDと住所をファイル出力
train_coordinate = train_data[["id", "所在地"]]
test_coordinate = test_data[["id", "所在地"]]

train_coordinate.to_csv("train_coordinate.csv", header=False, index=False)
test_coordinate.to_csv("test_coordinate.csv", header=False, index=False)

In [25]:
# 緯度、経度情報の読み込み(id, 所在地, 経度, 緯度)
train_coordinate_addvalue = pd.read_excel("train_coordinate_addvalue.xlsx")
test_coordinate_addvalue = pd.read_excel("test_coordinate_addvalue.xlsx")

In [26]:
train_data_1 = pd.merge(train_data_1, train_coordinate_addvalue[["id", "経度", "緯度"]], on='id')
test_data_1 = pd.merge(test_data_1, test_coordinate_addvalue[["id", "経度", "緯度"]], on='id')

### 2.7. 部屋数の追加

In [27]:
# 部屋数のマージ
number_of_rooms = pd.read_excel("number_of_rooms.xlsx")
train_data_1 = pd.merge(train_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')
test_data_1 = pd.merge(test_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')

In [28]:
# インデックスの振り直し
train_data_1 = train_data_1.sort_values("id")
train_data_1 = train_data_1.reset_index(drop=True)

test_data_1 = test_data_1.sort_values("id")
test_data_1 = test_data_1.reset_index(drop=True)

### 2.8. 1部屋当たりの面積追加

In [29]:
# 面積と部屋数から1部屋当たりの面積を算出
train_data_1["1部屋当たり面積m2"] = (train_data_1["面積m2"] / train_data_1["部屋数"]).astype(float)
test_data_1["1部屋当たり面積m2"] = (test_data_1["面積m2"] / test_data_1["部屋数"]).astype(float)

In [30]:
# 間取りと間取りIDは削除する
train_data_1 = train_data_1.drop('間取り', axis=1)
test_data_1 = test_data_1.drop('間取り', axis=1)

# train_data_1 = train_data_1.drop('間取りID', axis=1)
# test_data_1 = test_data_1.drop('間取りID', axis=1)

#### 2.9. 建物の高さ率を追加(高さ率=所在/階層)

In [31]:
# 高さ率の算出
train_data_1["高さ率"] = (train_data_1["所在"] / train_data_1["階層"]).astype(float)
test_data_1["高さ率"] = (test_data_1["所在"] / test_data_1["階層"]).astype(float)

### 2.10. 建物構造の数値化

In [32]:
train_data_1["建物構造"].value_counts()

RC（鉄筋コンクリート）                   17505
木造                              5512
鉄骨造                             3726
SRC（鉄骨鉄筋コンクリート）                 2429
軽量鉄骨                            1812
ALC（軽量気泡コンクリート）                  297
その他                              136
PC（プレキャスト・コンクリート（鉄筋コンクリート））       46
HPC（プレキャスト・コンクリート（重量鉄骨））           4
ブロック                               3
Name: 建物構造, dtype: int64

In [33]:
# 建物構造にlabel encodingを適用
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([train_data_1["建物構造"],test_data_1["建物構造"]]))

train_data_1["建物構造ID"] = le.transform(train_data_1["建物構造"])
test_data_1["建物構造ID"] = le.transform(test_data_1["建物構造"])

In [34]:
test_data_1.head()

,id,所在地,築年数,面積m2,建物構造,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID
0,31471,東京都世田谷区深沢５丁目1-27,49.000000,50.22,鉄骨造,13,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00,10
1,31472,東京都目黒区八雲１丁目11-8,0.166667,20.88,RC（鉄筋コンクリート）,8,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75,3
2,31473,東京都豊島区池袋本町２丁目22-2,23.333333,26.93,鉄骨造,2,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25,10
3,31474,東京都杉並区和泉１丁目,36.166667,23.57,木造,2,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50,7
4,31475,東京都杉並区堀ノ内２丁目,45.333333,50.00,RC（鉄筋コンクリート）,13,4.0,4.0,139.650468,35.689411,3.5,14.285714,1.00,3

In [35]:
# 不要になった建物構造カラムを削除する
train_data_1 = train_data_1.drop('建物構造', axis=1)
test_data_1 = test_data_1.drop('建物構造', axis=1)

### 2.11. 新規カラムに「賃料/面積」を追加

In [36]:
train_data_1["賃料/面積"] = train_data_1["賃料"] / train_data_1["面積m2"]

In [37]:
train_data_1.head()

,id,所在地,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,賃料/面積
0,1,東京都北区滝野川３丁目,75000,9.750000,20.01,2,1.0,12.0,139.727873,35.747759,1.0,20.01,0.083333,3,3748.125937
1,2,東京都中央区月島３丁目,76000,44.833333,16.50,8,5.0,10.0,139.780485,35.662406,1.0,16.50,0.500000,10,4606.060606
2,3,東京都渋谷区笹塚２丁目,110000,8.500000,22.05,2,12.0,15.0,139.667375,35.675358,1.0,22.05,0.800000,3,4988.662132
3,4,東京都杉並区高円寺南２丁目23-2,150000,29.333333,60.48,13,3.0,4.0,139.648495,35.700193,3.5,17.28,0.750000,3,2480.158730
4,5,東京都葛飾区金町３丁目7-2,74000,31.583333,39.66,9,1.0,2.0,139.872315,35.766413,3.0,13.22,0.500000,7,1865.859808

### 2.12. 東京23区の地域ごとに、住宅地の平均地価情報を追加

In [38]:
# 区の情報の確認(23区だけだった)
sample = train_data["所在地"].str.extract("東京都(.+区)", expand=True)
sample.value_counts()

世田谷区    3023
足立区     2191
大田区     2000
杉並区     1769
練馬区     1752
江戸川区    1702
板橋区     1624
港区      1513
江東区     1508
中央区     1279
品川区     1272
豊島区     1271
新宿区     1223
葛飾区     1212
中野区     1211
北区      1045
目黒区     1023
墨田区     1010
渋谷区      985
台東区      932
文京区      892
荒川区      576
千代田区     457
dtype: int64

In [39]:
print(len(train_data_1))
print(len(test_data_1))

31470
31262

In [40]:
# 訓練データとテストデータに、エリア情報を追加
train_data_1["エリア"] = ""
test_data_1["エリア"] = ""
train_data_1["エリア"] = train_data_1["所在地"].str.extract("東京都((.+区.+?)[０-９]|(.+区.+?)[0-9]|(.+区.+))", expand=True)
test_data_1["エリア"] = test_data_1["所在地"].str.extract("東京都((.+区.+?)[０-９]|(.+区.+?)[0-9]|(.+区.+))", expand=True)

In [41]:
print(len(train_data_1))
print(len(test_data_1))

31470
31262

In [42]:
# 一部エリア情報に数値が残ってしまうので、消す
train_data_1["エリア"] = train_data_1["エリア"].str.replace("[０-９]|[0-9]", "")
train_data_1["エリア"] = train_data_1["エリア"].str.replace("一丁目", "")
train_data_1["エリア"] = train_data_1["エリア"].str.replace("-", "")

test_data_1["エリア"] = test_data_1["エリア"].str.replace("[０-９]|[0-9]", "")
test_data_1["エリア"] = test_data_1["エリア"].str.replace("一丁目", "")
test_data_1["エリア"] = test_data_1["エリア"].str.replace("二丁目", "")
test_data_1["エリア"] = test_data_1["エリア"].str.replace("四丁目", "")

In [43]:
print(len(train_data_1))
print(len(test_data_1))

31470
31262

In [44]:
# 坪単価情報の読込～結合
wards_value = pd.read_excel("23区_地域毎_坪単価.xlsx")
train_data_1 = pd.merge(train_data_1, wards_value, on="エリア", how="left")
test_data_1 = pd.merge(test_data_1, wards_value, on="エリア", how="left")
train_data_1 = train_data_1.sort_values("id")
test_data_1 = test_data_1.sort_values("id")

In [45]:
# 地価の抜けデータを平均値で補間
# 江東区
train_data_1.loc[train_data_1["id"]==2767, "平均坪単価（万円）"] = 206.6
train_data_1.loc[train_data_1["id"]==7559, "平均坪単価（万円）"] = 206.6
# 港区
train_data_1.loc[train_data_1["id"]==17654, "平均坪単価（万円）"] = 1321.4

In [46]:
print(len(train_data_1))
print(len(test_data_1))

31470
31262

In [47]:
print(train_data_1[train_data_1["平均坪単価（万円）"].isnull()])
print(test_data_1[test_data_1["平均坪単価（万円）"].isnull()])

Empty DataFrame
Columns: [id, 所在地, 賃料, 築年数, 面積m2, 間取りID, 所在, 階層, 経度, 緯度, 部屋数, 1部屋当たり面積m2, 高さ率, 建物構造ID, 賃料/面積, エリア, 区, 地名, 平均坪単価（万円）]
Index: []
Empty DataFrame
Columns: [id, 所在地, 築年数, 面積m2, 間取りID, 所在, 階層, 経度, 緯度, 部屋数, 1部屋当たり面積m2, 高さ率, 建物構造ID, エリア, 区, 地名, 平均坪単価（万円）]
Index: []

In [48]:
# 不要なカラムを削除する
train_data_1 = train_data_1.drop(["所在地", "エリア", "区", "地名"], axis=1)
test_data_1 = test_data_1.drop(["所在地", "エリア", "区", "地名"], axis=1)

In [49]:
train_data_1.head()

,id,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,賃料/面積,平均坪単価（万円）
0,1,75000,9.750000,20.01,2,1.0,12.0,139.727873,35.747759,1.0,20.01,0.083333,3,3748.125937,180.0
1,2,76000,44.833333,16.50,8,5.0,10.0,139.780485,35.662406,1.0,16.50,0.500000,10,4606.060606,323.0
2,3,110000,8.500000,22.05,2,12.0,15.0,139.667375,35.675358,1.0,22.05,0.800000,3,4988.662132,324.0
3,4,150000,29.333333,60.48,13,3.0,4.0,139.648495,35.700193,3.5,17.28,0.750000,3,2480.158730,253.0
4,5,74000,31.583333,39.66,9,1.0,2.0,139.872315,35.766413,3.0,13.22,0.500000,7,1865.859808,111.0

### 2.13. 最寄り駅までの徒歩分数を追加

In [129]:
# 精度悪化の要因になるため無効化
# train_data_1["アクセス"] = (train_data["アクセス"].str.extract("徒歩(.+?)", expand=True)).astype(float)
# test_data_1["アクセス"] = (test_data["アクセス"].str.extract("徒歩(.+?)", expand=True)).astype(float)

### 2.14. 重複物件の抽出・削除

In [236]:
# 重複確認用のデータ出力
# train_duplicate = pd.concat([train_data[["id", "賃料", "所在地"]], train_data_1[["間取りID", "面積m2", "所在", "階層"]]], axis=1)
# test_duplicate = pd.concat([test_data[["id", "所在地"]], test_data_1[["間取りID", "面積m2", "所在", "階層"]]], axis=1)

In [237]:
# 結果の出力
# train_duplicate.to_excel("train_duplicate.xlsx", header=True, index=False)
# test_duplicate.to_excel("test_duplicate.xlsx", header=True, index=False)

In [50]:
# 重複対象のデータ読み込み
train_duplicate_flag = pd.read_excel("train_duplicate_flag.xlsx")
test_duplicate_flag = pd.read_excel("test_duplicate_flag.xlsx")

In [51]:
# データ数のチェック
print("Train:", len(train_data_1), "-", len(train_duplicate_flag), "=", len(train_data_1)-len(train_duplicate_flag))
print("Test:", len(test_data_1), "-", len(test_duplicate_flag), "=", len(test_data_1)-len(test_duplicate_flag))

Train: 31470 - 31470 = 0
Test: 31262 - 31262 = 0

In [52]:
# 重複フラグを結合
train_data_1 = pd.merge(train_data_1, train_duplicate_flag, on="id")
train_data_1 = train_data_1.rename(columns={"賃料_x":"賃料"})
train_data_1 = train_data_1.drop('賃料_y', axis=1)

test_data_1 = pd.merge(test_data_1, test_duplicate_flag, on="id")

In [53]:
# testデータからのみ、flag=1.0の列を削除
print("【削除前】", "train:", len(train_data_1), ", ", "test:", len(test_data_1))
#train_data_1 = train_data_1.loc[train_data_1["flag"] != 1.0]
test_data_1 = test_data_1.loc[test_data_1["flag"] != 1.0]
print("【削除後】", "train:", len(train_data_1), ", ", "test:", len(test_data_1))

【削除前】 train: 31470 ,  test: 31262
【削除後】 train: 31470 ,  test: 24812

## 3. データチェック

In [54]:
train_data_1.isnull().sum()

id                0
賃料                0
築年数             889
面積m2              0
間取りID             0
所在              120
階層              594
経度                0
緯度                0
部屋数               0
1部屋当たり面積m2        0
高さ率             714
建物構造ID            0
賃料/面積             0
平均坪単価（万円）         0
flag          25975
dtype: int64

In [55]:
test_data_1.isnull().sum()

id                0
築年数             675
面積m2              0
間取りID             0
所在              102
階層              476
経度                0
緯度                0
部屋数               0
1部屋当たり面積m2        0
高さ率             577
建物構造ID            0
平均坪単価（万円）         0
flag          24812
dtype: int64

In [56]:
len(train_data_1)

31470

In [57]:
len(train_data)

31470

In [58]:
len(test_data_1)

24812

In [59]:
len(test_data)

31262

In [60]:
train_data_1.head()

,id,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,賃料/面積,平均坪単価（万円）,flag
0,1,75000,9.750000,20.01,2,1.0,12.0,139.727873,35.747759,1.0,20.01,0.083333,3,3748.125937,180.0,NaN
1,2,76000,44.833333,16.50,8,5.0,10.0,139.780485,35.662406,1.0,16.50,0.500000,10,4606.060606,323.0,1.0
2,3,110000,8.500000,22.05,2,12.0,15.0,139.667375,35.675358,1.0,22.05,0.800000,3,4988.662132,324.0,NaN
3,4,150000,29.333333,60.48,13,3.0,4.0,139.648495,35.700193,3.5,17.28,0.750000,3,2480.158730,253.0,NaN
4,5,74000,31.583333,39.66,9,1.0,2.0,139.872315,35.766413,3.0,13.22,0.500000,7,1865.859808,111.0,NaN

In [61]:
test_data_1.head()

,id,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,平均坪単価（万円）,flag
0,31471,49.000000,50.22,13,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00,10,208.0,NaN
1,31472,0.166667,20.88,8,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75,3,273.0,NaN
2,31473,23.333333,26.93,2,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25,10,186.0,NaN
3,31474,36.166667,23.57,2,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50,7,184.0,NaN
5,31476,25.500000,21.45,8,1.0,2.0,139.686023,35.691395,1.0,21.450000,0.50,7,294.0,NaN

## 4.学習

In [65]:
# IDとflagの削除
train_data_1_no_ID = train_data_1.drop(["id", "flag"], axis=1)
test_data_1_no_ID = test_data_1.drop(["id", "flag"], axis=1)

In [66]:
# 特徴データと目的変数の設定
train_x = train_data_1_no_ID.drop(["賃料", "賃料/面積"], axis=1)
train_y = train_data_1_no_ID["賃料/面積"]

test_x = test_data_1_no_ID

In [67]:
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.metrics import log_loss, accuracy_score
from sklearn.model_selection import KFold

scores = []
# GBDT用のハイパーパラメータ
params = {"objective": "reg:squarederror", "sileng":1, "random_state":71}
num_round = 50

# クロスバリデーション
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx, in kf.split(train_x):
    tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]
    
    # GBDTで学習実行
    dtrain = xgb.DMatrix(tr_x, label=tr_y) # enable_categorical=True
    dvalid = xgb.DMatrix(va_x, label=va_y)
    dtest = xgb.DMatrix(test_x)
    
    watchlist = [(dtrain, "train"), (dvalid, "eval")]
    model = xgb.train(params, dtrain, num_round, evals=watchlist)

[16:05:15] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2640.36816	eval-rmse:2611.49194
[1]	train-rmse:1896.67810	eval-rmse:1863.53442
[2]	train-rmse:1388.44702	eval-rmse:1349.14453
[3]	train-rmse:1046.06348	eval-rmse:999.88946
[4]	train-rmse:821.59564	eval-rmse:768.71875
[5]	train-rmse:680.28363	eval-rmse:620.12201
[6]	train-rmse:586.76221	eval-rmse:531.47864
[7]	train-rmse:533.87531	eval-rmse:476.21082
[8]	train-rmse:503.44836	eval-rmse:444.11328
[9]	train-rmse:484.26977	eval-rmse:425.80505
[10]	train-rmse:464.63586	eval-rmse:412.45425
[11]	train-rmse:454.31165	eval-rmse:406.93463
[12]	train-rmse:448.12442	eval-rmse:401.68314
[13]	train-rmse:442.89386	eval-rmse:399.53436
[14]	train-rmse:439.30933	eval-rmse:395.67184
[15]	train-rmse:434.46011	eval-rmse:392.00452
[16]	train-rmse:429.79672	eval-rmse:387.90301
[17]	train-rmse:427.62094	eval-rmse:386.02625
[18]	train-rmse:425.50363	eval-rmse:384.78540
[19]	train-rmse:424.11487	eval-rmse:383.88080
[20]	train-rmse:421.00958	eval-rmse:380.69409
[21]	train-rmse:415.18481	eval-rmse:378.02872
[22]	train-rmse:413.77383	eval-rmse:376.70328
[23]	train-rmse:411.65414	eval-rmse:375.40128
[24]	train-rmse:410.15384	eval-rmse:373.87479
[25]	train-rmse:408.96851	eval-rmse:372.71844
[26]	train-rmse:407.35452	eval-rmse:371.70416
[27]	train-rmse:404.86978	eval-rmse:369.07120
[28]	train-rmse:402.43549	eval-rmse:369.15445
[29]	train-rmse:400.85373	eval-rmse:368.15234
[30]	train-rmse:399.33731	eval-rmse:367.14591
[31]	train-rmse:398.11707	eval-rmse:366.00238
[32]	train-rmse:397.65250	eval-rmse:365.83328
[33]	train-rmse:396.49310	eval-rmse:364.66321
[34]	train-rmse:393.54480	eval-rmse:363.74518
[35]	train-rmse:391.95377	eval-rmse:362.65170
[36]	train-rmse:391.12604	eval-rmse:362.08057
[37]	train-rmse:390.83151	eval-rmse:361.88321
[38]	train-rmse:389.29776	eval-rmse:360.83371
[39]	train-rmse:388.66861	eval-rmse:360.56827
[40]	train-rmse:387.38654	eval-rmse:359.25949
[41]	train-rmse:386.87454	eval-rmse:358.95490
[42]	train-rmse:385.68808	eval-rmse:359.18286
[43]	train-rmse:384.77609	eval-rmse:358.69513
[44]	train-rmse:384.15951	eval-rmse:358.42093
[45]	train-rmse:383.04239	eval-rmse:357.54779
[46]	train-rmse:381.88043	eval-rmse:356.55331
[47]	train-rmse:381.49942	eval-rmse:356.31735
[48]	train-rmse:381.31766	eval-rmse:356.23300
[49]	train-rmse:378.97302	eval-rmse:355.64389
[16:05:16] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2617.54272	eval-rmse:2689.29102
[1]	train-rmse:1868.96680	eval-rmse:1967.55542
[2]	train-rmse:1351.83484	eval-rmse:1485.90625
[3]	train-rmse:999.52387	eval-rmse:1172.79590
[4]	train-rmse:767.19391	eval-rmse:982.27576
[5]	train-rmse:615.05450	eval-rmse:867.14435
[6]	train-rmse:517.19379	eval-rmse:799.00677
[7]	train-rmse:457.50577	eval-rmse:762.40601
[8]	train-rmse:421.09875	eval-rmse:741.32971
[9]	train-rmse:398.04010	eval-rmse:729.69574
[10]	train-rmse:383.57318	eval-rmse:723.46735
[11]	train-rmse:374.68179	eval-rmse:718.97931
[12]	train-rmse:368.23257	eval-rmse:715.61737
[13]	train-rmse:360.95990	eval-rmse:712.06616
[14]	train-rmse:356.21890	eval-rmse:707.90820
[15]	train-rmse:351.94064	eval-rmse:706.64398
[16]	train-rmse:347.36340	eval-rmse:704.91724
[17]	train-rmse:343.40771	eval-rmse:703.93866
[18]	train-rmse:340.78662	eval-rmse:702.57709
[19]	train-rmse:334.54019	eval-rmse:699.75281
[20]	train-rmse:332.28568	eval-rmse:698.88446
[21]	train-rmse:329.84128	eval-rmse:698.25482
[22]	train-rmse:327.08322	eval-rmse:696.93750
[23]	train-rmse:325.69592	eval-rmse:696.56812
[24]	train-rmse:323.20706	eval-rmse:696.19116
[25]	train-rmse:320.53714	eval-rmse:695.14349
[26]	train-rmse:318.18866	eval-rmse:694.60675
[27]	train-rmse:315.27374	eval-rmse:693.62384
[28]	train-rmse:313.76816	eval-rmse:693.16565
[29]	train-rmse:311.13147	eval-rmse:692.60413
[30]	train-rmse:309.22913	eval-rmse:692.36224
[31]	train-rmse:308.91666	eval-rmse:692.48407
[32]	train-rmse:305.49527	eval-rmse:691.49145
[33]	train-rmse:302.46988	eval-rmse:690.65533
[34]	train-rmse:300.94290	eval-rmse:690.49530
[35]	train-rmse:299.48230	eval-rmse:690.23138
[36]	train-rmse:297.87738	eval-rmse:690.01355
[37]	train-rmse:296.26486	eval-rmse:689.58917
[38]	train-rmse:295.49820	eval-rmse:689.44074
[39]	train-rmse:294.84460	eval-rmse:689.31397
[40]	train-rmse:293.34540	eval-rmse:689.11078
[41]	train-rmse:293.03381	eval-rmse:688.89514
[42]	train-rmse:291.58786	eval-rmse:688.48236
[43]	train-rmse:290.16556	eval-rmse:688.04053
[44]	train-rmse:288.73733	eval-rmse:687.72137
[45]	train-rmse:288.10373	eval-rmse:687.72162
[46]	train-rmse:286.84204	eval-rmse:687.34338
[47]	train-rmse:285.39984	eval-rmse:687.21985
[48]	train-rmse:284.85104	eval-rmse:687.16797
[49]	train-rmse:284.36963	eval-rmse:687.01355
[16:05:16] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2641.98731	eval-rmse:2612.34644
[1]	train-rmse:1902.58581	eval-rmse:1867.20215
[2]	train-rmse:1389.82153	eval-rmse:1354.41687
[3]	train-rmse:1049.13648	eval-rmse:1008.92456
[4]	train-rmse:820.58398	eval-rmse:783.38324
[5]	train-rmse:678.38184	eval-rmse:636.64062
[6]	train-rmse:588.88141	eval-rmse:545.80695
[7]	train-rmse:534.17694	eval-rmse:492.17923
[8]	train-rmse:496.79510	eval-rmse:460.84116
[9]	train-rmse:478.25348	eval-rmse:441.91040
[10]	train-rmse:466.89795	eval-rmse:432.30142
[11]	train-rmse:459.26041	eval-rmse:426.50674
[12]	train-rmse:451.61801	eval-rmse:419.90182
[13]	train-rmse:442.95645	eval-rmse:415.33249
[14]	train-rmse:439.98196	eval-rmse:412.62604
[15]	train-rmse:436.95679	eval-rmse:410.48114
[16]	train-rmse:433.74661	eval-rmse:408.72073
[17]	train-rmse:430.89496	eval-rmse:406.94714
[18]	train-rmse:427.00043	eval-rmse:403.92642
[19]	train-rmse:424.95175	eval-rmse:402.38464
[20]	train-rmse:420.30762	eval-rmse:399.07105
[21]	train-rmse:418.41376	eval-rmse:397.92575
[22]	train-rmse:416.14929	eval-rmse:396.41504
[23]	train-rmse:413.46448	eval-rmse:395.76379
[24]	train-rmse:412.21478	eval-rmse:395.08572
[25]	train-rmse:409.96191	eval-rmse:393.31308
[26]	train-rmse:406.71783	eval-rmse:390.26984
[27]	train-rmse:402.74542	eval-rmse:388.28375
[28]	train-rmse:401.03033	eval-rmse:387.13336
[29]	train-rmse:399.05371	eval-rmse:386.04492
[30]	train-rmse:397.49725	eval-rmse:385.67041
[31]	train-rmse:395.26679	eval-rmse:383.88748
[32]	train-rmse:394.80621	eval-rmse:383.51267
[33]	train-rmse:394.42490	eval-rmse:383.43103
[34]	train-rmse:393.17065	eval-rmse:382.60596
[35]	train-rmse:392.39600	eval-rmse:381.76309
[36]	train-rmse:391.47281	eval-rmse:381.32754
[37]	train-rmse:390.77637	eval-rmse:380.98248
[38]	train-rmse:390.36014	eval-rmse:380.72104
[39]	train-rmse:389.64020	eval-rmse:380.38632
[40]	train-rmse:388.05576	eval-rmse:379.87506
[41]	train-rmse:387.23593	eval-rmse:378.97430
[42]	train-rmse:385.51971	eval-rmse:377.44553
[43]	train-rmse:385.26105	eval-rmse:377.08227
[44]	train-rmse:385.00348	eval-rmse:377.13425
[45]	train-rmse:383.71277	eval-rmse:376.35797
[46]	train-rmse:382.20731	eval-rmse:375.49780
[47]	train-rmse:380.76251	eval-rmse:374.40033
[48]	train-rmse:379.38718	eval-rmse:373.57654
[49]	train-rmse:378.23505	eval-rmse:373.09842
[16:05:16] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2637.87183	eval-rmse:2631.69189
[1]	train-rmse:1896.16675	eval-rmse:1895.41370
[2]	train-rmse:1388.63525	eval-rmse:1388.77100
[3]	train-rmse:1036.39307	eval-rmse:1056.91235
[4]	train-rmse:798.82184	eval-rmse:850.55774
[5]	train-rmse:653.90845	eval-rmse:717.31720
[6]	train-rmse:550.82288	eval-rmse:656.88910
[7]	train-rmse:493.95822	eval-rmse:613.69702
[8]	train-rmse:448.81290	eval-rmse:611.43610
[9]	train-rmse:420.19879	eval-rmse:618.52820
[10]	train-rmse:406.73074	eval-rmse:608.25421
[11]	train-rmse:397.26962	eval-rmse:603.26697
[12]	train-rmse:383.31564	eval-rmse:620.55298
[13]	train-rmse:378.78516	eval-rmse:618.21313
[14]	train-rmse:370.87857	eval-rmse:629.33429
[15]	train-rmse:365.58756	eval-rmse:633.68097
[16]	train-rmse:358.96185	eval-rmse:639.48187
[17]	train-rmse:356.04526	eval-rmse:637.16187
[18]	train-rmse:353.09070	eval-rmse:635.82275
[19]	train-rmse:350.16708	eval-rmse:634.24402
[20]	train-rmse:346.43860	eval-rmse:633.08923
[21]	train-rmse:344.27731	eval-rmse:632.12030
[22]	train-rmse:342.91650	eval-rmse:631.54096
[23]	train-rmse:340.39511	eval-rmse:630.33813
[24]	train-rmse:339.21020	eval-rmse:629.66370
[25]	train-rmse:336.85559	eval-rmse:633.79590
[26]	train-rmse:333.91354	eval-rmse:633.00690
[27]	train-rmse:327.17926	eval-rmse:652.55133
[28]	train-rmse:325.97528	eval-rmse:651.70685
[29]	train-rmse:323.29901	eval-rmse:650.35712
[30]	train-rmse:321.77844	eval-rmse:649.29529
[31]	train-rmse:318.85379	eval-rmse:648.45239
[32]	train-rmse:317.92160	eval-rmse:648.41455
[33]	train-rmse:316.17279	eval-rmse:647.87836
[34]	train-rmse:314.06824	eval-rmse:647.05658
[35]	train-rmse:312.07028	eval-rmse:646.78540
[36]	train-rmse:311.19193	eval-rmse:646.55688
[37]	train-rmse:310.20129	eval-rmse:646.30646
[38]	train-rmse:308.92462	eval-rmse:645.88403
[39]	train-rmse:308.26450	eval-rmse:645.71906
[40]	train-rmse:307.79660	eval-rmse:645.54211
[41]	train-rmse:306.43481	eval-rmse:645.14911
[42]	train-rmse:305.64993	eval-rmse:644.95923
[43]	train-rmse:304.41031	eval-rmse:644.50940
[44]	train-rmse:300.01865	eval-rmse:662.50830
[45]	train-rmse:298.92764	eval-rmse:662.08423
[46]	train-rmse:295.17996	eval-rmse:674.23181
[47]	train-rmse:293.21454	eval-rmse:673.79553
[48]	train-rmse:291.89688	eval-rmse:673.25836
[49]	train-rmse:290.69150	eval-rmse:673.07446

## 5. 予測

In [68]:
# テストデータでの予測
pred = model.predict(dtest)

In [69]:
pred

array([2676.1467, 5617.017 , 2987.568 , ..., 4524.249 , 3704.958 ,
       3768.846 ], dtype=float32)

In [70]:
len(pred)

24812

In [71]:
len(test_data_1)

24812

## 6. データ出力

In [72]:
# 予測結果の結合
test_data_1["賃料/面積"] = pred

In [73]:
# 予測結果から賃料を算出し、int型に変換
test_data_1["賃料"] = (test_data_1["面積m2"] * test_data_1["賃料/面積"]).astype(int)

In [74]:
result = test_data_1[["id", "賃料"]]

In [75]:
result

          id      賃料
0      31471  134396
1      31472  117283
2      31473   80455
3      31474   60290
5      31476   71226
...      ...     ...
31255  62726  100196
31257  62728  104450
31258  62729  102745
31259  62730  169538
31261  62732   79824

[24812 rows x 2 columns]

In [76]:
len(result)

24812

In [77]:
# 除外していた重複idの賃料を戻す
test_duplicate_rentvalue = pd.read_excel("test_duplicate_rentvalue.xlsx")
result = pd.concat([result, test_duplicate_rentvalue])
result = result.sort_values("id")
len(result)

31262

In [78]:
result

          id      賃料
0      31471  134396
1      31472  117283
2      31473   80455
3      31474   60290
0      31475   90000
...      ...     ...
31257  62728  104450
31258  62729  102745
31259  62730  169538
6449   62731  280000
31261  62732   79824

[31262 rows x 2 columns]

In [79]:
result.to_csv("result.csv", header=False, index=False)