# [【SOTA】マイナビ × SIGNATE Student Cup 2019: 賃貸物件の家賃予測](https://signate.jp/competitions/264)

## 1. データ準備

### 1.1. データ読込

In [63]:
import pandas as pd
import numpy as np
import pathlib
import os

# 学習データ、テストデータの読み込み
train_path = pathlib.Path("./DATA/train.csv")
test_path = pathlib.Path("./DATA/test.csv")

train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)

In [64]:
test_data.head()

,id,所在地,アクセス,間取り,築年数,方角,面積,所在階,バス・トイレ,キッチン,放送・通信,室内設備,駐車場,周辺環境,建物構造,契約期間
0,31471,東京都世田谷区深沢５丁目1-27,東急大井町線\t等々力駅\t徒歩15分\t\t東急田園都市線\t桜新町駅\t徒歩24分\t\...,2LDK,49年0ヶ月,南,50.22m2,8階／8階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t追焚機能／\t温水洗浄便座／...,ガスコンロ／\tコンロ3口／\tシステムキッチン\t／\t給湯／\tL字キッチン,インターネット対応,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\tエレベーター\t公営水...,駐輪場\t空有\t駐車場\t無\tバイク置き場\t無,【コンビニ】 74m\t【スーパー】 215m\t【病院】 313m\t【小学校】 219m...,鉄骨造,NaN
1,31472,東京都目黒区八雲１丁目11-8,東急東横線\t都立大学駅\t徒歩6分\t\t東急東横線\t自由が丘駅\t徒歩17分\t\t東...,1R,0年2ヶ月,南東,20.88m2,3階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t浴室乾燥機\t／\t温水洗浄...,ガスコンロ／\tコンロ2口／\tシステムキッチン\t／\t給湯,インターネット対応／\tCSアンテナ／\tBSアンテナ／\tインターネット使用料無料,エアコン付\tシューズボックス／\tフローリング／\t室内洗濯機置場\t公営水道／\t下水／...,"駐車場\t近隣\t34,000円(税込)\t距離200m\t駐輪場\t無\tバイク置き場\t無",【スーパー】 128m\t【スーパー】 313m\t【コンビニ】 374m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間
2,31473,東京都豊島区池袋本町２丁目22-2,東武東上線\t北池袋駅\t徒歩10分\t\t埼京線\t板橋駅\t徒歩16分\t\t山手線\t...,1K,23年4ヶ月,南東,26.93m2,1階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t温水洗浄便座,ガスコンロ／\t給湯,インターネット対応／\t光ファイバー／\tCATV,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t2面採光／\t室内洗濯...,"駐車場\t空有\t5,000円(税込)\t(敷金あり\t1ヶ月)\t駐輪場\t空有\tバイク...",【スーパー】 529m\t【スーパー】 810m\t【コンビニ】 316m\t【コンビニ】 ...,鉄骨造,2年間
3,31474,東京都杉並区和泉１丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩10分\t\t京王線\t代田橋駅\t徒歩8分...,1K,36年2ヶ月,南東,23.57m2,1階／2階建,シャワー,ガスコンロ／\t給湯,NaN,エアコン付\tシューズボックス／\t2面採光／\t室外洗濯機置場\t公営水道／\t下水／\t...,駐輪場\t空有\t0円,【スーパー】 286m\t【スーパー】 702m\t【コンビニ】 489m\t【コンビニ】 ...,木造,2年間
4,31475,東京都杉並区堀ノ内２丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩12分\t\t丸ノ内線(池袋－荻窪)\t新高...,2LDK,45年4ヶ月,南,50m2,4階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別,コンロ設置可（口数不明）／\t給湯,インターネット対応,冷房／\tエアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t室内洗濯機置...,"駐車場\t近隣\t22,600円\t距離177m",【コンビニ】 312m\t【コンビニ】 436m\t【スーパー】 902m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間

## 2. 前処理

### 2.1. データ選択

In [65]:
train_data_1 = train_data[["id", "所在地", "賃料", "間取り", "築年数", "面積", "所在階", "建物構造"]]
test_data_1 = test_data[["id", "所在地", "間取り", "築年数", "面積", "所在階", "建物構造"]]

### 2.2. 間取りの数値化

In [66]:
# 16m2で11R扱いの物件を1Rに修正する
# test_data.loc[test_data["間取り"]=="11R"]
test_data_1 = test_data_1.replace("11R", "1R")

In [67]:
# 間取りにlabel encodingを適用
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([train_data_1["間取り"],test_data_1["間取り"]]))

train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

<ipython-input-67-95a8caebc059>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_1["間取りID"] = le.transform(train_data_1["間取り"])

### 2.3. 面積の数値化

In [68]:
# 面積のカラムタイトルを面積[m2]に置換
train_data_1 = train_data_1.rename(columns={"面積": "面積m2"})
test_data_1 = test_data_1.rename(columns={"面積": "面積m2"})

In [69]:
# カラムタイトル面積[m2]の要素からm2を削除
train_data_1['面積m2'] = train_data_1['面積m2'].str.replace('m2', '').astype(float)
test_data_1['面積m2'] = test_data_1['面積m2'].str.replace('m2', '').astype(float)

### 2.4. 所在階の数値化

In [70]:
# 所在階が総階数よりも大きい場合、値を入れ替える
train_data_1 = train_data_1.replace("2階／1階建", "1階／2階建")
train_data_1 = train_data_1.replace("4階／2階建", "2階／4階建")
train_data_1 = train_data_1.replace("7階／2階建", "2階／7階建")
train_data_1 = train_data_1.replace("10階／8階建", "8階／10階建")

test_data_1 = test_data_1.replace("2階／1階建", "1階／2階建")
test_data_1 = test_data_1.replace("3階／2階建", "2階／3階建")
test_data_1 = test_data_1.replace("4階／1階建", "1階／4階建")
test_data_1 = test_data_1.replace("4階／2階建", "2階／4階建")
test_data_1 = test_data_1.replace("4階／3階建（地下1階）", "3階／4階建（地下1階）")
test_data_1 = test_data_1.replace("8階／6階建", "6階／8階建")
test_data_1 = test_data_1.replace("13階／4階建（地下1階）", "4階／13階建（地下1階）")
test_data_1 = test_data_1.replace("21階／3階建", "3階／21階建")
test_data_1 = test_data_1.replace("44階／4階建", "4階／44階建")

In [71]:
# 所在階の中身を"／"で2つの列に分割
train_data_1 = pd.concat([train_data_1, train_data_1['所在階'].str.split('／', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['所在階'].str.split('／', expand=True)], axis=1)

In [72]:
# 分割した所在階のカラム名変更　0:所在、1:階層
train_data_1 = train_data_1.rename(columns={0:"所在", 1:"階層"})
test_data_1 = test_data_1.rename(columns={0:"所在", 1:"階層"})

In [73]:
# 所在と階層の要素を整形
train_data_1['所在'] = train_data_1['所在'].str.replace('階', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('建', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('地下', '-')
train_data_1['所在'] = train_data_1['所在'].str.replace('\（.*\）', '', regex=True)
train_data_1['階層'] = train_data_1['階層'].str.replace('階建', '')
train_data_1['階層'] = train_data_1['階層'].str.replace('\（.*\）', '', regex=True)
train_data_1['所在'] = train_data_1['所在'].replace('', np.nan)

test_data_1['所在'] = test_data_1['所在'].str.replace('階', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('建', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('地下', '-')
test_data_1['所在'] = test_data_1['所在'].str.replace('\（.*\）', '', regex=True)
test_data_1['階層'] = test_data_1['階層'].str.replace('階建', '')
test_data_1['階層'] = test_data_1['階層'].str.replace('\（.*\）', '', regex=True)
test_data_1['所在'] = test_data_1['所在'].replace('', np.nan)

In [74]:
# # "階層"がNoneの箇所を"所在"の値で埋める
# train_data_1['階層'].fillna(train_data_1['所在'], inplace=True)
# test_data_1['階層'].fillna(test_data_1['所在'], inplace=True)

In [75]:
# 所在と階層の要素をfloat型に変換する
train_data_1['所在'] = train_data_1['所在'].astype(float)
train_data_1['階層'] = train_data_1['階層'].astype(float)

test_data_1['所在'] = test_data_1['所在'].astype(float)
test_data_1['階層'] = test_data_1['階層'].astype(float)

In [76]:
# 所在階のカラムを削除
train_data_1 = train_data_1.drop('所在階', axis=1)
test_data_1 = test_data_1.drop('所在階', axis=1)

In [77]:
# # 所在のNaNを埋める
# train_data_1.loc[train_data_1["所在"].isnull(), "所在"] = train_data_1["階層"]
# test_data_1.loc[test_data_1["所在"].isnull(), "所在"] = test_data_1["階層"]

In [78]:
# # 所在も階層も空欄のデータは間取りと面積の近いデータで埋める
# print(test_data_1[(test_data_1["間取りID"] == 21) & (test_data_1["面積m2"] > 90) & (test_data_1["面積m2"] < 95)].mean())
# test_data_1.loc[test_data_1["id"]==40675, "所在"] = float(6)
# test_data_1.loc[test_data_1["id"]==40675, "階層"] = float(9)

### 2.5. 築年数の数値化

In [79]:
# 新築の場合は全て0にする
train_data_1.loc[train_data_1["築年数"]=="新築", "築年数"] = float(0)
test_data_1.loc[test_data_1["築年数"]=="新築", "築年数"] = float(0)

In [80]:
# 築年数を数値に変換する
train_data_1 = pd.concat([train_data_1, train_data_1['築年数'].str.split('年', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['築年数'].str.split('年', expand=True)], axis=1)

In [81]:
# ヶ月を消す
train_data_1[1] = train_data_1[1].str.replace('ヶ月', '')
test_data_1[1] = test_data_1[1].str.replace('ヶ月', '')

In [82]:
# 築年数をfloat変換
train_data_1["築年数"] = train_data_1[0].astype(float) + (train_data_1[1].astype(float) / float(12))
test_data_1["築年数"] = test_data_1[0].astype(float) + (test_data_1[1].astype(float) / float(12))

In [83]:
test_data_1.head()

,id,所在地,間取り,築年数,面積m2,建物構造,間取りID,所在,階層,0,1
0,31471,東京都世田谷区深沢５丁目1-27,2LDK,49.000000,50.22,鉄骨造,13,8.0,8.0,49,0
1,31472,東京都目黒区八雲１丁目11-8,1R,0.166667,20.88,RC（鉄筋コンクリート）,8,3.0,4.0,0,2
2,31473,東京都豊島区池袋本町２丁目22-2,1K,23.333333,26.93,鉄骨造,2,1.0,4.0,23,4
3,31474,東京都杉並区和泉１丁目,1K,36.166667,23.57,木造,2,1.0,2.0,36,2
4,31475,東京都杉並区堀ノ内２丁目,2LDK,45.333333,50.00,RC（鉄筋コンクリート）,13,4.0,4.0,45,4

In [84]:
print(test_data_1[test_data_1["築年数"].isnull()])

          id               所在地       間取り  築年数   面積m2          建物構造  間取りID  \
77     31548      東京都大田区東矢口２丁目  1K+S(納戸)  NaN  23.80           鉄骨造      3
108    31579  東京都世田谷区上馬２丁目26-8        1K  NaN  26.44  RC（鉄筋コンクリート）      2
112    31583       東京都台東区台東２丁目      1LDK  NaN  41.65           鉄骨造      4
156    31627  東京都品川区南大井４丁目20-5        1R  NaN  20.56  RC（鉄筋コンクリート）      8
162    31633     東京都江東区扇橋２丁目23        1K  NaN  25.34  RC（鉄筋コンクリート）      2
...      ...               ...       ...  ...    ...           ...    ...
31141  62612  東京都世田谷区桜丘４丁目15-9      2LDK  NaN  60.81            木造     13
31176  62647   東京都江戸川区中葛西８丁目22      1LDK  NaN  40.06  RC（鉄筋コンクリート）      4
31181  62652       東京都新宿区原町３丁目      1LDK  NaN  40.26           鉄骨造      4
31182  62653       東京都新宿区原町３丁目      2LDK  NaN  54.75           鉄骨造     13
31212  62683       東京都新宿区原町３丁目      1LDK  NaN  40.79           鉄骨造      4

        所在    階層    0    1
77     2.0   3.0  NaN  NaN
108    7.0  13.0  NaN  NaN
112    3.0  10.0  NaN  NaN
156    3.0  12.0  NaN  NaN
162    1.0   8.0  NaN  NaN
...    ...   ...  ...  ...
31141  2.0   2.0  NaN  NaN
31176  3.0  10.0  NaN  NaN
31181  2.0   3.0  NaN  NaN
31182  1.0   3.0  NaN  NaN
31212  2.0   3.0  NaN  NaN

[850 rows x 11 columns]

In [85]:
# 0と1の列を消す
train_data_1 = train_data_1.drop(0, axis=1)
train_data_1 = train_data_1.drop(1, axis=1)

test_data_1 = test_data_1.drop(0, axis=1)
test_data_1 = test_data_1.drop(1, axis=1)

### 2.6. 緯度経度情報の追加

#### [このサイト](https://ktgis.net/gcode/geocoding.html)を利用する

In [86]:
# IDと住所をファイル出力
train_coordinate = train_data[["id", "所在地"]]
test_coordinate = test_data[["id", "所在地"]]

train_coordinate.to_csv("train_coordinate.csv", header=False, index=False)
test_coordinate.to_csv("test_coordinate.csv", header=False, index=False)

In [87]:
# 緯度、経度情報の読み込み(id, 所在地, 経度, 緯度)
train_coordinate_addvalue = pd.read_excel("train_coordinate_addvalue.xlsx")
test_coordinate_addvalue = pd.read_excel("test_coordinate_addvalue.xlsx")

In [88]:
train_data_1 = pd.merge(train_data_1, train_coordinate_addvalue[["id", "経度", "緯度"]], on='id')
test_data_1 = pd.merge(test_data_1, test_coordinate_addvalue[["id", "経度", "緯度"]], on='id')

### 2.7. 部屋数の追加

In [89]:
# 部屋数のマージ
number_of_rooms = pd.read_excel("number_of_rooms.xlsx")
train_data_1 = pd.merge(train_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')
test_data_1 = pd.merge(test_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')

In [90]:
# インデックスの振り直し
train_data_1 = train_data_1.sort_values("id")
train_data_1 = train_data_1.reset_index(drop=True)

test_data_1 = test_data_1.sort_values("id")
test_data_1 = test_data_1.reset_index(drop=True)

### 2.8. 1部屋当たりの面積追加

In [91]:
# 面積と部屋数から1部屋当たりの面積を算出
train_data_1["1部屋当たり面積m2"] = (train_data_1["面積m2"] / train_data_1["部屋数"]).astype(float)
test_data_1["1部屋当たり面積m2"] = (test_data_1["面積m2"] / test_data_1["部屋数"]).astype(float)

In [92]:
# 間取りと間取りIDは削除する
train_data_1 = train_data_1.drop('間取り', axis=1)
test_data_1 = test_data_1.drop('間取り', axis=1)

# train_data_1 = train_data_1.drop('間取りID', axis=1)
# test_data_1 = test_data_1.drop('間取りID', axis=1)

#### 2.9. 建物の高さ率を追加(高さ率=所在/階層)

In [93]:
# 高さ率の算出
train_data_1["高さ率"] = (train_data_1["所在"] / train_data_1["階層"]).astype(float)
test_data_1["高さ率"] = (test_data_1["所在"] / test_data_1["階層"]).astype(float)

### 2.10. 建物構造の数値化

In [94]:
train_data_1["建物構造"].value_counts()

RC（鉄筋コンクリート）                   17505
木造                              5512
鉄骨造                             3726
SRC（鉄骨鉄筋コンクリート）                 2429
軽量鉄骨                            1812
ALC（軽量気泡コンクリート）                  297
その他                              136
PC（プレキャスト・コンクリート（鉄筋コンクリート））       46
HPC（プレキャスト・コンクリート（重量鉄骨））           4
ブロック                               3
Name: 建物構造, dtype: int64

In [95]:
# 建物構造にlabel encodingを適用
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([train_data_1["建物構造"],test_data_1["建物構造"]]))

train_data_1["建物構造ID"] = le.transform(train_data_1["建物構造"])
test_data_1["建物構造ID"] = le.transform(test_data_1["建物構造"])

In [96]:
test_data_1.head()

,id,所在地,築年数,面積m2,建物構造,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID
0,31471,東京都世田谷区深沢５丁目1-27,49.000000,50.22,鉄骨造,13,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00,10
1,31472,東京都目黒区八雲１丁目11-8,0.166667,20.88,RC（鉄筋コンクリート）,8,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75,3
2,31473,東京都豊島区池袋本町２丁目22-2,23.333333,26.93,鉄骨造,2,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25,10
3,31474,東京都杉並区和泉１丁目,36.166667,23.57,木造,2,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50,7
4,31475,東京都杉並区堀ノ内２丁目,45.333333,50.00,RC（鉄筋コンクリート）,13,4.0,4.0,139.650468,35.689411,3.5,14.285714,1.00,3

In [97]:
# 不要になった建物構造カラムを削除する
train_data_1 = train_data_1.drop('建物構造', axis=1)
test_data_1 = test_data_1.drop('建物構造', axis=1)

### 2.11. 新規カラムに「賃料/面積」を追加

In [98]:
train_data_1["賃料/面積"] = train_data_1["賃料"] / train_data_1["面積m2"]

In [99]:
train_data_1.head()

,id,所在地,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,賃料/面積
0,1,東京都北区滝野川３丁目,75000,9.750000,20.01,2,1.0,12.0,139.727873,35.747759,1.0,20.01,0.083333,3,3748.125937
1,2,東京都中央区月島３丁目,76000,44.833333,16.50,8,5.0,10.0,139.780485,35.662406,1.0,16.50,0.500000,10,4606.060606
2,3,東京都渋谷区笹塚２丁目,110000,8.500000,22.05,2,12.0,15.0,139.667375,35.675358,1.0,22.05,0.800000,3,4988.662132
3,4,東京都杉並区高円寺南２丁目23-2,150000,29.333333,60.48,13,3.0,4.0,139.648495,35.700193,3.5,17.28,0.750000,3,2480.158730
4,5,東京都葛飾区金町３丁目7-2,74000,31.583333,39.66,9,1.0,2.0,139.872315,35.766413,3.0,13.22,0.500000,7,1865.859808

### 2.12. 東京23区の地域ごとに、住宅地の平均地価情報を追加

In [100]:
# 区の情報の確認(23区だけだった)
sample = train_data["所在地"].str.extract("東京都(.+区)", expand=True)
sample.value_counts()

世田谷区    3023
足立区     2191
大田区     2000
杉並区     1769
練馬区     1752
江戸川区    1702
板橋区     1624
港区      1513
江東区     1508
中央区     1279
品川区     1272
豊島区     1271
新宿区     1223
葛飾区     1212
中野区     1211
北区      1045
目黒区     1023
墨田区     1010
渋谷区      985
台東区      932
文京区      892
荒川区      576
千代田区     457
dtype: int64

In [101]:
print(len(train_data_1))
print(len(test_data_1))

31470
31262

In [102]:
# 訓練データとテストデータに、エリア情報を追加
train_data_1["エリア"] = ""
test_data_1["エリア"] = ""
train_data_1["エリア"] = train_data_1["所在地"].str.extract("東京都((.+区.+?)[０-９]|(.+区.+?)[0-9]|(.+区.+))", expand=True)
test_data_1["エリア"] = test_data_1["所在地"].str.extract("東京都((.+区.+?)[０-９]|(.+区.+?)[0-9]|(.+区.+))", expand=True)

In [103]:
print(len(train_data_1))
print(len(test_data_1))

31470
31262

In [104]:
# 一部エリア情報に数値が残ってしまうので、消す
train_data_1["エリア"] = train_data_1["エリア"].str.replace("[０-９]|[0-9]", "")
train_data_1["エリア"] = train_data_1["エリア"].str.replace("一丁目", "")
train_data_1["エリア"] = train_data_1["エリア"].str.replace("-", "")

test_data_1["エリア"] = test_data_1["エリア"].str.replace("[０-９]|[0-9]", "")
test_data_1["エリア"] = test_data_1["エリア"].str.replace("一丁目", "")
test_data_1["エリア"] = test_data_1["エリア"].str.replace("二丁目", "")
test_data_1["エリア"] = test_data_1["エリア"].str.replace("四丁目", "")

In [105]:
print(len(train_data_1))
print(len(test_data_1))

31470
31262

In [106]:
# 坪単価情報の読込～結合
wards_value = pd.read_excel("23区_地域毎_坪単価.xlsx")
train_data_1 = pd.merge(train_data_1, wards_value, on="エリア", how="left")
test_data_1 = pd.merge(test_data_1, wards_value, on="エリア", how="left")
train_data_1 = train_data_1.sort_values("id")
test_data_1 = test_data_1.sort_values("id")

In [107]:
# 地価の抜けデータを平均値で補間
# 江東区
train_data_1.loc[train_data_1["id"]==2767, "平均坪単価（万円）"] = 206.6
train_data_1.loc[train_data_1["id"]==7559, "平均坪単価（万円）"] = 206.6
# 港区
train_data_1.loc[train_data_1["id"]==17654, "平均坪単価（万円）"] = 1321.4

In [108]:
print(len(train_data_1))
print(len(test_data_1))

31470
31262

In [109]:
print(train_data_1[train_data_1["平均坪単価（万円）"].isnull()])
print(test_data_1[test_data_1["平均坪単価（万円）"].isnull()])

Empty DataFrame
Columns: [id, 所在地, 賃料, 築年数, 面積m2, 間取りID, 所在, 階層, 経度, 緯度, 部屋数, 1部屋当たり面積m2, 高さ率, 建物構造ID, 賃料/面積, エリア, 区, 地名, 平均坪単価（万円）]
Index: []
Empty DataFrame
Columns: [id, 所在地, 築年数, 面積m2, 間取りID, 所在, 階層, 経度, 緯度, 部屋数, 1部屋当たり面積m2, 高さ率, 建物構造ID, エリア, 区, 地名, 平均坪単価（万円）]
Index: []

In [110]:
# 不要なカラムを削除する
train_data_1 = train_data_1.drop(["所在地", "エリア", "区", "地名"], axis=1)
test_data_1 = test_data_1.drop(["所在地", "エリア", "区", "地名"], axis=1)

In [111]:
train_data_1.head()

,id,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,賃料/面積,平均坪単価（万円）
0,1,75000,9.750000,20.01,2,1.0,12.0,139.727873,35.747759,1.0,20.01,0.083333,3,3748.125937,180.0
1,2,76000,44.833333,16.50,8,5.0,10.0,139.780485,35.662406,1.0,16.50,0.500000,10,4606.060606,323.0
2,3,110000,8.500000,22.05,2,12.0,15.0,139.667375,35.675358,1.0,22.05,0.800000,3,4988.662132,324.0
3,4,150000,29.333333,60.48,13,3.0,4.0,139.648495,35.700193,3.5,17.28,0.750000,3,2480.158730,253.0
4,5,74000,31.583333,39.66,9,1.0,2.0,139.872315,35.766413,3.0,13.22,0.500000,7,1865.859808,111.0

### 2.13. 最寄り駅までの徒歩分数を追加

In [129]:
# 精度悪化の要因になるため無効化
# train_data_1["アクセス"] = (train_data["アクセス"].str.extract("徒歩(.+?)", expand=True)).astype(float)
# test_data_1["アクセス"] = (test_data["アクセス"].str.extract("徒歩(.+?)", expand=True)).astype(float)

### 2.14. 重複物件の抽出・削除

In [236]:
# 重複確認用のデータ出力
# train_duplicate = pd.concat([train_data[["id", "賃料", "所在地"]], train_data_1[["間取りID", "面積m2", "所在", "階層"]]], axis=1)
# test_duplicate = pd.concat([test_data[["id", "所在地"]], test_data_1[["間取りID", "面積m2", "所在", "階層"]]], axis=1)

In [237]:
# 結果の出力
# train_duplicate.to_excel("train_duplicate.xlsx", header=True, index=False)
# test_duplicate.to_excel("test_duplicate.xlsx", header=True, index=False)

In [112]:
# 重複対象のデータ読み込み
train_duplicate_flag = pd.read_excel("train_duplicate_flag.xlsx")
test_duplicate_flag = pd.read_excel("test_duplicate_flag.xlsx")

In [113]:
# データ数のチェック
print("Train:", len(train_data_1), "-", len(train_duplicate_flag), "=", len(train_data_1)-len(train_duplicate_flag))
print("Test:", len(test_data_1), "-", len(test_duplicate_flag), "=", len(test_data_1)-len(test_duplicate_flag))

Train: 31470 - 31470 = 0
Test: 31262 - 31262 = 0

In [114]:
# 重複フラグを結合
train_data_1 = pd.merge(train_data_1, train_duplicate_flag, on="id")
train_data_1 = train_data_1.rename(columns={"賃料_x":"賃料"})
train_data_1 = train_data_1.drop('賃料_y', axis=1)

test_data_1 = pd.merge(test_data_1, test_duplicate_flag, on="id")

In [115]:
# testデータからのみ、flag=1.0の列を削除
print("【削除前】", "train:", len(train_data_1), ", ", "test:", len(test_data_1))
#train_data_1 = train_data_1.loc[train_data_1["flag"] != 1.0]
test_data_1 = test_data_1.loc[test_data_1["flag"] != 1.0]
print("【削除後】", "train:", len(train_data_1), ", ", "test:", len(test_data_1))

【削除前】 train: 31470 ,  test: 31262
【削除後】 train: 31470 ,  test: 24812

## 3. データチェック

In [116]:
train_data_1.isnull().sum()

id                0
賃料                0
築年数             889
面積m2              0
間取りID             0
所在              120
階層              594
経度                0
緯度                0
部屋数               0
1部屋当たり面積m2        0
高さ率             714
建物構造ID            0
賃料/面積             0
平均坪単価（万円）         0
flag          25975
dtype: int64

In [117]:
test_data_1.isnull().sum()

id                0
築年数             675
面積m2              0
間取りID             0
所在              102
階層              476
経度                0
緯度                0
部屋数               0
1部屋当たり面積m2        0
高さ率             577
建物構造ID            0
平均坪単価（万円）         0
flag          24812
dtype: int64

In [118]:
len(train_data_1)

31470

In [119]:
len(train_data)

31470

In [120]:
len(test_data_1)

24812

In [121]:
len(test_data)

31262

In [122]:
train_data_1.head()

,id,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,賃料/面積,平均坪単価（万円）,flag
0,1,75000,9.750000,20.01,2,1.0,12.0,139.727873,35.747759,1.0,20.01,0.083333,3,3748.125937,180.0,NaN
1,2,76000,44.833333,16.50,8,5.0,10.0,139.780485,35.662406,1.0,16.50,0.500000,10,4606.060606,323.0,1.0
2,3,110000,8.500000,22.05,2,12.0,15.0,139.667375,35.675358,1.0,22.05,0.800000,3,4988.662132,324.0,NaN
3,4,150000,29.333333,60.48,13,3.0,4.0,139.648495,35.700193,3.5,17.28,0.750000,3,2480.158730,253.0,NaN
4,5,74000,31.583333,39.66,9,1.0,2.0,139.872315,35.766413,3.0,13.22,0.500000,7,1865.859808,111.0,NaN

In [123]:
test_data_1.head()

,id,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,平均坪単価（万円）,flag
0,31471,49.000000,50.22,13,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00,10,208.0,NaN
1,31472,0.166667,20.88,8,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75,3,273.0,NaN
2,31473,23.333333,26.93,2,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25,10,186.0,NaN
3,31474,36.166667,23.57,2,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50,7,184.0,NaN
5,31476,25.500000,21.45,8,1.0,2.0,139.686023,35.691395,1.0,21.450000,0.50,7,294.0,NaN

## 4.学習

In [124]:
# IDとflagの削除
train_data_1_no_ID = train_data_1.drop(["id", "flag"], axis=1)
test_data_1_no_ID = test_data_1.drop(["id", "flag"], axis=1)

In [125]:
# 特徴データと目的変数の設定
train_x = train_data_1_no_ID.drop(["賃料", "賃料/面積"], axis=1)
train_y = train_data_1_no_ID["賃料/面積"]

test_x = test_data_1_no_ID

In [126]:
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.metrics import log_loss, accuracy_score
from sklearn.model_selection import KFold

scores = []
# GBDT用のハイパーパラメータ
params = {"objective": "reg:squarederror", "sileng":1, "random_state":71}
num_round = 50

# クロスバリデーション
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx, in kf.split(train_x):
    tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]
    
    # GBDTで学習実行
    dtrain = xgb.DMatrix(tr_x, label=tr_y) # enable_categorical=True
    dvalid = xgb.DMatrix(va_x, label=va_y)
    dtest = xgb.DMatrix(test_x)
    
    watchlist = [(dtrain, "train"), (dvalid, "eval")]
    model = xgb.train(params, dtrain, num_round, evals=watchlist)

[15:38:12] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2640.36816	eval-rmse:2611.49194
[1]	train-rmse:1896.67810	eval-rmse:1863.53442
[2]	train-rmse:1388.44690	eval-rmse:1349.13806
[3]	train-rmse:1046.06323	eval-rmse:999.88324
[4]	train-rmse:821.59637	eval-rmse:768.70276
[5]	train-rmse:680.28516	eval-rmse:620.03302
[6]	train-rmse:586.77325	eval-rmse:531.34381
[7]	train-rmse:533.84772	eval-rmse:476.12164
[8]	train-rmse:503.41415	eval-rmse:444.02399
[9]	train-rmse:484.55698	eval-rmse:425.46463
[10]	train-rmse:467.17398	eval-rmse:415.67319
[11]	train-rmse:459.59906	eval-rmse:409.12085
[12]	train-rmse:453.88165	eval-rmse:403.59119
[13]	train-rmse:445.94949	eval-rmse:402.40103
[14]	train-rmse:441.06998	eval-rmse:397.75113
[15]	train-rmse:434.21225	eval-rmse:395.92288
[16]	train-rmse:430.77451	eval-rmse:394.40399
[17]	train-rmse:427.57892	eval-rmse:391.45285
[18]	train-rmse:423.46536	eval-rmse:387.49402
[19]	train-rmse:419.50943	eval-rmse:384.42358
[20]	train-rmse:418.02249	eval-rmse:383.02914
[21]	train-rmse:415.43408	eval-rmse:381.06094
[22]	train-rmse:411.64746	eval-rmse:379.44122
[23]	train-rmse:410.24805	eval-rmse:377.67282
[24]	train-rmse:408.65927	eval-rmse:375.93420
[25]	train-rmse:407.67444	eval-rmse:375.38736
[26]	train-rmse:405.27469	eval-rmse:373.14270
[27]	train-rmse:403.64404	eval-rmse:371.39636
[28]	train-rmse:402.63580	eval-rmse:370.44919
[29]	train-rmse:400.93185	eval-rmse:369.65909
[30]	train-rmse:400.14905	eval-rmse:369.10712
[31]	train-rmse:398.27139	eval-rmse:367.19360
[32]	train-rmse:396.79898	eval-rmse:365.51965
[33]	train-rmse:396.08484	eval-rmse:365.27686
[34]	train-rmse:394.35272	eval-rmse:363.70514
[35]	train-rmse:392.03546	eval-rmse:362.90741
[36]	train-rmse:390.53430	eval-rmse:361.42636
[37]	train-rmse:389.60818	eval-rmse:360.99027
[38]	train-rmse:388.87894	eval-rmse:360.67471
[39]	train-rmse:388.04257	eval-rmse:359.88437
[40]	train-rmse:387.20959	eval-rmse:359.24112
[41]	train-rmse:386.57105	eval-rmse:358.88553
[42]	train-rmse:384.19543	eval-rmse:358.04874
[43]	train-rmse:382.95248	eval-rmse:357.29028
[44]	train-rmse:382.03992	eval-rmse:356.45248
[45]	train-rmse:380.50598	eval-rmse:355.85666
[46]	train-rmse:379.89987	eval-rmse:355.53040
[47]	train-rmse:379.03363	eval-rmse:354.83890
[48]	train-rmse:378.09476	eval-rmse:354.69699
[49]	train-rmse:377.50259	eval-rmse:353.98663
[15:38:12] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2617.54272	eval-rmse:2689.29102
[1]	train-rmse:1868.96680	eval-rmse:1967.55542
[2]	train-rmse:1351.83484	eval-rmse:1485.90625
[3]	train-rmse:999.52387	eval-rmse:1172.79590
[4]	train-rmse:767.19391	eval-rmse:982.27576
[5]	train-rmse:615.04864	eval-rmse:867.20142
[6]	train-rmse:517.26233	eval-rmse:799.50903
[7]	train-rmse:457.58963	eval-rmse:763.10095
[8]	train-rmse:420.45950	eval-rmse:741.49066
[9]	train-rmse:397.51041	eval-rmse:729.97742
[10]	train-rmse:382.74652	eval-rmse:723.39197
[11]	train-rmse:373.72510	eval-rmse:718.70453
[12]	train-rmse:366.43887	eval-rmse:713.31281
[13]	train-rmse:362.18466	eval-rmse:711.60925
[14]	train-rmse:357.07297	eval-rmse:709.48407
[15]	train-rmse:352.31006	eval-rmse:707.14020
[16]	train-rmse:346.54047	eval-rmse:704.93811
[17]	train-rmse:343.23343	eval-rmse:703.61334
[18]	train-rmse:340.80374	eval-rmse:702.47925
[19]	train-rmse:337.47424	eval-rmse:700.79541
[20]	train-rmse:334.83633	eval-rmse:699.69696
[21]	train-rmse:331.73773	eval-rmse:698.65350
[22]	train-rmse:327.05395	eval-rmse:697.06690
[23]	train-rmse:326.42529	eval-rmse:696.95801
[24]	train-rmse:324.04401	eval-rmse:696.32172
[25]	train-rmse:322.52588	eval-rmse:695.89929
[26]	train-rmse:319.90949	eval-rmse:695.62946
[27]	train-rmse:317.65707	eval-rmse:695.20904
[28]	train-rmse:314.72305	eval-rmse:693.49670
[29]	train-rmse:313.50397	eval-rmse:693.18488
[30]	train-rmse:311.66104	eval-rmse:692.56378
[31]	train-rmse:308.82291	eval-rmse:691.66901
[32]	train-rmse:306.25485	eval-rmse:690.88440
[33]	train-rmse:303.51144	eval-rmse:690.07672
[34]	train-rmse:303.13351	eval-rmse:689.97272
[35]	train-rmse:299.88055	eval-rmse:689.16498
[36]	train-rmse:299.10303	eval-rmse:688.89880
[37]	train-rmse:297.06021	eval-rmse:688.40790
[38]	train-rmse:296.12051	eval-rmse:688.27679
[39]	train-rmse:295.78693	eval-rmse:688.21008
[40]	train-rmse:293.29074	eval-rmse:687.91309
[41]	train-rmse:292.56183	eval-rmse:687.74640
[42]	train-rmse:290.12881	eval-rmse:687.08881
[43]	train-rmse:288.89761	eval-rmse:686.99738
[44]	train-rmse:288.52347	eval-rmse:686.92957
[45]	train-rmse:287.69424	eval-rmse:686.74860
[46]	train-rmse:286.59329	eval-rmse:686.42999
[47]	train-rmse:285.22040	eval-rmse:686.10583
[48]	train-rmse:283.78885	eval-rmse:685.77826
[49]	train-rmse:282.74060	eval-rmse:685.61957
[15:38:13] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2641.98731	eval-rmse:2612.34644
[1]	train-rmse:1902.58581	eval-rmse:1867.20215
[2]	train-rmse:1389.82153	eval-rmse:1354.41687
[3]	train-rmse:1049.12695	eval-rmse:1008.90991
[4]	train-rmse:820.57385	eval-rmse:783.36975
[5]	train-rmse:678.31842	eval-rmse:636.45453
[6]	train-rmse:588.72595	eval-rmse:544.89465
[7]	train-rmse:534.13245	eval-rmse:491.43552
[8]	train-rmse:496.76886	eval-rmse:459.55368
[9]	train-rmse:477.08029	eval-rmse:442.87891
[10]	train-rmse:464.78891	eval-rmse:431.01749
[11]	train-rmse:457.06479	eval-rmse:424.75934
[12]	train-rmse:452.07080	eval-rmse:420.89011
[13]	train-rmse:447.11352	eval-rmse:416.77383
[14]	train-rmse:443.06653	eval-rmse:413.52304
[15]	train-rmse:440.65338	eval-rmse:410.49417
[16]	train-rmse:437.25430	eval-rmse:407.47351
[17]	train-rmse:435.02487	eval-rmse:406.11810
[18]	train-rmse:431.63242	eval-rmse:403.19849
[19]	train-rmse:428.49881	eval-rmse:400.68988
[20]	train-rmse:426.91812	eval-rmse:400.43372
[21]	train-rmse:424.54245	eval-rmse:398.41873
[22]	train-rmse:422.51364	eval-rmse:397.54877
[23]	train-rmse:420.88248	eval-rmse:396.03754
[24]	train-rmse:419.75738	eval-rmse:395.18301
[25]	train-rmse:415.98352	eval-rmse:392.34387
[26]	train-rmse:414.72839	eval-rmse:391.60642
[27]	train-rmse:408.49203	eval-rmse:389.33090
[28]	train-rmse:406.51260	eval-rmse:387.66116
[29]	train-rmse:405.79285	eval-rmse:387.23279
[30]	train-rmse:404.72144	eval-rmse:386.65439
[31]	train-rmse:404.14490	eval-rmse:386.53070
[32]	train-rmse:403.23444	eval-rmse:385.64395
[33]	train-rmse:398.38300	eval-rmse:384.57108
[34]	train-rmse:396.78717	eval-rmse:383.71228
[35]	train-rmse:396.05743	eval-rmse:383.46646
[36]	train-rmse:395.42273	eval-rmse:383.23209
[37]	train-rmse:392.05029	eval-rmse:382.22913
[38]	train-rmse:391.19058	eval-rmse:382.02209
[39]	train-rmse:390.18921	eval-rmse:381.50748
[40]	train-rmse:389.33566	eval-rmse:380.86935
[41]	train-rmse:386.54395	eval-rmse:379.20560
[42]	train-rmse:385.07355	eval-rmse:379.02060
[43]	train-rmse:384.66507	eval-rmse:378.75452
[44]	train-rmse:383.55649	eval-rmse:378.13425
[45]	train-rmse:382.42914	eval-rmse:377.21857
[46]	train-rmse:380.35699	eval-rmse:376.17010
[47]	train-rmse:380.18573	eval-rmse:376.09970
[48]	train-rmse:379.38321	eval-rmse:375.63086
[49]	train-rmse:378.90219	eval-rmse:375.27457
[15:38:13] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2637.87183	eval-rmse:2631.69189
[1]	train-rmse:1896.16675	eval-rmse:1895.41370
[2]	train-rmse:1388.63452	eval-rmse:1388.76257
[3]	train-rmse:1036.39221	eval-rmse:1056.90466
[4]	train-rmse:798.82275	eval-rmse:850.54987
[5]	train-rmse:653.90955	eval-rmse:717.31085
[6]	train-rmse:550.82208	eval-rmse:656.91901
[7]	train-rmse:487.15543	eval-rmse:625.66547
[8]	train-rmse:442.33490	eval-rmse:622.71472
[9]	train-rmse:421.52234	eval-rmse:614.05518
[10]	train-rmse:399.71393	eval-rmse:627.57495
[11]	train-rmse:383.85266	eval-rmse:640.33203
[12]	train-rmse:375.54724	eval-rmse:636.02441
[13]	train-rmse:365.11124	eval-rmse:655.39825
[14]	train-rmse:361.37189	eval-rmse:653.15149
[15]	train-rmse:355.16272	eval-rmse:667.67102
[16]	train-rmse:350.01038	eval-rmse:680.25488
[17]	train-rmse:347.61304	eval-rmse:679.96057
[18]	train-rmse:342.86563	eval-rmse:694.19665
[19]	train-rmse:341.03653	eval-rmse:693.57654
[20]	train-rmse:338.40790	eval-rmse:692.33771
[21]	train-rmse:335.55933	eval-rmse:691.36163
[22]	train-rmse:332.15512	eval-rmse:690.23651
[23]	train-rmse:331.05661	eval-rmse:689.94080
[24]	train-rmse:329.12701	eval-rmse:689.22589
[25]	train-rmse:328.59067	eval-rmse:689.11792
[26]	train-rmse:326.96924	eval-rmse:688.52338
[27]	train-rmse:325.07010	eval-rmse:687.95685
[28]	train-rmse:323.31311	eval-rmse:686.99420
[29]	train-rmse:321.16623	eval-rmse:685.85339
[30]	train-rmse:318.92407	eval-rmse:685.02197
[31]	train-rmse:317.35977	eval-rmse:684.58954
[32]	train-rmse:315.18158	eval-rmse:684.74029
[33]	train-rmse:313.57416	eval-rmse:684.25946
[34]	train-rmse:311.83664	eval-rmse:684.06519
[35]	train-rmse:307.90466	eval-rmse:696.87506
[36]	train-rmse:307.01364	eval-rmse:696.75806
[37]	train-rmse:305.40399	eval-rmse:696.19086
[38]	train-rmse:304.74701	eval-rmse:695.70917
[39]	train-rmse:302.44034	eval-rmse:695.17548
[40]	train-rmse:301.34656	eval-rmse:694.93115
[41]	train-rmse:299.72803	eval-rmse:694.58185
[42]	train-rmse:299.20041	eval-rmse:694.53131
[43]	train-rmse:298.01025	eval-rmse:694.34692
[44]	train-rmse:297.15933	eval-rmse:693.51428
[45]	train-rmse:295.89517	eval-rmse:693.11322
[46]	train-rmse:293.14008	eval-rmse:692.93347
[47]	train-rmse:290.71326	eval-rmse:702.88477
[48]	train-rmse:290.14951	eval-rmse:702.82446
[49]	train-rmse:289.20703	eval-rmse:702.72913

## 5. 予測

In [127]:
# テストデータでの予測
pred = model.predict(dtest)

In [128]:
pred

array([2755.9602, 5645.4937, 2978.7043, ..., 4470.488 , 3835.9841,
       3805.526 ], dtype=float32)

In [129]:
len(pred)

24812

In [130]:
len(test_data_1)

24812

## 6. データ出力

In [131]:
# 予測結果の結合
test_data_1["賃料/面積"] = pred

In [132]:
# 予測結果から賃料を算出し、int型に変換
test_data_1["賃料"] = (test_data_1["面積m2"] * test_data_1["賃料/面積"]).astype(int)

In [133]:
result = test_data_1[["id", "賃料"]]

In [134]:
result

          id      賃料
0      31471  138404
1      31472  117877
2      31473   80216
3      31474   59829
5      31476   70106
...      ...     ...
31255  62726  100689
31257  62728  103299
31258  62729  101524
31259  62730  175534
31261  62732   80601

[24812 rows x 2 columns]

In [135]:
len(result)

24812

In [136]:
# 除外していた重複idの賃料を戻す
test_duplicate_rentvalue = pd.read_excel("test_duplicate_rentvalue.xlsx")
result = pd.concat([result, test_duplicate_rentvalue])
result = result.sort_values("id")
len(result)

31262

In [137]:
result

          id      賃料
0      31471  138404
1      31472  117877
2      31473   80216
3      31474   59829
0      31475   90000
...      ...     ...
31257  62728  103299
31258  62729  101524
31259  62730  175534
6449   62731  280000
31261  62732   80601

[31262 rows x 2 columns]

In [138]:
result.to_csv("result.csv", header=False, index=False)