# [【SOTA】マイナビ × SIGNATE Student Cup 2019: 賃貸物件の家賃予測](https://signate.jp/competitions/264)

## 1. データ読み込み

In [39]:
import pandas as pd
import numpy as np
import pathlib
import os

# 学習データ、テストデータの読み込み
train_path = pathlib.Path("./DATA/train.csv")
test_path = pathlib.Path("./DATA/test.csv")

train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)

In [40]:
test_data.head()

,id,所在地,アクセス,間取り,築年数,方角,面積,所在階,バス・トイレ,キッチン,放送・通信,室内設備,駐車場,周辺環境,建物構造,契約期間
0,31471,東京都世田谷区深沢５丁目1-27,東急大井町線\t等々力駅\t徒歩15分\t\t東急田園都市線\t桜新町駅\t徒歩24分\t\...,2LDK,49年0ヶ月,南,50.22m2,8階／8階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t追焚機能／\t温水洗浄便座／...,ガスコンロ／\tコンロ3口／\tシステムキッチン\t／\t給湯／\tL字キッチン,インターネット対応,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\tエレベーター\t公営水...,駐輪場\t空有\t駐車場\t無\tバイク置き場\t無,【コンビニ】 74m\t【スーパー】 215m\t【病院】 313m\t【小学校】 219m...,鉄骨造,NaN
1,31472,東京都目黒区八雲１丁目11-8,東急東横線\t都立大学駅\t徒歩6分\t\t東急東横線\t自由が丘駅\t徒歩17分\t\t東...,1R,0年2ヶ月,南東,20.88m2,3階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t浴室乾燥機\t／\t温水洗浄...,ガスコンロ／\tコンロ2口／\tシステムキッチン\t／\t給湯,インターネット対応／\tCSアンテナ／\tBSアンテナ／\tインターネット使用料無料,エアコン付\tシューズボックス／\tフローリング／\t室内洗濯機置場\t公営水道／\t下水／...,"駐車場\t近隣\t34,000円(税込)\t距離200m\t駐輪場\t無\tバイク置き場\t無",【スーパー】 128m\t【スーパー】 313m\t【コンビニ】 374m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間
2,31473,東京都豊島区池袋本町２丁目22-2,東武東上線\t北池袋駅\t徒歩10分\t\t埼京線\t板橋駅\t徒歩16分\t\t山手線\t...,1K,23年4ヶ月,南東,26.93m2,1階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t温水洗浄便座,ガスコンロ／\t給湯,インターネット対応／\t光ファイバー／\tCATV,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t2面採光／\t室内洗濯...,"駐車場\t空有\t5,000円(税込)\t(敷金あり\t1ヶ月)\t駐輪場\t空有\tバイク...",【スーパー】 529m\t【スーパー】 810m\t【コンビニ】 316m\t【コンビニ】 ...,鉄骨造,2年間
3,31474,東京都杉並区和泉１丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩10分\t\t京王線\t代田橋駅\t徒歩8分...,1K,36年2ヶ月,南東,23.57m2,1階／2階建,シャワー,ガスコンロ／\t給湯,NaN,エアコン付\tシューズボックス／\t2面採光／\t室外洗濯機置場\t公営水道／\t下水／\t...,駐輪場\t空有\t0円,【スーパー】 286m\t【スーパー】 702m\t【コンビニ】 489m\t【コンビニ】 ...,木造,2年間
4,31475,東京都杉並区堀ノ内２丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩12分\t\t丸ノ内線(池袋－荻窪)\t新高...,2LDK,45年4ヶ月,南,50m2,4階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別,コンロ設置可（口数不明）／\t給湯,インターネット対応,冷房／\tエアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t室内洗濯機置...,"駐車場\t近隣\t22,600円\t距離177m",【コンビニ】 312m\t【コンビニ】 436m\t【スーパー】 902m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間

## 2. 前処理

### 2.1. データ選択

In [41]:
# 簡単な前処理
train_data_1 = train_data[["id", "賃料", "間取り", "築年数", "面積", "所在階"]]
test_data_1 = test_data[["id", "間取り", "築年数", "面積", "所在階"]]

### 2.2. 間取りの数値化

In [42]:
# 間取りにlabel encodingを適用
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([train_data_1["間取り"],test_data_1["間取り"]]))

train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

<ipython-input-42-95a8caebc059>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
<ipython-input-42-95a8caebc059>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

### 2.3. 面積の数値化

In [43]:
# 面積のカラムタイトルを面積[m2]に置換
train_data_1 = train_data_1.rename(columns={"面積": "面積m2"})
test_data_1 = test_data_1.rename(columns={"面積": "面積m2"})

In [44]:
# カラムタイトル面積[m2]の要素からm2を削除
train_data_1['面積m2'] = train_data_1['面積m2'].str.replace('m2', '').astype(float)
test_data_1['面積m2'] = test_data_1['面積m2'].str.replace('m2', '').astype(float)

### 2.4. 所在階の数値化

In [45]:
# 所在階の中身を"／"で2つの列に分割
train_data_1 = pd.concat([train_data_1, train_data_1['所在階'].str.split('／', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['所在階'].str.split('／', expand=True)], axis=1)

In [46]:
# 分割した所在階のカラム名変更　0:所在、1:階層
train_data_1 = train_data_1.rename(columns={0:"所在", 1:"階層"})
test_data_1 = test_data_1.rename(columns={0:"所在", 1:"階層"})

In [47]:
# 所在と階層の要素を整形
train_data_1['所在'] = train_data_1['所在'].str.replace('階', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('建', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('地下', '-')
train_data_1['所在'] = train_data_1['所在'].str.replace('\（.*\）', '', regex=True)
train_data_1['階層'] = train_data_1['階層'].str.replace('階建', '')
train_data_1['階層'] = train_data_1['階層'].str.replace('\（.*\）', '', regex=True)
train_data_1['所在'] = train_data_1['所在'].replace('', np.nan)

test_data_1['所在'] = test_data_1['所在'].str.replace('階', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('建', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('地下', '-')
test_data_1['所在'] = test_data_1['所在'].str.replace('\（.*\）', '', regex=True)
test_data_1['階層'] = test_data_1['階層'].str.replace('階建', '')
test_data_1['階層'] = test_data_1['階層'].str.replace('\（.*\）', '', regex=True)
test_data_1['所在'] = test_data_1['所在'].replace('', np.nan)

In [48]:
# # "階層"がNoneの箇所を"所在"の値で埋める
# train_data_1['階層'].fillna(train_data_1['所在'], inplace=True)
# test_data_1['階層'].fillna(test_data_1['所在'], inplace=True)

In [49]:
# 所在と階層の要素をfloat型に変換する
train_data_1['所在'] = train_data_1['所在'].astype(float)
train_data_1['階層'] = train_data_1['階層'].astype(float)

test_data_1['所在'] = test_data_1['所在'].astype(float)
test_data_1['階層'] = test_data_1['階層'].astype(float)

In [50]:
# 所在階のカラムを削除
train_data_1 = train_data_1.drop('所在階', axis=1)
test_data_1 = test_data_1.drop('所在階', axis=1)

In [51]:
# # 所在のNaNを埋める
# train_data_1.loc[train_data_1["所在"].isnull(), "所在"] = train_data_1["階層"]
# test_data_1.loc[test_data_1["所在"].isnull(), "所在"] = test_data_1["階層"]

In [52]:
# # 所在も階層も空欄のデータは間取りと面積の近いデータで埋める
# print(test_data_1[(test_data_1["間取りID"] == 21) & (test_data_1["面積m2"] > 90) & (test_data_1["面積m2"] < 95)].mean())
# test_data_1.loc[test_data_1["id"]==40675, "所在"] = float(6)
# test_data_1.loc[test_data_1["id"]==40675, "階層"] = float(9)

### 2.5. 築年数の数値化

In [53]:
# 新築の場合は全て0にする
train_data_1.loc[train_data_1["築年数"]=="新築", "築年数"] = float(0)
test_data_1.loc[test_data_1["築年数"]=="新築", "築年数"] = float(0)

In [54]:
# 築年数を数値に変換する
train_data_1 = pd.concat([train_data_1, train_data_1['築年数'].str.split('年', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['築年数'].str.split('年', expand=True)], axis=1)

In [55]:
# ヶ月を消す
train_data_1[1] = train_data_1[1].str.replace('ヶ月', '')
test_data_1[1] = test_data_1[1].str.replace('ヶ月', '')

In [56]:
# 築年数をfloat変換
train_data_1["築年数"] = train_data_1[0].astype(float) + (train_data_1[1].astype(float) / float(10))
test_data_1["築年数"] = test_data_1[0].astype(float) + (test_data_1[1].astype(float) / float(10))

In [57]:
test_data_1.head()

      id   間取り   築年数   面積m2  間取りID   所在   階層   0  1
0  31471  2LDK  49.0  50.22     14  8.0  8.0  49  0
1  31472    1R   0.2  20.88      9  3.0  4.0   0  2
2  31473    1K  23.4  26.93      3  1.0  4.0  23  4
3  31474    1K  36.2  23.57      3  1.0  2.0  36  2
4  31475  2LDK  45.4  50.00     14  4.0  4.0  45  4

In [58]:
print(test_data_1[test_data_1["築年数"].isnull()])

          id       間取り  築年数   面積m2  間取りID   所在    階層    0    1
77     31548  1K+S(納戸)  NaN  23.80      4  2.0   3.0  NaN  NaN
108    31579        1K  NaN  26.44      3  7.0  13.0  NaN  NaN
112    31583      1LDK  NaN  41.65      5  3.0  10.0  NaN  NaN
156    31627        1R  NaN  20.56      9  3.0  12.0  NaN  NaN
162    31633        1K  NaN  25.34      3  1.0   8.0  NaN  NaN
...      ...       ...  ...    ...    ...  ...   ...  ...  ...
31141  62612      2LDK  NaN  60.81     14  2.0   2.0  NaN  NaN
31176  62647      1LDK  NaN  40.06      5  3.0  10.0  NaN  NaN
31181  62652      1LDK  NaN  40.26      5  2.0   3.0  NaN  NaN
31182  62653      2LDK  NaN  54.75     14  1.0   3.0  NaN  NaN
31212  62683      1LDK  NaN  40.79      5  2.0   3.0  NaN  NaN

[850 rows x 9 columns]

In [59]:
# 0と1の列を消す
train_data_1 = train_data_1.drop(0, axis=1)
train_data_1 = train_data_1.drop(1, axis=1)

test_data_1 = test_data_1.drop(0, axis=1)
test_data_1 = test_data_1.drop(1, axis=1)

### 2.6. 緯度経度情報の追加

#### [このサイト](https://ktgis.net/gcode/geocoding.html)を利用する

In [60]:
# IDと住所をファイル出力
train_coordinate = train_data[["id", "所在地"]]
test_coordinate = test_data[["id", "所在地"]]

train_coordinate.to_csv("train_coordinate.csv", header=False, index=False)
test_coordinate.to_csv("test_coordinate.csv", header=False, index=False)

In [61]:
# 緯度、経度情報の読み込み(id, 所在地, 経度, 緯度)
train_coordinate_addvalue = pd.read_excel("train_coordinate_addvalue.xlsx")
test_coordinate_addvalue = pd.read_excel("test_coordinate_addvalue.xlsx")

In [62]:
train_data_1 = pd.merge(train_data_1, train_coordinate_addvalue[["id", "経度", "緯度"]], on='id')
test_data_1 = pd.merge(test_data_1, test_coordinate_addvalue[["id", "経度", "緯度"]], on='id')

### 2.7. 部屋数の追加

In [63]:
# 部屋数のマージ
number_of_rooms = pd.read_excel("number_of_rooms.xlsx")
train_data_1 = pd.merge(train_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')
test_data_1 = pd.merge(test_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')

In [64]:
# インデックスの振り直し
train_data_1 = train_data_1.sort_values("id")
train_data_1 = train_data_1.reset_index(drop=True)

test_data_1 = test_data_1.sort_values("id")
test_data_1 = test_data_1.reset_index(drop=True)

### 2.8. 1部屋当たりの面積追加

In [65]:
# 面積と部屋数から1部屋当たりの面積を算出
train_data_1["1部屋当たり面積m2"] = (train_data_1["面積m2"] / train_data_1["部屋数"]).astype(float)
test_data_1["1部屋当たり面積m2"] = (test_data_1["面積m2"] / test_data_1["部屋数"]).astype(float)

In [66]:
# 間取りと間取りIDは削除する
train_data_1 = train_data_1.drop('間取り', axis=1)
test_data_1 = test_data_1.drop('間取り', axis=1)

# train_data_1 = train_data_1.drop('間取りID', axis=1)
# test_data_1 = test_data_1.drop('間取りID', axis=1)

### 2.9. 建物の高さ率を追加(高さ率=所在/階層)

In [67]:
# 高さ率の算出
train_data_1["高さ率"] = (train_data_1["所在"] / train_data_1["階層"]).astype(float)
test_data_1["高さ率"] = (test_data_1["所在"] / test_data_1["階層"]).astype(float)

### 2.10. 重複物件の抽出・削除

In [236]:
# 重複確認用のデータ出力
train_duplicate = pd.concat([train_data[["id", "賃料", "所在地"]], train_data_1[["間取りID", "面積m2", "所在", "階層"]]], axis=1)
test_duplicate = pd.concat([test_data[["id", "所在地"]], test_data_1[["間取りID", "面積m2", "所在", "階層"]]], axis=1)

In [237]:
# 結果の出力
train_duplicate.to_excel("train_duplicate.xlsx", header=True, index=False)
test_duplicate.to_excel("test_duplicate.xlsx", header=True, index=False)

In [68]:
# 重複対象のデータ読み込み
train_duplicate_flag = pd.read_excel("train_duplicate_flag.xlsx")
test_duplicate_flag = pd.read_excel("test_duplicate_flag.xlsx")

In [69]:
# データ数のチェック
print("Train:", len(train_data_1), "-", len(train_duplicate_flag), "=", len(train_data_1)-len(train_duplicate_flag))
print("Test:", len(test_data_1), "-", len(test_duplicate_flag), "=", len(test_data_1)-len(test_duplicate_flag))

Train: 31470 - 31470 = 0
Test: 31262 - 31262 = 0

In [70]:
# 重複フラグを結合
train_data_1 = pd.merge(train_data_1, train_duplicate_flag, on="id")
train_data_1 = train_data_1.rename(columns={"賃料_x":"賃料"})
train_data_1 = train_data_1.drop('賃料_y', axis=1)

test_data_1 = pd.merge(test_data_1, test_duplicate_flag, on="id")

In [241]:
# testデータからのみ、flag=1.0の列を削除
print("【削除前】", "train:", len(train_data_1), ", ", "test:", len(test_data_1))
#train_data_1 = train_data_1.loc[train_data_1["flag"] != 1.0]
test_data_1 = test_data_1.loc[test_data_1["flag"] != 1.0]
print("【削除後】", "train:", len(train_data_1), ", ", "test:", len(test_data_1))

【削除前】 train: 31470 ,  test: 31262
【削除後】 train: 25975 ,  test: 24812

## 3. データチェック

In [242]:
train_data_1.isnull().sum()

id                0
賃料                0
築年数             747
面積m2              0
間取りID             0
所在              110
階層              465
経度                0
緯度                0
部屋数               0
1部屋当たり面積m2        0
高さ率             575
flag          25975
dtype: int64

In [243]:
test_data_1.isnull().sum()

id                0
築年数             675
面積m2              0
間取りID             0
所在              102
階層              476
経度                0
緯度                0
部屋数               0
1部屋当たり面積m2        0
高さ率             577
flag          24812
dtype: int64

In [244]:
len(train_data_1)

25975

In [245]:
len(train_data)

31470

In [246]:
len(test_data_1)

24812

In [247]:
len(test_data)

31262

In [251]:
train_data_1.head()

,id,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,flag
0,1,75000,9.9,20.01,3,1.0,12.0,139.727873,35.747759,1.0,20.010000,0.083333,NaN
2,3,110000,8.6,22.05,3,12.0,15.0,139.667375,35.675358,1.0,22.050000,0.800000,NaN
3,4,150000,29.4,60.48,14,3.0,4.0,139.648495,35.700193,3.5,17.280000,0.750000,NaN
4,5,74000,31.7,39.66,10,1.0,2.0,139.872315,35.766413,3.0,13.220000,0.500000,NaN
5,6,160000,7.6,50.80,14,6.0,12.0,139.795759,35.732019,3.5,14.514286,0.500000,NaN

In [252]:
test_data_1.head()

,id,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,flag
0,31471,49.0,50.22,14,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00,NaN
1,31472,0.2,20.88,9,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75,NaN
2,31473,23.4,26.93,3,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25,NaN
3,31474,36.2,23.57,3,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50,NaN
5,31476,25.6,21.45,9,1.0,2.0,139.686023,35.691395,1.0,21.450000,0.50,NaN

## 4.学習

In [250]:
# IDとflagの削除
train_data_1_no_ID = train_data_1.drop(["id"], axis=1)
train_data_1_no_ID = train_data_1.drop(["flag"], axis=1)

test_data_1_no_ID = test_data_1.drop(["id"], axis=1)
test_data_1_no_ID = test_data_1.drop(["flag"], axis=1)

In [253]:
# 特徴データと目的変数の設定
train_x = train_data_1_no_ID.drop(["賃料"], axis=1)
train_y = train_data_1_no_ID["賃料"]

test_x = test_data_1_no_ID

In [254]:
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.metrics import log_loss, accuracy_score
from sklearn.model_selection import KFold

scores = []
# GBDT用のハイパーパラメータ
params = {"objective": "reg:squarederror", "sileng":1, "random_state":71}
num_round = 50

# クロスバリデーション
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx, in kf.split(train_x):
    tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]
    
    # GBDTで学習実行
    dtrain = xgb.DMatrix(tr_x, label=tr_y) # enable_categorical=True
    dvalid = xgb.DMatrix(va_x, label=va_y)
    dtest = xgb.DMatrix(test_x)
    
    watchlist = [(dtrain, "train"), (dvalid, "eval")]
    model = xgb.train(params, dtrain, num_round, evals=watchlist)

[18:45:36] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:101020.21094	eval-rmse:99077.79688
[1]	train-rmse:74073.53125	eval-rmse:73288.89844
[2]	train-rmse:55490.19922	eval-rmse:55616.56641
[3]	train-rmse:42765.64062	eval-rmse:44134.97266
[4]	train-rmse:34088.75000	eval-rmse:36943.50391
[5]	train-rmse:28306.20703	eval-rmse:32351.39062
[6]	train-rmse:24287.60156	eval-rmse:29327.06445
[7]	train-rmse:21608.41992	eval-rmse:27350.46680
[8]	train-rmse:19607.80469	eval-rmse:25987.01562
[9]	train-rmse:18285.54492	eval-rmse:24924.89453
[10]	train-rmse:17287.19531	eval-rmse:24431.00195
[11]	train-rmse:16699.25391	eval-rmse:24194.13672
[12]	train-rmse:16240.00293	eval-rmse:23856.36133
[13]	train-rmse:15865.82715	eval-rmse:23570.95703
[14]	train-rmse:15437.29883	eval-rmse:23282.55664
[15]	train-rmse:15005.35742	eval-rmse:22934.44336
[16]	train-rmse:14755.30566	eval-rmse:22805.09961
[17]	train-rmse:14342.04199	eval-rmse:22499.41992
[18]	train-rmse:14139.70996	eval-rmse:22454.10938
[19]	train-rmse:13940.85352	eval-rmse:22351.47266
[20]	train-rmse:13654.12207	eval-rmse:22234.34766
[21]	train-rmse:13539.59570	eval-rmse:22192.67188
[22]	train-rmse:13414.50000	eval-rmse:22146.50977
[23]	train-rmse:13220.22949	eval-rmse:22045.01758
[24]	train-rmse:13119.29590	eval-rmse:21968.94922
[25]	train-rmse:13063.61133	eval-rmse:21944.28320
[26]	train-rmse:13019.52832	eval-rmse:21905.58398
[27]	train-rmse:12871.12109	eval-rmse:21777.62109
[28]	train-rmse:12754.14160	eval-rmse:21696.46680
[29]	train-rmse:12711.14356	eval-rmse:21689.99023
[30]	train-rmse:12570.14453	eval-rmse:21621.91406
[31]	train-rmse:12386.61914	eval-rmse:21547.33789
[32]	train-rmse:12307.86914	eval-rmse:21525.12500
[33]	train-rmse:12256.19434	eval-rmse:21553.36328
[34]	train-rmse:12126.53906	eval-rmse:21492.63477
[35]	train-rmse:12029.77441	eval-rmse:21453.05469
[36]	train-rmse:12004.12891	eval-rmse:21452.73242
[37]	train-rmse:11899.64258	eval-rmse:21438.99609
[38]	train-rmse:11842.20996	eval-rmse:21466.35547
[39]	train-rmse:11812.74902	eval-rmse:21455.07617
[40]	train-rmse:11747.09473	eval-rmse:21460.04688
[41]	train-rmse:11689.28906	eval-rmse:21458.02148
[42]	train-rmse:11660.76953	eval-rmse:21462.17969
[43]	train-rmse:11543.11816	eval-rmse:21434.30078
[44]	train-rmse:11505.58008	eval-rmse:21433.46094
[45]	train-rmse:11390.41602	eval-rmse:21408.35742
[46]	train-rmse:11271.68066	eval-rmse:21394.20703
[47]	train-rmse:11138.62988	eval-rmse:21402.56055
[48]	train-rmse:11031.48828	eval-rmse:21388.69141
[49]	train-rmse:10969.35449	eval-rmse:21354.08594
[18:45:37] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:100045.71875	eval-rmse:102923.60938
[1]	train-rmse:73286.59375	eval-rmse:77197.09375
[2]	train-rmse:54716.17578	eval-rmse:59423.92188
[3]	train-rmse:41924.17969	eval-rmse:47293.90625
[4]	train-rmse:33356.96875	eval-rmse:39533.81250
[5]	train-rmse:27488.00391	eval-rmse:34291.62500
[6]	train-rmse:23582.00977	eval-rmse:30790.79297
[7]	train-rmse:20999.39062	eval-rmse:28572.33594
[8]	train-rmse:19084.21289	eval-rmse:26977.46484
[9]	train-rmse:17759.68555	eval-rmse:25970.65234
[10]	train-rmse:16761.40234	eval-rmse:25385.25586
[11]	train-rmse:16100.35254	eval-rmse:24940.18555
[12]	train-rmse:15545.04688	eval-rmse:24551.50781
[13]	train-rmse:15030.72461	eval-rmse:24202.78516
[14]	train-rmse:14697.34766	eval-rmse:23955.75781
[15]	train-rmse:14466.51465	eval-rmse:23703.74805
[16]	train-rmse:14214.99121	eval-rmse:23679.94141
[17]	train-rmse:13983.21387	eval-rmse:23558.71094
[18]	train-rmse:13735.96484	eval-rmse:23465.88086
[19]	train-rmse:13446.34180	eval-rmse:23415.52539
[20]	train-rmse:13311.25977	eval-rmse:23424.57227
[21]	train-rmse:13199.69824	eval-rmse:23365.03711
[22]	train-rmse:13043.76758	eval-rmse:23256.37695
[23]	train-rmse:12844.38477	eval-rmse:23199.33008
[24]	train-rmse:12657.19336	eval-rmse:23179.95312
[25]	train-rmse:12491.09570	eval-rmse:23119.89844
[26]	train-rmse:12426.22754	eval-rmse:23108.98438
[27]	train-rmse:12352.40723	eval-rmse:23074.76758
[28]	train-rmse:12289.07227	eval-rmse:23066.55469
[29]	train-rmse:12224.36035	eval-rmse:23039.05078
[30]	train-rmse:12116.26856	eval-rmse:23011.68555
[31]	train-rmse:11982.48535	eval-rmse:22952.48633
[32]	train-rmse:11944.73242	eval-rmse:22949.18164
[33]	train-rmse:11886.81738	eval-rmse:22945.55469
[34]	train-rmse:11763.05566	eval-rmse:22937.73242
[35]	train-rmse:11724.37500	eval-rmse:22943.11523
[36]	train-rmse:11666.33594	eval-rmse:22911.09570
[37]	train-rmse:11562.31543	eval-rmse:22866.63086
[38]	train-rmse:11449.00098	eval-rmse:22818.78125
[39]	train-rmse:11388.25293	eval-rmse:22792.62891
[40]	train-rmse:11294.88769	eval-rmse:22819.36133
[41]	train-rmse:11213.90039	eval-rmse:22853.43164
[42]	train-rmse:11156.12598	eval-rmse:22822.72852
[43]	train-rmse:11068.03613	eval-rmse:22807.09375
[44]	train-rmse:11033.62109	eval-rmse:22803.30664
[45]	train-rmse:11026.29102	eval-rmse:22801.32812
[46]	train-rmse:10950.34570	eval-rmse:22751.46484
[47]	train-rmse:10874.89941	eval-rmse:22750.47656
[48]	train-rmse:10776.47852	eval-rmse:22715.72656
[49]	train-rmse:10713.92578	eval-rmse:22703.97070
[18:45:37] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:100136.39844	eval-rmse:102895.21094
[1]	train-rmse:73184.83594	eval-rmse:76541.39844
[2]	train-rmse:54727.78516	eval-rmse:59111.55859
[3]	train-rmse:41909.50000	eval-rmse:47436.36328
[4]	train-rmse:33501.22656	eval-rmse:40642.23438
[5]	train-rmse:27728.97656	eval-rmse:36493.82422
[6]	train-rmse:23847.17383	eval-rmse:33770.78125
[7]	train-rmse:21161.93750	eval-rmse:32192.79688
[8]	train-rmse:19359.58594	eval-rmse:31439.78125
[9]	train-rmse:18086.98633	eval-rmse:30798.47461
[10]	train-rmse:17100.20508	eval-rmse:30235.72266
[11]	train-rmse:16439.65039	eval-rmse:30139.36719
[12]	train-rmse:15873.58984	eval-rmse:29815.49219
[13]	train-rmse:15549.26465	eval-rmse:29648.13867
[14]	train-rmse:15219.04297	eval-rmse:29652.98828
[15]	train-rmse:15040.41309	eval-rmse:29631.23047
[16]	train-rmse:14824.79785	eval-rmse:29713.77930
[17]	train-rmse:14356.43848	eval-rmse:29431.14453
[18]	train-rmse:14226.53711	eval-rmse:29625.08398
[19]	train-rmse:14092.60156	eval-rmse:29564.04883
[20]	train-rmse:13846.77734	eval-rmse:29510.90234
[21]	train-rmse:13725.26562	eval-rmse:29401.77539
[22]	train-rmse:13549.01172	eval-rmse:29342.27930
[23]	train-rmse:13351.09668	eval-rmse:29287.80273
[24]	train-rmse:13108.17676	eval-rmse:29017.70117
[25]	train-rmse:12985.47754	eval-rmse:28903.25000
[26]	train-rmse:12894.17871	eval-rmse:28932.96094
[27]	train-rmse:12828.52539	eval-rmse:29081.58203
[28]	train-rmse:12723.65039	eval-rmse:28984.95312
[29]	train-rmse:12610.44043	eval-rmse:28955.61719
[30]	train-rmse:12578.58594	eval-rmse:28952.82031
[31]	train-rmse:12432.43457	eval-rmse:28840.28906
[32]	train-rmse:12337.96387	eval-rmse:28812.93750
[33]	train-rmse:12128.24512	eval-rmse:28677.66602
[34]	train-rmse:12010.71973	eval-rmse:28658.97266
[35]	train-rmse:11902.63086	eval-rmse:28654.50195
[36]	train-rmse:11785.87695	eval-rmse:28643.36719
[37]	train-rmse:11689.06250	eval-rmse:28711.18359
[38]	train-rmse:11655.83887	eval-rmse:28697.54688
[39]	train-rmse:11602.54688	eval-rmse:28743.50977
[40]	train-rmse:11577.47266	eval-rmse:28735.75195
[41]	train-rmse:11478.17383	eval-rmse:28748.74414
[42]	train-rmse:11353.42578	eval-rmse:28745.58789
[43]	train-rmse:11304.93359	eval-rmse:28744.00586
[44]	train-rmse:11202.99805	eval-rmse:28715.04883
[45]	train-rmse:11148.89062	eval-rmse:28717.05469
[46]	train-rmse:11106.29004	eval-rmse:28717.28516
[47]	train-rmse:11093.86816	eval-rmse:28702.78711
[48]	train-rmse:11003.98047	eval-rmse:28737.38672
[49]	train-rmse:10938.09766	eval-rmse:28700.01172
[18:45:37] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:100871.96875	eval-rmse:99799.05469
[1]	train-rmse:73948.60938	eval-rmse:73436.15625
[2]	train-rmse:55371.19531	eval-rmse:55603.01172
[3]	train-rmse:42606.14453	eval-rmse:43760.69141
[4]	train-rmse:34186.16797	eval-rmse:36167.83984
[5]	train-rmse:28127.70312	eval-rmse:31174.68555
[6]	train-rmse:24077.27344	eval-rmse:28173.99805
[7]	train-rmse:21317.96094	eval-rmse:26109.64648
[8]	train-rmse:19620.08594	eval-rmse:24836.63477
[9]	train-rmse:18231.45898	eval-rmse:23988.01172
[10]	train-rmse:17361.15820	eval-rmse:23360.52148
[11]	train-rmse:16773.64648	eval-rmse:23131.81445
[12]	train-rmse:16154.15723	eval-rmse:22797.61328
[13]	train-rmse:15801.16699	eval-rmse:22716.09180
[14]	train-rmse:15329.66211	eval-rmse:22296.23438
[15]	train-rmse:15039.97070	eval-rmse:22098.73438
[16]	train-rmse:14608.28809	eval-rmse:21809.81445
[17]	train-rmse:14438.87598	eval-rmse:21774.51367
[18]	train-rmse:14191.15625	eval-rmse:21689.65625
[19]	train-rmse:14018.53906	eval-rmse:21599.77930
[20]	train-rmse:13861.66602	eval-rmse:21543.24609
[21]	train-rmse:13587.72754	eval-rmse:21511.44922
[22]	train-rmse:13366.87793	eval-rmse:21423.85938
[23]	train-rmse:13192.69824	eval-rmse:21409.11523
[24]	train-rmse:13109.08008	eval-rmse:21382.79688
[25]	train-rmse:12916.34668	eval-rmse:21294.54688
[26]	train-rmse:12744.89453	eval-rmse:21226.69141
[27]	train-rmse:12630.87988	eval-rmse:21194.93555
[28]	train-rmse:12568.81641	eval-rmse:21207.43945
[29]	train-rmse:12404.82031	eval-rmse:21135.03516
[30]	train-rmse:12354.78906	eval-rmse:21102.50391
[31]	train-rmse:12250.12891	eval-rmse:21059.01367
[32]	train-rmse:12134.14453	eval-rmse:21015.22070
[33]	train-rmse:12063.69043	eval-rmse:21002.38672
[34]	train-rmse:11903.80371	eval-rmse:20871.36523
[35]	train-rmse:11807.40332	eval-rmse:20825.89648
[36]	train-rmse:11712.24219	eval-rmse:20796.83594
[37]	train-rmse:11687.84277	eval-rmse:20813.15234
[38]	train-rmse:11650.38769	eval-rmse:20790.25195
[39]	train-rmse:11601.53418	eval-rmse:20767.06250
[40]	train-rmse:11541.22559	eval-rmse:20687.48242
[41]	train-rmse:11446.06250	eval-rmse:20675.64844
[42]	train-rmse:11416.41504	eval-rmse:20674.11328
[43]	train-rmse:11401.80859	eval-rmse:20669.34766
[44]	train-rmse:11338.64648	eval-rmse:20661.22852
[45]	train-rmse:11304.40625	eval-rmse:20613.81055
[46]	train-rmse:11236.62988	eval-rmse:20584.77734
[47]	train-rmse:11165.15332	eval-rmse:20562.34180
[48]	train-rmse:11105.20898	eval-rmse:20527.48047
[49]	train-rmse:10990.80664	eval-rmse:20488.92383

## 5. 予測

In [255]:
# テストデータでの予測
pred = model.predict(dtest)

In [256]:
pred

array([131416.14 , 112756.11 ,  84124.31 , ..., 100921.836, 174480.31 ,
        84504.51 ], dtype=float32)

In [257]:
len(pred)

24812

In [258]:
len(test_data_1)

24812

## 6. データ出力

In [260]:
# 予測結果の結合
test_data_1["予測結果"] = pred

In [261]:
# 予測結果をint型に変換
test_data_1["予測結果"] = test_data_1["予測結果"].astype(int)

In [277]:
result = test_data_1[["id", "予測結果"]]

In [278]:
result

          id    予測結果
0      31471  131416
1      31472  112756
2      31473   84124
3      31474   59783
5      31476   66209
...      ...     ...
31255  62726  105004
31257  62728  104148
31258  62729  100921
31259  62730  174480
31261  62732   84504

[24812 rows x 2 columns]

In [279]:
len(result)

24812

In [280]:
# 除外していた重複idの賃料を戻す
test_duplicate_rentvalue = pd.read_excel("test_duplicate_rentvalue.xlsx")
result = pd.concat([result, test_duplicate_rentvalue])
result = result.sort_values("id")
len(result)

31262

In [281]:
result

          id    予測結果
0      31471  131416
1      31472  112756
2      31473   84124
3      31474   59783
0      31475   90000
...      ...     ...
31257  62728  104148
31258  62729  100921
31259  62730  174480
6449   62731  280000
31261  62732   84504

[31262 rows x 2 columns]

In [282]:
result.to_csv("result.csv", header=False, index=False)