# [【SOTA】マイナビ × SIGNATE Student Cup 2019: 賃貸物件の家賃予測](https://signate.jp/competitions/264)

## 1. データ読み込み

In [167]:
import pandas as pd
import numpy as np
import pathlib
import os

# 学習データ、テストデータの読み込み
train_path = pathlib.Path("./DATA/train.csv")
test_path = pathlib.Path("./DATA/test.csv")

train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)

In [168]:
test_data.head()

,id,所在地,アクセス,間取り,築年数,方角,面積,所在階,バス・トイレ,キッチン,放送・通信,室内設備,駐車場,周辺環境,建物構造,契約期間
0,31471,東京都世田谷区深沢５丁目1-27,東急大井町線\t等々力駅\t徒歩15分\t\t東急田園都市線\t桜新町駅\t徒歩24分\t\...,2LDK,49年0ヶ月,南,50.22m2,8階／8階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t追焚機能／\t温水洗浄便座／...,ガスコンロ／\tコンロ3口／\tシステムキッチン\t／\t給湯／\tL字キッチン,インターネット対応,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\tエレベーター\t公営水...,駐輪場\t空有\t駐車場\t無\tバイク置き場\t無,【コンビニ】 74m\t【スーパー】 215m\t【病院】 313m\t【小学校】 219m...,鉄骨造,NaN
1,31472,東京都目黒区八雲１丁目11-8,東急東横線\t都立大学駅\t徒歩6分\t\t東急東横線\t自由が丘駅\t徒歩17分\t\t東...,1R,0年2ヶ月,南東,20.88m2,3階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t浴室乾燥機\t／\t温水洗浄...,ガスコンロ／\tコンロ2口／\tシステムキッチン\t／\t給湯,インターネット対応／\tCSアンテナ／\tBSアンテナ／\tインターネット使用料無料,エアコン付\tシューズボックス／\tフローリング／\t室内洗濯機置場\t公営水道／\t下水／...,"駐車場\t近隣\t34,000円(税込)\t距離200m\t駐輪場\t無\tバイク置き場\t無",【スーパー】 128m\t【スーパー】 313m\t【コンビニ】 374m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間
2,31473,東京都豊島区池袋本町２丁目22-2,東武東上線\t北池袋駅\t徒歩10分\t\t埼京線\t板橋駅\t徒歩16分\t\t山手線\t...,1K,23年4ヶ月,南東,26.93m2,1階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t温水洗浄便座,ガスコンロ／\t給湯,インターネット対応／\t光ファイバー／\tCATV,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t2面採光／\t室内洗濯...,"駐車場\t空有\t5,000円(税込)\t(敷金あり\t1ヶ月)\t駐輪場\t空有\tバイク...",【スーパー】 529m\t【スーパー】 810m\t【コンビニ】 316m\t【コンビニ】 ...,鉄骨造,2年間
3,31474,東京都杉並区和泉１丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩10分\t\t京王線\t代田橋駅\t徒歩8分...,1K,36年2ヶ月,南東,23.57m2,1階／2階建,シャワー,ガスコンロ／\t給湯,NaN,エアコン付\tシューズボックス／\t2面採光／\t室外洗濯機置場\t公営水道／\t下水／\t...,駐輪場\t空有\t0円,【スーパー】 286m\t【スーパー】 702m\t【コンビニ】 489m\t【コンビニ】 ...,木造,2年間
4,31475,東京都杉並区堀ノ内２丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩12分\t\t丸ノ内線(池袋－荻窪)\t新高...,2LDK,45年4ヶ月,南,50m2,4階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別,コンロ設置可（口数不明）／\t給湯,インターネット対応,冷房／\tエアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t室内洗濯機置...,"駐車場\t近隣\t22,600円\t距離177m",【コンビニ】 312m\t【コンビニ】 436m\t【スーパー】 902m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間

## 2. 前処理

### 2.1. データ選択

In [169]:
# 簡単な前処理
train_data_1 = train_data[["id", "賃料", "間取り", "築年数", "面積", "所在階"]]
test_data_1 = test_data[["id", "間取り", "築年数", "面積", "所在階"]]

### 2.2. 間取りの数値化

In [170]:
# 間取りにlabel encodingを適用
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([train_data_1["間取り"],test_data_1["間取り"]]))

train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

<ipython-input-170-95a8caebc059>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
<ipython-input-170-95a8caebc059>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

### 2.3. 面積の数値化

In [171]:
# 面積のカラムタイトルを面積[m2]に置換
train_data_1 = train_data_1.rename(columns={"面積": "面積m2"})
test_data_1 = test_data_1.rename(columns={"面積": "面積m2"})

In [172]:
# カラムタイトル面積[m2]の要素からm2を削除
train_data_1['面積m2'] = train_data_1['面積m2'].str.replace('m2', '').astype(float)
test_data_1['面積m2'] = test_data_1['面積m2'].str.replace('m2', '').astype(float)

### 2.4. 所在階の数値化

In [173]:
# 所在階の中身を"／"で2つの列に分割
train_data_1 = pd.concat([train_data_1, train_data_1['所在階'].str.split('／', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['所在階'].str.split('／', expand=True)], axis=1)

In [174]:
# 分割した所在階のカラム名変更　0:所在、1:階層
train_data_1 = train_data_1.rename(columns={0:"所在", 1:"階層"})
test_data_1 = test_data_1.rename(columns={0:"所在", 1:"階層"})

In [175]:
# 所在と階層の要素を整形
train_data_1['所在'] = train_data_1['所在'].str.replace('階', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('建', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('地下', '-')
train_data_1['所在'] = train_data_1['所在'].str.replace('\（.*\）', '', regex=True)
train_data_1['階層'] = train_data_1['階層'].str.replace('階建', '')
train_data_1['階層'] = train_data_1['階層'].str.replace('\（.*\）', '', regex=True)
train_data_1['所在'] = train_data_1['所在'].replace('', np.nan)

test_data_1['所在'] = test_data_1['所在'].str.replace('階', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('建', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('地下', '-')
test_data_1['所在'] = test_data_1['所在'].str.replace('\（.*\）', '', regex=True)
test_data_1['階層'] = test_data_1['階層'].str.replace('階建', '')
test_data_1['階層'] = test_data_1['階層'].str.replace('\（.*\）', '', regex=True)
test_data_1['所在'] = test_data_1['所在'].replace('', np.nan)

In [176]:
# "階層"がNoneの箇所を"所在"の値で埋める
train_data_1['階層'].fillna(train_data_1['所在'], inplace=True)
test_data_1['階層'].fillna(test_data_1['所在'], inplace=True)

In [177]:
# 所在と階層の要素をfloat型に変換する
train_data_1['所在'] = train_data_1['所在'].astype(float)
train_data_1['階層'] = train_data_1['階層'].astype(float)

test_data_1['所在'] = test_data_1['所在'].astype(float)
test_data_1['階層'] = test_data_1['階層'].astype(float)

In [178]:
# 所在階のカラムを削除
train_data_1 = train_data_1.drop('所在階', axis=1)
test_data_1 = test_data_1.drop('所在階', axis=1)

In [179]:
# 所在のNaNを埋める
train_data_1.loc[train_data_1["所在"].isnull(), "所在"] = train_data_1["階層"]
test_data_1.loc[test_data_1["所在"].isnull(), "所在"] = test_data_1["階層"]

In [180]:
# 所在も階層も空欄のデータは間取りと面積の近いデータで埋める
print(test_data_1[(test_data_1["間取りID"] == 21) & (test_data_1["面積m2"] > 90) & (test_data_1["面積m2"] < 95)].mean())
test_data_1.loc[test_data_1["id"]==40675, "所在"] = float(6)
test_data_1.loc[test_data_1["id"]==40675, "階層"] = float(9)

id       44448.676471
面積m2        92.323824
間取りID       21.000000
所在           6.181818
階層           9.878788
dtype: float64

### 2.5. 築年数の数値化

In [181]:
# 新築の場合は全て0にする
train_data_1.loc[train_data_1["築年数"]=="新築", "築年数"] = float(0)
test_data_1.loc[test_data_1["築年数"]=="新築", "築年数"] = float(0)

In [182]:
# 築年数を数値に変換する
train_data_1 = pd.concat([train_data_1, train_data_1['築年数'].str.split('年', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['築年数'].str.split('年', expand=True)], axis=1)

In [183]:
# ヶ月を消す
train_data_1[1] = train_data_1[1].str.replace('ヶ月', '')
test_data_1[1] = test_data_1[1].str.replace('ヶ月', '')

In [184]:
# 築年数をfloat変換
train_data_1["築年数"] = train_data_1[0].astype(float) + (train_data_1[1].astype(float) / float(10))
test_data_1["築年数"] = test_data_1[0].astype(float) + (test_data_1[1].astype(float) / float(10))

In [185]:
test_data_1.head()

      id   間取り   築年数   面積m2  間取りID   所在   階層   0  1
0  31471  2LDK  49.0  50.22     14  8.0  8.0  49  0
1  31472    1R   0.2  20.88      9  3.0  4.0   0  2
2  31473    1K  23.4  26.93      3  1.0  4.0  23  4
3  31474    1K  36.2  23.57      3  1.0  2.0  36  2
4  31475  2LDK  45.4  50.00     14  4.0  4.0  45  4

In [186]:
print(test_data_1[test_data_1["築年数"].isnull()])

          id       間取り  築年数   面積m2  間取りID   所在    階層    0    1
77     31548  1K+S(納戸)  NaN  23.80      4  2.0   3.0  NaN  NaN
108    31579        1K  NaN  26.44      3  7.0  13.0  NaN  NaN
112    31583      1LDK  NaN  41.65      5  3.0  10.0  NaN  NaN
156    31627        1R  NaN  20.56      9  3.0  12.0  NaN  NaN
162    31633        1K  NaN  25.34      3  1.0   8.0  NaN  NaN
...      ...       ...  ...    ...    ...  ...   ...  ...  ...
31141  62612      2LDK  NaN  60.81     14  2.0   2.0  NaN  NaN
31176  62647      1LDK  NaN  40.06      5  3.0  10.0  NaN  NaN
31181  62652      1LDK  NaN  40.26      5  2.0   3.0  NaN  NaN
31182  62653      2LDK  NaN  54.75     14  1.0   3.0  NaN  NaN
31212  62683      1LDK  NaN  40.79      5  2.0   3.0  NaN  NaN

[850 rows x 9 columns]

In [187]:
# 0と1の列を消す
train_data_1 = train_data_1.drop(0, axis=1)
train_data_1 = train_data_1.drop(1, axis=1)

test_data_1 = test_data_1.drop(0, axis=1)
test_data_1 = test_data_1.drop(1, axis=1)

### 2.6. 緯度経度情報の追加

#### [このサイト](https://ktgis.net/gcode/geocoding.html)を利用する

In [188]:
# IDと住所をファイル出力
train_coordinate = train_data[["id", "所在地"]]
test_coordinate = test_data[["id", "所在地"]]

train_coordinate.to_csv("train_coordinate.csv", header=False, index=False)
test_coordinate.to_csv("test_coordinate.csv", header=False, index=False)

In [189]:
# 緯度、経度情報の読み込み(id, 所在地, 経度, 緯度)
train_coordinate_addvalue = pd.read_excel("train_coordinate_addvalue.xlsx")
test_coordinate_addvalue = pd.read_excel("test_coordinate_addvalue.xlsx")

In [190]:
train_data_1 = pd.merge(train_data_1, train_coordinate_addvalue[["id", "経度", "緯度"]], on='id')
test_data_1 = pd.merge(test_data_1, test_coordinate_addvalue[["id", "経度", "緯度"]], on='id')

### 2.7. 部屋数の追加

In [191]:
# 部屋数のマージ
number_of_rooms = pd.read_excel("number_of_rooms.xlsx")
train_data_1 = pd.merge(train_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')
test_data_1 = pd.merge(test_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')

In [192]:
# インデックスの振り直し
train_data_1 = train_data_1.sort_values("id")
train_data_1 = train_data_1.reset_index(drop=True)

test_data_1 = test_data_1.sort_values("id")
test_data_1 = test_data_1.reset_index(drop=True)

### 2.8. 1部屋当たりの面積追加

In [193]:
# 面積と部屋数から1部屋当たりの面積を算出
train_data_1["1部屋当たり面積m2"] = (train_data_1["面積m2"] / train_data_1["部屋数"]).astype(float)
test_data_1["1部屋当たり面積m2"] = (test_data_1["面積m2"] / test_data_1["部屋数"]).astype(float)

In [194]:
# 間取りと間取りIDは削除する
train_data_1 = train_data_1.drop('間取り', axis=1)
test_data_1 = test_data_1.drop('間取り', axis=1)

# train_data_1 = train_data_1.drop('間取りID', axis=1)
# test_data_1 = test_data_1.drop('間取りID', axis=1)

## 3. データチェック

In [195]:
train_data_1.isnull().sum()

id              0
賃料              0
築年数           889
面積m2            0
間取りID           0
所在              0
階層              0
経度              0
緯度              0
部屋数             0
1部屋当たり面積m2      0
dtype: int64

In [196]:
test_data_1.isnull().sum()

id              0
築年数           850
面積m2            0
間取りID           0
所在              0
階層              0
経度              0
緯度              0
部屋数             0
1部屋当たり面積m2      0
dtype: int64

In [197]:
len(train_data_1)

31470

In [198]:
len(train_data)

31470

In [199]:
len(test_data_1)

31262

In [200]:
len(test_data)

31262

In [201]:
train_data_1.head()

,id,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2
0,1,75000,9.9,20.01,3,1.0,12.0,139.727873,35.747759,1.0,20.01
1,2,76000,45.0,16.50,9,5.0,10.0,139.780485,35.662406,1.0,16.50
2,3,110000,8.6,22.05,3,12.0,15.0,139.667375,35.675358,1.0,22.05
3,4,150000,29.4,60.48,14,3.0,4.0,139.648495,35.700193,3.5,17.28
4,5,74000,31.7,39.66,10,1.0,2.0,139.872315,35.766413,3.0,13.22

In [202]:
test_data_1.head()

      id   築年数   面積m2  間取りID   所在   階層          経度         緯度  部屋数  1部屋当たり面積m2
0  31471  49.0  50.22     14  8.0  8.0  139.652762  35.617708  3.5   14.348571
1  31472   0.2  20.88      9  3.0  4.0  139.672871  35.617709  1.0   20.880000
2  31473  23.4  26.93      3  1.0  4.0  139.709049  35.741996  1.0   26.930000
3  31474  36.2  23.57      3  1.0  2.0  139.658270  35.673602  1.0   23.570000
4  31475  45.4  50.00     14  4.0  4.0  139.650468  35.689411  3.5   14.285714

## 4.学習

In [203]:
# IDの削除
train_data_1_no_ID = train_data_1.drop(["id"], axis=1)
test_data_1_no_ID = test_data_1.drop(["id"], axis=1)

In [204]:
# 特徴データと目的変数の設定
train_x = train_data_1_no_ID.drop(["賃料"], axis=1)
train_y = train_data_1_no_ID["賃料"]

test_x = test_data_1_no_ID

In [205]:
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.metrics import log_loss, accuracy_score
from sklearn.model_selection import KFold

scores = []
# GBDT用のハイパーパラメータ
params = {"objective": "reg:squarederror", "sileng":1, "random_state":71}
num_round = 50

# クロスバリデーション
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx, in kf.split(train_x):
    tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]
    
    # GBDTで学習実行
    dtrain = xgb.DMatrix(tr_x, label=tr_y) # enable_categorical=True
    dvalid = xgb.DMatrix(va_x, label=va_y)
    dtest = xgb.DMatrix(test_x)
    
    watchlist = [(dtrain, "train"), (dvalid, "eval")]
    model = xgb.train(params, dtrain, num_round, evals=watchlist)

[14:59:14] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:100907.34375	eval-rmse:100073.07031
[1]	train-rmse:74235.46875	eval-rmse:73931.54688
[2]	train-rmse:55746.73828	eval-rmse:56364.47266
[3]	train-rmse:43155.78906	eval-rmse:44484.72656
[4]	train-rmse:34608.20703	eval-rmse:36318.57422
[5]	train-rmse:28961.98828	eval-rmse:31390.21680
[6]	train-rmse:25113.97266	eval-rmse:28367.37109
[7]	train-rmse:22598.64453	eval-rmse:26248.68555
[8]	train-rmse:20864.11719	eval-rmse:24827.30859
[9]	train-rmse:19417.37695	eval-rmse:24081.93359
[10]	train-rmse:18504.00781	eval-rmse:23531.77539
[11]	train-rmse:17736.84570	eval-rmse:22998.63672
[12]	train-rmse:17286.01758	eval-rmse:22778.89062
[13]	train-rmse:16862.22266	eval-rmse:22669.25391
[14]	train-rmse:16451.17773	eval-rmse:22341.76367
[15]	train-rmse:16286.15039	eval-rmse:22272.34766
[16]	train-rmse:15950.19336	eval-rmse:22078.90430
[17]	train-rmse:15673.94727	eval-rmse:22014.10742
[18]	train-rmse:15540.48633	eval-rmse:21973.57617
[19]	train-rmse:15338.93945	eval-rmse:21893.91016
[20]	train-rmse:15277.94531	eval-rmse:21865.68164
[21]	train-rmse:14925.88574	eval-rmse:21803.63281
[22]	train-rmse:14740.50098	eval-rmse:21711.70312
[23]	train-rmse:14598.54883	eval-rmse:21684.48438
[24]	train-rmse:14524.33496	eval-rmse:21683.15820
[25]	train-rmse:14217.85156	eval-rmse:21581.58984
[26]	train-rmse:14078.37891	eval-rmse:21502.75195
[27]	train-rmse:13927.72168	eval-rmse:21389.47656
[28]	train-rmse:13816.01172	eval-rmse:21272.30078
[29]	train-rmse:13728.91992	eval-rmse:21287.45117
[30]	train-rmse:13654.76172	eval-rmse:21238.11914
[31]	train-rmse:13511.73340	eval-rmse:21174.48047
[32]	train-rmse:13485.28125	eval-rmse:21158.60742
[33]	train-rmse:13418.47363	eval-rmse:21139.37695
[34]	train-rmse:13321.58691	eval-rmse:21107.18945
[35]	train-rmse:13157.05957	eval-rmse:21068.45508
[36]	train-rmse:13043.33301	eval-rmse:21027.74414
[37]	train-rmse:12957.85449	eval-rmse:21003.00586
[38]	train-rmse:12913.61426	eval-rmse:21004.73242
[39]	train-rmse:12851.94629	eval-rmse:21015.70898
[40]	train-rmse:12810.04785	eval-rmse:20995.19531
[41]	train-rmse:12692.47949	eval-rmse:20942.78320
[42]	train-rmse:12676.99805	eval-rmse:20937.34961
[43]	train-rmse:12616.62109	eval-rmse:20924.37109
[44]	train-rmse:12537.08496	eval-rmse:20892.31250
[45]	train-rmse:12467.41406	eval-rmse:20872.42383
[46]	train-rmse:12413.05762	eval-rmse:20842.34180
[47]	train-rmse:12376.15430	eval-rmse:20866.45703
[48]	train-rmse:12339.16602	eval-rmse:20874.83008
[49]	train-rmse:12262.28516	eval-rmse:20818.88086
[14:59:14] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:100548.42969	eval-rmse:100935.79688
[1]	train-rmse:73521.36719	eval-rmse:74682.81250
[2]	train-rmse:54938.97656	eval-rmse:57395.26953
[3]	train-rmse:42244.26953	eval-rmse:46030.56250
[4]	train-rmse:33696.58203	eval-rmse:38740.53516
[5]	train-rmse:28005.10742	eval-rmse:34933.60156
[6]	train-rmse:24274.61914	eval-rmse:32545.08984
[7]	train-rmse:21574.88477	eval-rmse:30905.07812
[8]	train-rmse:19793.74023	eval-rmse:30150.95703
[9]	train-rmse:18493.13477	eval-rmse:29366.56836
[10]	train-rmse:17440.27539	eval-rmse:28985.66406
[11]	train-rmse:16395.65625	eval-rmse:28371.50781
[12]	train-rmse:15930.19531	eval-rmse:28185.56055
[13]	train-rmse:15598.62109	eval-rmse:28119.72852
[14]	train-rmse:15244.24219	eval-rmse:28043.10938
[15]	train-rmse:14905.18555	eval-rmse:27828.78125
[16]	train-rmse:14713.67871	eval-rmse:27774.96094
[17]	train-rmse:14419.95898	eval-rmse:27666.26172
[18]	train-rmse:14205.50488	eval-rmse:27668.88672
[19]	train-rmse:14019.61133	eval-rmse:27561.95703
[20]	train-rmse:13866.01172	eval-rmse:27855.67383
[21]	train-rmse:13707.37891	eval-rmse:27857.14844
[22]	train-rmse:13515.10840	eval-rmse:27931.84766
[23]	train-rmse:13322.75391	eval-rmse:27869.59766
[24]	train-rmse:13210.18945	eval-rmse:27835.29688
[25]	train-rmse:13024.04199	eval-rmse:27818.85352
[26]	train-rmse:12893.56836	eval-rmse:27796.19922
[27]	train-rmse:12854.31738	eval-rmse:27784.71484
[28]	train-rmse:12767.61133	eval-rmse:27755.33398
[29]	train-rmse:12650.07617	eval-rmse:27676.50391
[30]	train-rmse:12543.86328	eval-rmse:27562.87109
[31]	train-rmse:12412.04004	eval-rmse:27522.29102
[32]	train-rmse:12322.71875	eval-rmse:27504.31055
[33]	train-rmse:12286.99707	eval-rmse:27498.20508
[34]	train-rmse:12188.11133	eval-rmse:27403.64062
[35]	train-rmse:12024.58789	eval-rmse:27361.13281
[36]	train-rmse:11997.25000	eval-rmse:27366.02148
[37]	train-rmse:11937.38965	eval-rmse:27362.96289
[38]	train-rmse:11876.90918	eval-rmse:27327.17969
[39]	train-rmse:11840.48144	eval-rmse:27301.79883
[40]	train-rmse:11796.01269	eval-rmse:27281.05273
[41]	train-rmse:11753.58789	eval-rmse:27274.88086
[42]	train-rmse:11710.25977	eval-rmse:27233.58789
[43]	train-rmse:11607.04981	eval-rmse:27195.11914
[44]	train-rmse:11492.88281	eval-rmse:27159.18750
[45]	train-rmse:11441.45801	eval-rmse:27125.54883
[46]	train-rmse:11371.90527	eval-rmse:27097.14648
[47]	train-rmse:11350.06250	eval-rmse:27102.70508
[48]	train-rmse:11326.24023	eval-rmse:27113.90234
[49]	train-rmse:11249.18945	eval-rmse:27114.95312
[14:59:15] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:100385.75000	eval-rmse:103080.51562
[1]	train-rmse:73767.84375	eval-rmse:77386.17969
[2]	train-rmse:55354.47266	eval-rmse:60132.96094
[3]	train-rmse:42842.56250	eval-rmse:48231.70312
[4]	train-rmse:34553.96875	eval-rmse:40872.30078
[5]	train-rmse:28874.44727	eval-rmse:36281.05859
[6]	train-rmse:25076.27539	eval-rmse:33214.03906
[7]	train-rmse:22549.86914	eval-rmse:30848.20508
[8]	train-rmse:20726.46289	eval-rmse:29145.27734
[9]	train-rmse:19651.26758	eval-rmse:28230.90820
[10]	train-rmse:18697.15039	eval-rmse:27459.33398
[11]	train-rmse:17942.83008	eval-rmse:27062.97852
[12]	train-rmse:17484.24805	eval-rmse:26820.44922
[13]	train-rmse:16902.31641	eval-rmse:26306.04297
[14]	train-rmse:16545.38672	eval-rmse:26044.50195
[15]	train-rmse:16264.83789	eval-rmse:25745.81445
[16]	train-rmse:15999.74805	eval-rmse:25529.76562
[17]	train-rmse:15673.33008	eval-rmse:25501.00391
[18]	train-rmse:15396.34766	eval-rmse:25308.46289
[19]	train-rmse:15223.91211	eval-rmse:25265.07812
[20]	train-rmse:15066.38086	eval-rmse:25134.44922
[21]	train-rmse:14867.09766	eval-rmse:24985.36719
[22]	train-rmse:14708.21387	eval-rmse:24895.57617
[23]	train-rmse:14575.30273	eval-rmse:24841.33594
[24]	train-rmse:14459.48828	eval-rmse:24803.93945
[25]	train-rmse:14374.26660	eval-rmse:24753.47266
[26]	train-rmse:14184.01660	eval-rmse:24599.45508
[27]	train-rmse:14091.37793	eval-rmse:24550.53125
[28]	train-rmse:13972.33691	eval-rmse:24446.03320
[29]	train-rmse:13912.55273	eval-rmse:24413.39453
[30]	train-rmse:13898.06738	eval-rmse:24406.25195
[31]	train-rmse:13827.27539	eval-rmse:24365.56641
[32]	train-rmse:13697.30273	eval-rmse:24290.71094
[33]	train-rmse:13427.38867	eval-rmse:24250.63477
[34]	train-rmse:13276.48535	eval-rmse:24198.72266
[35]	train-rmse:13251.34277	eval-rmse:24215.99414
[36]	train-rmse:13178.18848	eval-rmse:24181.45703
[37]	train-rmse:13152.11231	eval-rmse:24161.78320
[38]	train-rmse:12918.47461	eval-rmse:24135.59180
[39]	train-rmse:12832.66113	eval-rmse:24080.98828
[40]	train-rmse:12811.81836	eval-rmse:24054.40430
[41]	train-rmse:12680.91894	eval-rmse:24001.83398
[42]	train-rmse:12618.78223	eval-rmse:23974.98633
[43]	train-rmse:12537.07031	eval-rmse:23978.18945
[44]	train-rmse:12501.83301	eval-rmse:23964.78516
[45]	train-rmse:12463.27637	eval-rmse:23937.90039
[46]	train-rmse:12424.74707	eval-rmse:23927.15820
[47]	train-rmse:12401.23633	eval-rmse:23923.60547
[48]	train-rmse:12380.18652	eval-rmse:23919.16406
[49]	train-rmse:12336.92969	eval-rmse:23910.00000
[14:59:15] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:100857.57031	eval-rmse:101032.01562
[1]	train-rmse:73915.01562	eval-rmse:74890.00000
[2]	train-rmse:55340.23047	eval-rmse:57046.03516
[3]	train-rmse:42768.20703	eval-rmse:45040.26562
[4]	train-rmse:34236.35156	eval-rmse:37323.45312
[5]	train-rmse:28648.88086	eval-rmse:31953.52734
[6]	train-rmse:24786.24414	eval-rmse:28412.19531
[7]	train-rmse:22300.08398	eval-rmse:26254.27539
[8]	train-rmse:20389.62695	eval-rmse:24900.71875
[9]	train-rmse:18887.89062	eval-rmse:23716.52539
[10]	train-rmse:18025.10156	eval-rmse:22787.57812
[11]	train-rmse:17349.81641	eval-rmse:22290.25781
[12]	train-rmse:16826.95898	eval-rmse:21876.12500
[13]	train-rmse:16439.27734	eval-rmse:21523.99414
[14]	train-rmse:16130.42578	eval-rmse:21473.13281
[15]	train-rmse:15849.41016	eval-rmse:21246.94141
[16]	train-rmse:15575.34961	eval-rmse:21122.81641
[17]	train-rmse:15446.51758	eval-rmse:20953.23633
[18]	train-rmse:15222.91992	eval-rmse:20737.57812
[19]	train-rmse:15019.25586	eval-rmse:20563.94727
[20]	train-rmse:14558.24805	eval-rmse:20759.21094
[21]	train-rmse:14426.67676	eval-rmse:20706.71094
[22]	train-rmse:14253.55371	eval-rmse:20592.22461
[23]	train-rmse:14172.05762	eval-rmse:20542.78906
[24]	train-rmse:14078.53027	eval-rmse:20496.12109
[25]	train-rmse:13955.53809	eval-rmse:20583.43555
[26]	train-rmse:13766.28809	eval-rmse:20490.94141
[27]	train-rmse:13646.58106	eval-rmse:20491.27930
[28]	train-rmse:13552.26465	eval-rmse:20478.72266
[29]	train-rmse:13420.07910	eval-rmse:20483.36328
[30]	train-rmse:13343.57715	eval-rmse:20503.72852
[31]	train-rmse:13271.29297	eval-rmse:20472.56836
[32]	train-rmse:13237.10840	eval-rmse:20419.49609
[33]	train-rmse:13089.34961	eval-rmse:20257.44141
[34]	train-rmse:13007.93066	eval-rmse:20257.07031
[35]	train-rmse:12855.33106	eval-rmse:20111.83398
[36]	train-rmse:12822.35449	eval-rmse:20102.66406
[37]	train-rmse:12702.40723	eval-rmse:20012.21680
[38]	train-rmse:12656.96875	eval-rmse:20016.35547
[39]	train-rmse:12630.35547	eval-rmse:19993.84570
[40]	train-rmse:12557.80762	eval-rmse:19891.13867
[41]	train-rmse:12457.73828	eval-rmse:19839.35938
[42]	train-rmse:12440.53516	eval-rmse:19841.61719
[43]	train-rmse:12268.49512	eval-rmse:19933.48438
[44]	train-rmse:12183.94824	eval-rmse:19898.27734
[45]	train-rmse:12069.14453	eval-rmse:19884.69141
[46]	train-rmse:12004.10547	eval-rmse:19877.95898
[47]	train-rmse:11945.45019	eval-rmse:19863.11719
[48]	train-rmse:11920.73340	eval-rmse:19840.41016
[49]	train-rmse:11853.04981	eval-rmse:19828.31250

## 5. 予測

In [206]:
# テストデータでの予測
pred = model.predict(dtest)

In [207]:
pred

array([136222.16 , 113455.82 ,  84187.   , ..., 172506.67 , 276713.4  ,
        80144.055], dtype=float32)

In [208]:
len(pred)

31262

In [209]:
len(test_data_1)

31262

## 6. データ出力

In [210]:
# 予測結果の結合
test_data["予測結果"] = pred

In [211]:
# 予測結果をint型に変換
test_data["予測結果"] = test_data["予測結果"].astype(int)

In [212]:
result = test_data[["id", "予測結果"]]

In [213]:
result

          id    予測結果
0      31471  136222
1      31472  113455
2      31473   84187
3      31474   65548
4      31475  108713
...      ...     ...
31257  62728  107514
31258  62729  103340
31259  62730  172506
31260  62731  276713
31261  62732   80144

[31262 rows x 2 columns]

In [214]:
result.to_csv("result.csv", header=False, index=False)