# [【SOTA】マイナビ × SIGNATE Student Cup 2019: 賃貸物件の家賃予測](https://signate.jp/competitions/264)

## 1. データ読み込み

In [1]:
import pandas as pd
import numpy as np
import pathlib
import os

# 学習データ、テストデータの読み込み
train_path = pathlib.Path("./DATA/train.csv")
test_path = pathlib.Path("./DATA/test.csv")

train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)

In [2]:
test_data.head()

,id,所在地,アクセス,間取り,築年数,方角,面積,所在階,バス・トイレ,キッチン,放送・通信,室内設備,駐車場,周辺環境,建物構造,契約期間
0,31471,東京都世田谷区深沢５丁目1-27,東急大井町線\t等々力駅\t徒歩15分\t\t東急田園都市線\t桜新町駅\t徒歩24分\t\...,2LDK,49年0ヶ月,南,50.22m2,8階／8階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t追焚機能／\t温水洗浄便座／...,ガスコンロ／\tコンロ3口／\tシステムキッチン\t／\t給湯／\tL字キッチン,インターネット対応,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\tエレベーター\t公営水...,駐輪場\t空有\t駐車場\t無\tバイク置き場\t無,【コンビニ】 74m\t【スーパー】 215m\t【病院】 313m\t【小学校】 219m...,鉄骨造,NaN
1,31472,東京都目黒区八雲１丁目11-8,東急東横線\t都立大学駅\t徒歩6分\t\t東急東横線\t自由が丘駅\t徒歩17分\t\t東...,1R,0年2ヶ月,南東,20.88m2,3階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t浴室乾燥機\t／\t温水洗浄...,ガスコンロ／\tコンロ2口／\tシステムキッチン\t／\t給湯,インターネット対応／\tCSアンテナ／\tBSアンテナ／\tインターネット使用料無料,エアコン付\tシューズボックス／\tフローリング／\t室内洗濯機置場\t公営水道／\t下水／...,"駐車場\t近隣\t34,000円(税込)\t距離200m\t駐輪場\t無\tバイク置き場\t無",【スーパー】 128m\t【スーパー】 313m\t【コンビニ】 374m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間
2,31473,東京都豊島区池袋本町２丁目22-2,東武東上線\t北池袋駅\t徒歩10分\t\t埼京線\t板橋駅\t徒歩16分\t\t山手線\t...,1K,23年4ヶ月,南東,26.93m2,1階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t温水洗浄便座,ガスコンロ／\t給湯,インターネット対応／\t光ファイバー／\tCATV,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t2面採光／\t室内洗濯...,"駐車場\t空有\t5,000円(税込)\t(敷金あり\t1ヶ月)\t駐輪場\t空有\tバイク...",【スーパー】 529m\t【スーパー】 810m\t【コンビニ】 316m\t【コンビニ】 ...,鉄骨造,2年間
3,31474,東京都杉並区和泉１丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩10分\t\t京王線\t代田橋駅\t徒歩8分...,1K,36年2ヶ月,南東,23.57m2,1階／2階建,シャワー,ガスコンロ／\t給湯,NaN,エアコン付\tシューズボックス／\t2面採光／\t室外洗濯機置場\t公営水道／\t下水／\t...,駐輪場\t空有\t0円,【スーパー】 286m\t【スーパー】 702m\t【コンビニ】 489m\t【コンビニ】 ...,木造,2年間
4,31475,東京都杉並区堀ノ内２丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩12分\t\t丸ノ内線(池袋－荻窪)\t新高...,2LDK,45年4ヶ月,南,50m2,4階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別,コンロ設置可（口数不明）／\t給湯,インターネット対応,冷房／\tエアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t室内洗濯機置...,"駐車場\t近隣\t22,600円\t距離177m",【コンビニ】 312m\t【コンビニ】 436m\t【スーパー】 902m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間

## 2. 前処理

### 2.1. データ選択

In [3]:
train_data_1 = train_data[["id", "賃料", "間取り", "築年数", "面積", "所在階", "建物構造"]]
test_data_1 = test_data[["id", "間取り", "築年数", "面積", "所在階", "建物構造"]]

### 2.2. 間取りの数値化

In [4]:
# 間取りにlabel encodingを適用
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([train_data_1["間取り"],test_data_1["間取り"]]))

train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

<ipython-input-4-95a8caebc059>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
<ipython-input-4-95a8caebc059>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

### 2.3. 面積の数値化

In [5]:
# 面積のカラムタイトルを面積[m2]に置換
train_data_1 = train_data_1.rename(columns={"面積": "面積m2"})
test_data_1 = test_data_1.rename(columns={"面積": "面積m2"})

In [6]:
# カラムタイトル面積[m2]の要素からm2を削除
train_data_1['面積m2'] = train_data_1['面積m2'].str.replace('m2', '').astype(float)
test_data_1['面積m2'] = test_data_1['面積m2'].str.replace('m2', '').astype(float)

### 2.4. 所在階の数値化

In [7]:
# 所在階の中身を"／"で2つの列に分割
train_data_1 = pd.concat([train_data_1, train_data_1['所在階'].str.split('／', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['所在階'].str.split('／', expand=True)], axis=1)

In [8]:
# 分割した所在階のカラム名変更　0:所在、1:階層
train_data_1 = train_data_1.rename(columns={0:"所在", 1:"階層"})
test_data_1 = test_data_1.rename(columns={0:"所在", 1:"階層"})

In [9]:
# 所在と階層の要素を整形
train_data_1['所在'] = train_data_1['所在'].str.replace('階', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('建', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('地下', '-')
train_data_1['所在'] = train_data_1['所在'].str.replace('\（.*\）', '', regex=True)
train_data_1['階層'] = train_data_1['階層'].str.replace('階建', '')
train_data_1['階層'] = train_data_1['階層'].str.replace('\（.*\）', '', regex=True)
train_data_1['所在'] = train_data_1['所在'].replace('', np.nan)

test_data_1['所在'] = test_data_1['所在'].str.replace('階', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('建', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('地下', '-')
test_data_1['所在'] = test_data_1['所在'].str.replace('\（.*\）', '', regex=True)
test_data_1['階層'] = test_data_1['階層'].str.replace('階建', '')
test_data_1['階層'] = test_data_1['階層'].str.replace('\（.*\）', '', regex=True)
test_data_1['所在'] = test_data_1['所在'].replace('', np.nan)

In [10]:
# # "階層"がNoneの箇所を"所在"の値で埋める
# train_data_1['階層'].fillna(train_data_1['所在'], inplace=True)
# test_data_1['階層'].fillna(test_data_1['所在'], inplace=True)

In [11]:
# 所在と階層の要素をfloat型に変換する
train_data_1['所在'] = train_data_1['所在'].astype(float)
train_data_1['階層'] = train_data_1['階層'].astype(float)

test_data_1['所在'] = test_data_1['所在'].astype(float)
test_data_1['階層'] = test_data_1['階層'].astype(float)

In [12]:
# 所在階のカラムを削除
train_data_1 = train_data_1.drop('所在階', axis=1)
test_data_1 = test_data_1.drop('所在階', axis=1)

In [13]:
# # 所在のNaNを埋める
# train_data_1.loc[train_data_1["所在"].isnull(), "所在"] = train_data_1["階層"]
# test_data_1.loc[test_data_1["所在"].isnull(), "所在"] = test_data_1["階層"]

In [14]:
# # 所在も階層も空欄のデータは間取りと面積の近いデータで埋める
# print(test_data_1[(test_data_1["間取りID"] == 21) & (test_data_1["面積m2"] > 90) & (test_data_1["面積m2"] < 95)].mean())
# test_data_1.loc[test_data_1["id"]==40675, "所在"] = float(6)
# test_data_1.loc[test_data_1["id"]==40675, "階層"] = float(9)

### 2.5. 築年数の数値化

In [15]:
# 新築の場合は全て0にする
train_data_1.loc[train_data_1["築年数"]=="新築", "築年数"] = float(0)
test_data_1.loc[test_data_1["築年数"]=="新築", "築年数"] = float(0)

In [16]:
# 築年数を数値に変換する
train_data_1 = pd.concat([train_data_1, train_data_1['築年数'].str.split('年', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['築年数'].str.split('年', expand=True)], axis=1)

In [17]:
# ヶ月を消す
train_data_1[1] = train_data_1[1].str.replace('ヶ月', '')
test_data_1[1] = test_data_1[1].str.replace('ヶ月', '')

In [18]:
# 築年数をfloat変換
train_data_1["築年数"] = train_data_1[0].astype(float) + (train_data_1[1].astype(float) / float(10))
test_data_1["築年数"] = test_data_1[0].astype(float) + (test_data_1[1].astype(float) / float(10))

In [19]:
test_data_1.head()

      id   間取り   築年数   面積m2          建物構造  間取りID   所在   階層   0  1
0  31471  2LDK  49.0  50.22           鉄骨造     14  8.0  8.0  49  0
1  31472    1R   0.2  20.88  RC（鉄筋コンクリート）      9  3.0  4.0   0  2
2  31473    1K  23.4  26.93           鉄骨造      3  1.0  4.0  23  4
3  31474    1K  36.2  23.57            木造      3  1.0  2.0  36  2
4  31475  2LDK  45.4  50.00  RC（鉄筋コンクリート）     14  4.0  4.0  45  4

In [20]:
print(test_data_1[test_data_1["築年数"].isnull()])

          id       間取り  築年数   面積m2          建物構造  間取りID   所在    階層    0    1
77     31548  1K+S(納戸)  NaN  23.80           鉄骨造      4  2.0   3.0  NaN  NaN
108    31579        1K  NaN  26.44  RC（鉄筋コンクリート）      3  7.0  13.0  NaN  NaN
112    31583      1LDK  NaN  41.65           鉄骨造      5  3.0  10.0  NaN  NaN
156    31627        1R  NaN  20.56  RC（鉄筋コンクリート）      9  3.0  12.0  NaN  NaN
162    31633        1K  NaN  25.34  RC（鉄筋コンクリート）      3  1.0   8.0  NaN  NaN
...      ...       ...  ...    ...           ...    ...  ...   ...  ...  ...
31141  62612      2LDK  NaN  60.81            木造     14  2.0   2.0  NaN  NaN
31176  62647      1LDK  NaN  40.06  RC（鉄筋コンクリート）      5  3.0  10.0  NaN  NaN
31181  62652      1LDK  NaN  40.26           鉄骨造      5  2.0   3.0  NaN  NaN
31182  62653      2LDK  NaN  54.75           鉄骨造     14  1.0   3.0  NaN  NaN
31212  62683      1LDK  NaN  40.79           鉄骨造      5  2.0   3.0  NaN  NaN

[850 rows x 10 columns]

In [21]:
# 0と1の列を消す
train_data_1 = train_data_1.drop(0, axis=1)
train_data_1 = train_data_1.drop(1, axis=1)

test_data_1 = test_data_1.drop(0, axis=1)
test_data_1 = test_data_1.drop(1, axis=1)

### 2.6. 緯度経度情報の追加

#### [このサイト](https://ktgis.net/gcode/geocoding.html)を利用する

In [22]:
# IDと住所をファイル出力
train_coordinate = train_data[["id", "所在地"]]
test_coordinate = test_data[["id", "所在地"]]

train_coordinate.to_csv("train_coordinate.csv", header=False, index=False)
test_coordinate.to_csv("test_coordinate.csv", header=False, index=False)

In [23]:
# 緯度、経度情報の読み込み(id, 所在地, 経度, 緯度)
train_coordinate_addvalue = pd.read_excel("train_coordinate_addvalue.xlsx")
test_coordinate_addvalue = pd.read_excel("test_coordinate_addvalue.xlsx")

In [24]:
train_data_1 = pd.merge(train_data_1, train_coordinate_addvalue[["id", "経度", "緯度"]], on='id')
test_data_1 = pd.merge(test_data_1, test_coordinate_addvalue[["id", "経度", "緯度"]], on='id')

### 2.7. 部屋数の追加

In [25]:
# 部屋数のマージ
number_of_rooms = pd.read_excel("number_of_rooms.xlsx")
train_data_1 = pd.merge(train_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')
test_data_1 = pd.merge(test_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')

In [26]:
# インデックスの振り直し
train_data_1 = train_data_1.sort_values("id")
train_data_1 = train_data_1.reset_index(drop=True)

test_data_1 = test_data_1.sort_values("id")
test_data_1 = test_data_1.reset_index(drop=True)

### 2.8. 1部屋当たりの面積追加

In [27]:
# 面積と部屋数から1部屋当たりの面積を算出
train_data_1["1部屋当たり面積m2"] = (train_data_1["面積m2"] / train_data_1["部屋数"]).astype(float)
test_data_1["1部屋当たり面積m2"] = (test_data_1["面積m2"] / test_data_1["部屋数"]).astype(float)

In [28]:
# 間取りと間取りIDは削除する
train_data_1 = train_data_1.drop('間取り', axis=1)
test_data_1 = test_data_1.drop('間取り', axis=1)

# train_data_1 = train_data_1.drop('間取りID', axis=1)
# test_data_1 = test_data_1.drop('間取りID', axis=1)

#### 2.9. 建物の高さ率を追加(高さ率=所在/階層)

In [29]:
# 高さ率の算出
train_data_1["高さ率"] = (train_data_1["所在"] / train_data_1["階層"]).astype(float)
test_data_1["高さ率"] = (test_data_1["所在"] / test_data_1["階層"]).astype(float)

### 2.10. 建物構造の数値化

In [30]:
train_data_1["建物構造"].value_counts()

RC（鉄筋コンクリート）                   17505
木造                              5512
鉄骨造                             3726
SRC（鉄骨鉄筋コンクリート）                 2429
軽量鉄骨                            1812
ALC（軽量気泡コンクリート）                  297
その他                              136
PC（プレキャスト・コンクリート（鉄筋コンクリート））       46
HPC（プレキャスト・コンクリート（重量鉄骨））           4
ブロック                               3
Name: 建物構造, dtype: int64

In [31]:
# 建物構造にlabel encodingを適用
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([train_data_1["建物構造"],test_data_1["建物構造"]]))

train_data_1["建物構造ID"] = le.transform(train_data_1["建物構造"])
test_data_1["建物構造ID"] = le.transform(test_data_1["建物構造"])

In [32]:
test_data_1.head()

,id,築年数,面積m2,建物構造,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID
0,31471,49.0,50.22,鉄骨造,14,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00,10
1,31472,0.2,20.88,RC（鉄筋コンクリート）,9,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75,3
2,31473,23.4,26.93,鉄骨造,3,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25,10
3,31474,36.2,23.57,木造,3,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50,7
4,31475,45.4,50.00,RC（鉄筋コンクリート）,14,4.0,4.0,139.650468,35.689411,3.5,14.285714,1.00,3

In [33]:
# 不要になった建物構造カラムを削除する
train_data_1 = train_data_1.drop('建物構造', axis=1)
test_data_1 = test_data_1.drop('建物構造', axis=1)

### 2.11. 新規カラムに「賃料/面積」を追加

In [35]:
train_data_1["賃料/面積"] = train_data_1["賃料"] / train_data_1["面積m2"]

In [36]:
train_data_1.head()

,id,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,賃料/面積
0,1,75000,9.9,20.01,3,1.0,12.0,139.727873,35.747759,1.0,20.01,0.083333,3,3748.125937
1,2,76000,45.0,16.50,9,5.0,10.0,139.780485,35.662406,1.0,16.50,0.500000,10,4606.060606
2,3,110000,8.6,22.05,3,12.0,15.0,139.667375,35.675358,1.0,22.05,0.800000,3,4988.662132
3,4,150000,29.4,60.48,14,3.0,4.0,139.648495,35.700193,3.5,17.28,0.750000,3,2480.158730
4,5,74000,31.7,39.66,10,1.0,2.0,139.872315,35.766413,3.0,13.22,0.500000,7,1865.859808

### 2.12. 重複物件の抽出・削除

In [236]:
# 重複確認用のデータ出力
# train_duplicate = pd.concat([train_data[["id", "賃料", "所在地"]], train_data_1[["間取りID", "面積m2", "所在", "階層"]]], axis=1)
# test_duplicate = pd.concat([test_data[["id", "所在地"]], test_data_1[["間取りID", "面積m2", "所在", "階層"]]], axis=1)

In [237]:
# 結果の出力
# train_duplicate.to_excel("train_duplicate.xlsx", header=True, index=False)
# test_duplicate.to_excel("test_duplicate.xlsx", header=True, index=False)

In [37]:
# 重複対象のデータ読み込み
train_duplicate_flag = pd.read_excel("train_duplicate_flag.xlsx")
test_duplicate_flag = pd.read_excel("test_duplicate_flag.xlsx")

In [38]:
# データ数のチェック
print("Train:", len(train_data_1), "-", len(train_duplicate_flag), "=", len(train_data_1)-len(train_duplicate_flag))
print("Test:", len(test_data_1), "-", len(test_duplicate_flag), "=", len(test_data_1)-len(test_duplicate_flag))

Train: 31470 - 31470 = 0
Test: 31262 - 31262 = 0

In [39]:
# 重複フラグを結合
train_data_1 = pd.merge(train_data_1, train_duplicate_flag, on="id")
train_data_1 = train_data_1.rename(columns={"賃料_x":"賃料"})
train_data_1 = train_data_1.drop('賃料_y', axis=1)

test_data_1 = pd.merge(test_data_1, test_duplicate_flag, on="id")

In [40]:
# testデータからのみ、flag=1.0の列を削除
print("【削除前】", "train:", len(train_data_1), ", ", "test:", len(test_data_1))
#train_data_1 = train_data_1.loc[train_data_1["flag"] != 1.0]
test_data_1 = test_data_1.loc[test_data_1["flag"] != 1.0]
print("【削除後】", "train:", len(train_data_1), ", ", "test:", len(test_data_1))

【削除前】 train: 31470 ,  test: 31262
【削除後】 train: 31470 ,  test: 24812

## 3. データチェック

In [41]:
train_data_1.isnull().sum()

id                0
賃料                0
築年数             889
面積m2              0
間取りID             0
所在              120
階層              594
経度                0
緯度                0
部屋数               0
1部屋当たり面積m2        0
高さ率             714
建物構造ID            0
賃料/面積             0
flag          25975
dtype: int64

In [42]:
test_data_1.isnull().sum()

id                0
築年数             675
面積m2              0
間取りID             0
所在              102
階層              476
経度                0
緯度                0
部屋数               0
1部屋当たり面積m2        0
高さ率             577
建物構造ID            0
flag          24812
dtype: int64

In [43]:
len(train_data_1)

31470

In [44]:
len(train_data)

31470

In [45]:
len(test_data_1)

24812

In [46]:
len(test_data)

31262

In [50]:
train_data_1.head()

,id,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,賃料/面積,flag
0,1,75000,9.9,20.01,3,1.0,12.0,139.727873,35.747759,1.0,20.01,0.083333,3,3748.125937,NaN
1,2,76000,45.0,16.50,9,5.0,10.0,139.780485,35.662406,1.0,16.50,0.500000,10,4606.060606,1.0
2,3,110000,8.6,22.05,3,12.0,15.0,139.667375,35.675358,1.0,22.05,0.800000,3,4988.662132,NaN
3,4,150000,29.4,60.48,14,3.0,4.0,139.648495,35.700193,3.5,17.28,0.750000,3,2480.158730,NaN
4,5,74000,31.7,39.66,10,1.0,2.0,139.872315,35.766413,3.0,13.22,0.500000,7,1865.859808,NaN

In [48]:
test_data_1.head()

,id,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,flag
0,31471,49.0,50.22,14,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00,10,NaN
1,31472,0.2,20.88,9,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75,3,NaN
2,31473,23.4,26.93,3,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25,10,NaN
3,31474,36.2,23.57,3,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50,7,NaN
5,31476,25.6,21.45,9,1.0,2.0,139.686023,35.691395,1.0,21.450000,0.50,7,NaN

## 4.学習

In [60]:
# IDとflagの削除
train_data_1_no_ID = train_data_1.drop(["id", "flag"], axis=1)
test_data_1_no_ID = test_data_1.drop(["id", "flag"], axis=1)

In [81]:
# 特徴データと目的変数の設定
train_x = train_data_1_no_ID.drop(["賃料", "賃料/面積"], axis=1)
train_y = train_data_1_no_ID["賃料/面積"]

test_x = test_data_1_no_ID

In [62]:
test_data_1_no_ID.head()

,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID
0,49.0,50.22,14,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00,10
1,0.2,20.88,9,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75,3
2,23.4,26.93,3,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25,10
3,36.2,23.57,3,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50,7
5,25.6,21.45,9,1.0,2.0,139.686023,35.691395,1.0,21.450000,0.50,7

In [82]:
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.metrics import log_loss, accuracy_score
from sklearn.model_selection import KFold

scores = []
# GBDT用のハイパーパラメータ
params = {"objective": "reg:squarederror", "sileng":1, "random_state":71}
num_round = 50

# クロスバリデーション
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx, in kf.split(train_x):
    tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]
    
    # GBDTで学習実行
    dtrain = xgb.DMatrix(tr_x, label=tr_y) # enable_categorical=True
    dvalid = xgb.DMatrix(va_x, label=va_y)
    dtest = xgb.DMatrix(test_x)
    
    watchlist = [(dtrain, "train"), (dvalid, "eval")]
    model = xgb.train(params, dtrain, num_round, evals=watchlist)

[22:44:29] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:100883.74219	eval-rmse:99993.80469
[1]	train-rmse:74084.74219	eval-rmse:73782.21875
[2]	train-rmse:55549.52344	eval-rmse:56311.73438
[3]	train-rmse:43083.98438	eval-rmse:44721.58203
[4]	train-rmse:34509.90234	eval-rmse:37029.91016
[5]	train-rmse:28648.62695	eval-rmse:31862.14453
[6]	train-rmse:24884.07227	eval-rmse:28725.38672
[7]	train-rmse:22358.11328	eval-rmse:26485.22852
[8]	train-rmse:20619.11719	eval-rmse:25289.40039
[9]	train-rmse:19197.42773	eval-rmse:24343.59375
[10]	train-rmse:18191.81055	eval-rmse:23818.43164
[11]	train-rmse:17575.12500	eval-rmse:23340.52930
[12]	train-rmse:17005.30664	eval-rmse:22790.35156
[13]	train-rmse:16671.36719	eval-rmse:22559.17578
[14]	train-rmse:16381.97461	eval-rmse:22397.73828
[15]	train-rmse:16060.92090	eval-rmse:22306.40234
[16]	train-rmse:15831.20996	eval-rmse:22183.38477
[17]	train-rmse:15611.79102	eval-rmse:22066.30859
[18]	train-rmse:15378.61914	eval-rmse:22001.02539
[19]	train-rmse:15179.80078	eval-rmse:21936.13867
[20]	train-rmse:14997.37891	eval-rmse:21814.09180
[21]	train-rmse:14846.71289	eval-rmse:21758.92773
[22]	train-rmse:14737.86328	eval-rmse:21688.82227
[23]	train-rmse:14521.30859	eval-rmse:21601.19531
[24]	train-rmse:14429.20801	eval-rmse:21508.07617
[25]	train-rmse:14325.32910	eval-rmse:21490.09961
[26]	train-rmse:14193.59766	eval-rmse:21392.90820
[27]	train-rmse:13700.82519	eval-rmse:21432.33203
[28]	train-rmse:13632.18262	eval-rmse:21407.68164
[29]	train-rmse:13427.95508	eval-rmse:21269.28125
[30]	train-rmse:13341.06836	eval-rmse:21263.43750
[31]	train-rmse:13254.76367	eval-rmse:21257.50000
[32]	train-rmse:13057.12207	eval-rmse:21154.84180
[33]	train-rmse:12682.35742	eval-rmse:21083.65234
[34]	train-rmse:12598.79394	eval-rmse:21051.92578
[35]	train-rmse:12545.94824	eval-rmse:21013.17578
[36]	train-rmse:12435.30176	eval-rmse:20992.72852
[37]	train-rmse:12348.05664	eval-rmse:20965.55664
[38]	train-rmse:12200.40039	eval-rmse:20933.71094
[39]	train-rmse:12189.63672	eval-rmse:20971.30078
[40]	train-rmse:12167.62305	eval-rmse:20958.88867
[41]	train-rmse:12139.85547	eval-rmse:20932.99805
[42]	train-rmse:12064.30078	eval-rmse:20944.17383
[43]	train-rmse:12015.63672	eval-rmse:20939.67773
[44]	train-rmse:11749.66797	eval-rmse:20921.71484
[45]	train-rmse:11739.66699	eval-rmse:20914.46875
[46]	train-rmse:11646.56152	eval-rmse:20838.44727
[47]	train-rmse:11629.58106	eval-rmse:20865.48438
[48]	train-rmse:11529.36133	eval-rmse:20827.38281
[49]	train-rmse:11501.28516	eval-rmse:20826.10938
[22:44:30] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:100526.40625	eval-rmse:100966.04688
[1]	train-rmse:73501.16406	eval-rmse:74755.28125
[2]	train-rmse:54956.05859	eval-rmse:57395.95312
[3]	train-rmse:42388.83203	eval-rmse:46099.83203
[4]	train-rmse:33820.53516	eval-rmse:39643.16406
[5]	train-rmse:28130.52930	eval-rmse:35650.69531
[6]	train-rmse:24143.11328	eval-rmse:32876.06250
[7]	train-rmse:21472.08398	eval-rmse:31832.22656
[8]	train-rmse:19661.33398	eval-rmse:31327.99805
[9]	train-rmse:18346.06641	eval-rmse:30668.96875
[10]	train-rmse:17342.62305	eval-rmse:30650.24805
[11]	train-rmse:16599.25781	eval-rmse:30490.41211
[12]	train-rmse:15841.56543	eval-rmse:30133.13477
[13]	train-rmse:15440.93652	eval-rmse:30022.43359
[14]	train-rmse:15151.34180	eval-rmse:29896.02734
[15]	train-rmse:14934.53613	eval-rmse:30144.60938
[16]	train-rmse:14654.09570	eval-rmse:30183.12695
[17]	train-rmse:14504.18359	eval-rmse:30138.76562
[18]	train-rmse:14285.79981	eval-rmse:30031.97656
[19]	train-rmse:14095.27930	eval-rmse:30004.42188
[20]	train-rmse:13947.03418	eval-rmse:30283.84570
[21]	train-rmse:13784.54004	eval-rmse:30360.81836
[22]	train-rmse:13675.61816	eval-rmse:30347.09375
[23]	train-rmse:13537.23633	eval-rmse:30294.58594
[24]	train-rmse:13430.51465	eval-rmse:30266.74414
[25]	train-rmse:13383.20703	eval-rmse:30248.19141
[26]	train-rmse:13249.08301	eval-rmse:30083.33398
[27]	train-rmse:13017.14746	eval-rmse:30218.90234
[28]	train-rmse:12928.84668	eval-rmse:30213.99219
[29]	train-rmse:12877.46680	eval-rmse:30202.78125
[30]	train-rmse:12787.54688	eval-rmse:30100.90625
[31]	train-rmse:12665.05566	eval-rmse:30059.16211
[32]	train-rmse:12600.27637	eval-rmse:30037.24023
[33]	train-rmse:12384.25684	eval-rmse:29976.53320
[34]	train-rmse:12303.57227	eval-rmse:29953.21094
[35]	train-rmse:12209.86719	eval-rmse:29968.78711
[36]	train-rmse:12096.43555	eval-rmse:29971.75781
[37]	train-rmse:12063.28320	eval-rmse:29905.37109
[38]	train-rmse:11947.18457	eval-rmse:29908.67773
[39]	train-rmse:11934.60547	eval-rmse:29903.48438
[40]	train-rmse:11878.72852	eval-rmse:29905.19141
[41]	train-rmse:11770.02637	eval-rmse:30008.34570
[42]	train-rmse:11651.22656	eval-rmse:29954.85156
[43]	train-rmse:11626.57129	eval-rmse:29950.15234
[44]	train-rmse:11519.14160	eval-rmse:29956.70898
[45]	train-rmse:11413.03320	eval-rmse:29907.82031
[46]	train-rmse:11363.52734	eval-rmse:29948.56445
[47]	train-rmse:11350.92969	eval-rmse:29896.88867
[48]	train-rmse:11289.74219	eval-rmse:29796.73438
[49]	train-rmse:11259.69238	eval-rmse:29793.31250
[22:44:30] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:100377.53906	eval-rmse:103080.21875
[1]	train-rmse:73731.71094	eval-rmse:77184.90625
[2]	train-rmse:55352.76562	eval-rmse:60077.75000
[3]	train-rmse:42823.17578	eval-rmse:48282.28516
[4]	train-rmse:34447.04297	eval-rmse:40914.85547
[5]	train-rmse:28975.40039	eval-rmse:35997.18359
[6]	train-rmse:25140.94531	eval-rmse:32794.13281
[7]	train-rmse:22689.69922	eval-rmse:30488.99219
[8]	train-rmse:20980.95508	eval-rmse:29220.70117
[9]	train-rmse:19849.00977	eval-rmse:27959.48047
[10]	train-rmse:18734.79102	eval-rmse:27012.30859
[11]	train-rmse:17718.16406	eval-rmse:26557.94141
[12]	train-rmse:17189.69727	eval-rmse:26071.41016
[13]	train-rmse:16706.38281	eval-rmse:25625.85742
[14]	train-rmse:16378.63477	eval-rmse:25444.44141
[15]	train-rmse:16090.74023	eval-rmse:25316.86719
[16]	train-rmse:15533.09180	eval-rmse:24864.32617
[17]	train-rmse:15123.42090	eval-rmse:24800.24609
[18]	train-rmse:14969.19922	eval-rmse:24664.37305
[19]	train-rmse:14716.68359	eval-rmse:24519.63672
[20]	train-rmse:14576.21289	eval-rmse:24505.70703
[21]	train-rmse:14421.66211	eval-rmse:24460.72266
[22]	train-rmse:14235.93066	eval-rmse:24348.44727
[23]	train-rmse:13961.69238	eval-rmse:24155.46289
[24]	train-rmse:13874.82129	eval-rmse:24031.47070
[25]	train-rmse:13712.15430	eval-rmse:23987.81250
[26]	train-rmse:13642.77344	eval-rmse:23939.35938
[27]	train-rmse:13548.02930	eval-rmse:23882.68750
[28]	train-rmse:13468.57617	eval-rmse:23829.94727
[29]	train-rmse:13369.26367	eval-rmse:23804.03906
[30]	train-rmse:13270.33887	eval-rmse:23768.15039
[31]	train-rmse:13063.09473	eval-rmse:23738.99609
[32]	train-rmse:12993.43555	eval-rmse:23715.41602
[33]	train-rmse:12918.79102	eval-rmse:23751.15039
[34]	train-rmse:12756.49609	eval-rmse:23686.01562
[35]	train-rmse:12710.24707	eval-rmse:23671.87109
[36]	train-rmse:12617.49316	eval-rmse:23621.62695
[37]	train-rmse:12551.57715	eval-rmse:23602.48242
[38]	train-rmse:12338.66016	eval-rmse:23592.80664
[39]	train-rmse:12257.01758	eval-rmse:23567.49609
[40]	train-rmse:12237.85840	eval-rmse:23558.45898
[41]	train-rmse:12156.06836	eval-rmse:23562.69922
[42]	train-rmse:12089.56152	eval-rmse:23565.39844
[43]	train-rmse:12076.70117	eval-rmse:23601.98828
[44]	train-rmse:11978.87305	eval-rmse:23570.13086
[45]	train-rmse:11877.69531	eval-rmse:23553.14258
[46]	train-rmse:11823.68945	eval-rmse:23543.41992
[47]	train-rmse:11728.75684	eval-rmse:23507.37500
[48]	train-rmse:11694.19238	eval-rmse:23490.24609
[49]	train-rmse:11664.75488	eval-rmse:23478.65820
[22:44:30] WARNING: ..\src\learner.cc:541:
Parameters: { sileng } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:100857.45312	eval-rmse:101037.83594
[1]	train-rmse:73894.75000	eval-rmse:74868.00000
[2]	train-rmse:55316.27734	eval-rmse:57013.23047
[3]	train-rmse:42720.35156	eval-rmse:44973.78516
[4]	train-rmse:34159.23828	eval-rmse:36986.64844
[5]	train-rmse:28547.24805	eval-rmse:31677.38086
[6]	train-rmse:24883.83008	eval-rmse:28374.40039
[7]	train-rmse:22370.25000	eval-rmse:26710.13086
[8]	train-rmse:20305.03320	eval-rmse:25471.92383
[9]	train-rmse:19060.96680	eval-rmse:24450.31836
[10]	train-rmse:18200.59766	eval-rmse:23696.90820
[11]	train-rmse:17484.02539	eval-rmse:23112.92383
[12]	train-rmse:17000.68359	eval-rmse:22745.40234
[13]	train-rmse:16628.12695	eval-rmse:22600.58594
[14]	train-rmse:16378.74414	eval-rmse:22104.84766
[15]	train-rmse:15739.84668	eval-rmse:22093.67188
[16]	train-rmse:15507.09570	eval-rmse:22004.80078
[17]	train-rmse:15347.06543	eval-rmse:21666.91211
[18]	train-rmse:15240.07422	eval-rmse:21603.88086
[19]	train-rmse:15011.95508	eval-rmse:21558.34766
[20]	train-rmse:14848.78906	eval-rmse:21528.01172
[21]	train-rmse:14757.06934	eval-rmse:21468.38867
[22]	train-rmse:14566.20801	eval-rmse:21317.24414
[23]	train-rmse:14382.98633	eval-rmse:21239.28125
[24]	train-rmse:14264.08008	eval-rmse:21207.34961
[25]	train-rmse:14170.95898	eval-rmse:20992.95703
[26]	train-rmse:13937.45410	eval-rmse:20841.50781
[27]	train-rmse:13788.64356	eval-rmse:20769.61328
[28]	train-rmse:13684.42676	eval-rmse:20698.46094
[29]	train-rmse:13647.28418	eval-rmse:20673.43359
[30]	train-rmse:13605.16699	eval-rmse:20665.34180
[31]	train-rmse:13432.69336	eval-rmse:20680.96484
[32]	train-rmse:13361.72266	eval-rmse:20704.34766
[33]	train-rmse:13253.49121	eval-rmse:20662.56641
[34]	train-rmse:13125.71289	eval-rmse:20645.81836
[35]	train-rmse:13050.68359	eval-rmse:20603.83594
[36]	train-rmse:13025.17188	eval-rmse:20591.78516
[37]	train-rmse:12982.81543	eval-rmse:20530.35352
[38]	train-rmse:12620.79590	eval-rmse:20839.93359
[39]	train-rmse:12597.12598	eval-rmse:20826.12109
[40]	train-rmse:12520.35352	eval-rmse:20781.35547
[41]	train-rmse:12433.26074	eval-rmse:20761.87695
[42]	train-rmse:12361.95215	eval-rmse:20670.62305
[43]	train-rmse:12311.31348	eval-rmse:20601.06836
[44]	train-rmse:12254.90430	eval-rmse:20571.59766
[45]	train-rmse:12009.25977	eval-rmse:20818.54883
[46]	train-rmse:11966.02930	eval-rmse:20811.29492
[47]	train-rmse:11904.61719	eval-rmse:20762.97852
[48]	train-rmse:11763.80762	eval-rmse:20704.40234
[49]	train-rmse:11681.16016	eval-rmse:20716.57422

## 5. 予測

In [83]:
# テストデータでの予測
pred = model.predict(dtest)

In [84]:
pred

array([132797.42 , 115014.086,  86772.35 , ..., 107309.78 , 169159.1  ,
        82493.12 ], dtype=float32)

In [85]:
len(pred)

24812

In [86]:
len(test_data_1)

24812

## 6. データ出力

In [87]:
# 予測結果の結合
test_data_1["予測結果"] = pred

In [88]:
# 予測結果をint型に変換
test_data_1["予測結果"] = test_data_1["予測結果"].astype(int)

In [89]:
result = test_data_1[["id", "予測結果"]]

In [90]:
result

          id    予測結果
0      31471  132797
1      31472  115014
2      31473   86772
3      31474   65443
5      31476   66077
...      ...     ...
31255  62726   94715
31257  62728  108155
31258  62729  107309
31259  62730  169159
31261  62732   82493

[24812 rows x 2 columns]

In [91]:
len(result)

24812

In [92]:
# 除外していた重複idの賃料を戻す
test_duplicate_rentvalue = pd.read_excel("test_duplicate_rentvalue.xlsx")
result = pd.concat([result, test_duplicate_rentvalue])
result = result.sort_values("id")
len(result)

31262

In [93]:
result

          id    予測結果
0      31471  132797
1      31472  115014
2      31473   86772
3      31474   65443
0      31475   90000
...      ...     ...
31257  62728  108155
31258  62729  107309
31259  62730  169159
6449   62731  280000
31261  62732   82493

[31262 rows x 2 columns]

In [94]:
result.to_csv("result.csv", header=False, index=False)