# [【SOTA】マイナビ × SIGNATE Student Cup 2019: 賃貸物件の家賃予測](https://signate.jp/competitions/264)

## 1. データ読み込み

In [37]:
import pandas as pd
import numpy as np
import pathlib
import os

# 学習データ、テストデータの読み込み
train_path = pathlib.Path("./DATA/train.csv")
test_path = pathlib.Path("./DATA/test.csv")

train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)

In [38]:
test_data.head()

,id,所在地,アクセス,間取り,築年数,方角,面積,所在階,バス・トイレ,キッチン,放送・通信,室内設備,駐車場,周辺環境,建物構造,契約期間
0,31471,東京都世田谷区深沢５丁目1-27,東急大井町線\t等々力駅\t徒歩15分\t\t東急田園都市線\t桜新町駅\t徒歩24分\t\...,2LDK,49年0ヶ月,南,50.22m2,8階／8階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t追焚機能／\t温水洗浄便座／...,ガスコンロ／\tコンロ3口／\tシステムキッチン\t／\t給湯／\tL字キッチン,インターネット対応,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\tエレベーター\t公営水...,駐輪場\t空有\t駐車場\t無\tバイク置き場\t無,【コンビニ】 74m\t【スーパー】 215m\t【病院】 313m\t【小学校】 219m...,鉄骨造,NaN
1,31472,東京都目黒区八雲１丁目11-8,東急東横線\t都立大学駅\t徒歩6分\t\t東急東横線\t自由が丘駅\t徒歩17分\t\t東...,1R,0年2ヶ月,南東,20.88m2,3階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t浴室乾燥機\t／\t温水洗浄...,ガスコンロ／\tコンロ2口／\tシステムキッチン\t／\t給湯,インターネット対応／\tCSアンテナ／\tBSアンテナ／\tインターネット使用料無料,エアコン付\tシューズボックス／\tフローリング／\t室内洗濯機置場\t公営水道／\t下水／...,"駐車場\t近隣\t34,000円(税込)\t距離200m\t駐輪場\t無\tバイク置き場\t無",【スーパー】 128m\t【スーパー】 313m\t【コンビニ】 374m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間
2,31473,東京都豊島区池袋本町２丁目22-2,東武東上線\t北池袋駅\t徒歩10分\t\t埼京線\t板橋駅\t徒歩16分\t\t山手線\t...,1K,23年4ヶ月,南東,26.93m2,1階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t温水洗浄便座,ガスコンロ／\t給湯,インターネット対応／\t光ファイバー／\tCATV,エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t2面採光／\t室内洗濯...,"駐車場\t空有\t5,000円(税込)\t(敷金あり\t1ヶ月)\t駐輪場\t空有\tバイク...",【スーパー】 529m\t【スーパー】 810m\t【コンビニ】 316m\t【コンビニ】 ...,鉄骨造,2年間
3,31474,東京都杉並区和泉１丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩10分\t\t京王線\t代田橋駅\t徒歩8分...,1K,36年2ヶ月,南東,23.57m2,1階／2階建,シャワー,ガスコンロ／\t給湯,NaN,エアコン付\tシューズボックス／\t2面採光／\t室外洗濯機置場\t公営水道／\t下水／\t...,駐輪場\t空有\t0円,【スーパー】 286m\t【スーパー】 702m\t【コンビニ】 489m\t【コンビニ】 ...,木造,2年間
4,31475,東京都杉並区堀ノ内２丁目,丸ノ内線(中野坂上－方南町)\t方南町駅\t徒歩12分\t\t丸ノ内線(池袋－荻窪)\t新高...,2LDK,45年4ヶ月,南,50m2,4階／4階建,専用バス／\t専用トイレ／\tバス・トイレ別,コンロ設置可（口数不明）／\t給湯,インターネット対応,冷房／\tエアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t室内洗濯機置...,"駐車場\t近隣\t22,600円\t距離177m",【コンビニ】 312m\t【コンビニ】 436m\t【スーパー】 902m\t【コンビニ】 ...,RC（鉄筋コンクリート）,2年間

## 2. 前処理

### 2.1. データ選択

In [39]:
train_data_1 = train_data[["id", "所在地", "賃料", "間取り", "築年数", "面積", "所在階", "建物構造"]]
test_data_1 = test_data[["id", "所在地", "間取り", "築年数", "面積", "所在階", "建物構造"]]

### 2.2. 間取りの数値化

In [40]:
# 間取りにlabel encodingを適用
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([train_data_1["間取り"],test_data_1["間取り"]]))

train_data_1["間取りID"] = le.transform(train_data_1["間取り"])
test_data_1["間取りID"] = le.transform(test_data_1["間取り"])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### 2.3. 面積の数値化

In [41]:
# 面積のカラムタイトルを面積[m2]に置換
train_data_1 = train_data_1.rename(columns={"面積": "面積m2"})
test_data_1 = test_data_1.rename(columns={"面積": "面積m2"})

In [42]:
# カラムタイトル面積[m2]の要素からm2を削除
train_data_1['面積m2'] = train_data_1['面積m2'].str.replace('m2', '').astype(float)
test_data_1['面積m2'] = test_data_1['面積m2'].str.replace('m2', '').astype(float)

### 2.4. 所在階の数値化

In [43]:
# 所在階の中身を"／"で2つの列に分割
train_data_1 = pd.concat([train_data_1, train_data_1['所在階'].str.split('／', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['所在階'].str.split('／', expand=True)], axis=1)

In [44]:
# 分割した所在階のカラム名変更　0:所在、1:階層
train_data_1 = train_data_1.rename(columns={0:"所在", 1:"階層"})
test_data_1 = test_data_1.rename(columns={0:"所在", 1:"階層"})

In [45]:
# 所在と階層の要素を整形
train_data_1['所在'] = train_data_1['所在'].str.replace('階', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('建', '')
train_data_1['所在'] = train_data_1['所在'].str.replace('地下', '-')
train_data_1['所在'] = train_data_1['所在'].str.replace('\（.*\）', '', regex=True)
train_data_1['階層'] = train_data_1['階層'].str.replace('階建', '')
train_data_1['階層'] = train_data_1['階層'].str.replace('\（.*\）', '', regex=True)
train_data_1['所在'] = train_data_1['所在'].replace('', np.nan)

test_data_1['所在'] = test_data_1['所在'].str.replace('階', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('建', '')
test_data_1['所在'] = test_data_1['所在'].str.replace('地下', '-')
test_data_1['所在'] = test_data_1['所在'].str.replace('\（.*\）', '', regex=True)
test_data_1['階層'] = test_data_1['階層'].str.replace('階建', '')
test_data_1['階層'] = test_data_1['階層'].str.replace('\（.*\）', '', regex=True)
test_data_1['所在'] = test_data_1['所在'].replace('', np.nan)

In [46]:
# # "階層"がNoneの箇所を"所在"の値で埋める
# train_data_1['階層'].fillna(train_data_1['所在'], inplace=True)
# test_data_1['階層'].fillna(test_data_1['所在'], inplace=True)

In [47]:
# 所在と階層の要素をfloat型に変換する
train_data_1['所在'] = train_data_1['所在'].astype(float)
train_data_1['階層'] = train_data_1['階層'].astype(float)

test_data_1['所在'] = test_data_1['所在'].astype(float)
test_data_1['階層'] = test_data_1['階層'].astype(float)

In [48]:
# 所在階のカラムを削除
train_data_1 = train_data_1.drop('所在階', axis=1)
test_data_1 = test_data_1.drop('所在階', axis=1)

In [49]:
# # 所在のNaNを埋める
# train_data_1.loc[train_data_1["所在"].isnull(), "所在"] = train_data_1["階層"]
# test_data_1.loc[test_data_1["所在"].isnull(), "所在"] = test_data_1["階層"]

In [50]:
# # 所在も階層も空欄のデータは間取りと面積の近いデータで埋める
# print(test_data_1[(test_data_1["間取りID"] == 21) & (test_data_1["面積m2"] > 90) & (test_data_1["面積m2"] < 95)].mean())
# test_data_1.loc[test_data_1["id"]==40675, "所在"] = float(6)
# test_data_1.loc[test_data_1["id"]==40675, "階層"] = float(9)

### 2.5. 築年数の数値化

In [51]:
# 新築の場合は全て0にする
train_data_1.loc[train_data_1["築年数"]=="新築", "築年数"] = float(0)
test_data_1.loc[test_data_1["築年数"]=="新築", "築年数"] = float(0)

In [52]:
# 築年数を数値に変換する
train_data_1 = pd.concat([train_data_1, train_data_1['築年数'].str.split('年', expand=True)], axis=1)
test_data_1 = pd.concat([test_data_1, test_data_1['築年数'].str.split('年', expand=True)], axis=1)

In [53]:
# ヶ月を消す
train_data_1[1] = train_data_1[1].str.replace('ヶ月', '')
test_data_1[1] = test_data_1[1].str.replace('ヶ月', '')

In [54]:
# 築年数をfloat変換
train_data_1["築年数"] = train_data_1[0].astype(float) + (train_data_1[1].astype(float) / float(10))
test_data_1["築年数"] = test_data_1[0].astype(float) + (test_data_1[1].astype(float) / float(10))

In [55]:
test_data_1.head()

,id,所在地,間取り,築年数,面積m2,建物構造,間取りID,所在,階層,0,1
0,31471,東京都世田谷区深沢５丁目1-27,2LDK,49.0,50.22,鉄骨造,14,8.0,8.0,49,0
1,31472,東京都目黒区八雲１丁目11-8,1R,0.2,20.88,RC（鉄筋コンクリート）,9,3.0,4.0,0,2
2,31473,東京都豊島区池袋本町２丁目22-2,1K,23.4,26.93,鉄骨造,3,1.0,4.0,23,4
3,31474,東京都杉並区和泉１丁目,1K,36.2,23.57,木造,3,1.0,2.0,36,2
4,31475,東京都杉並区堀ノ内２丁目,2LDK,45.4,50.00,RC（鉄筋コンクリート）,14,4.0,4.0,45,4

In [56]:
print(test_data_1[test_data_1["築年数"].isnull()])

          id               所在地       間取り  築年数   面積m2          建物構造  間取りID  \
77     31548      東京都大田区東矢口２丁目  1K+S(納戸)  NaN  23.80           鉄骨造      4
108    31579  東京都世田谷区上馬２丁目26-8        1K  NaN  26.44  RC（鉄筋コンクリート）      3
112    31583       東京都台東区台東２丁目      1LDK  NaN  41.65           鉄骨造      5
156    31627  東京都品川区南大井４丁目20-5        1R  NaN  20.56  RC（鉄筋コンクリート）      9
162    31633     東京都江東区扇橋２丁目23        1K  NaN  25.34  RC（鉄筋コンクリート）      3
...      ...               ...       ...  ...    ...           ...    ...
31141  62612  東京都世田谷区桜丘４丁目15-9      2LDK  NaN  60.81            木造     14
31176  62647   東京都江戸川区中葛西８丁目22      1LDK  NaN  40.06  RC（鉄筋コンクリート）      5
31181  62652       東京都新宿区原町３丁目      1LDK  NaN  40.26           鉄骨造      5
31182  62653       東京都新宿区原町３丁目      2LDK  NaN  54.75           鉄骨造     14
31212  62683       東京都新宿区原町３丁目      1LDK  NaN  40.79           鉄骨造      5

        所在    階層    0    1
77     2.0   3.0  NaN  NaN
108    7.0  13.0  NaN  NaN
112    3.0  10.0  NaN  NaN
156    3.0  12.0  NaN  NaN
162    1.0   8.0  NaN  NaN
...    ...   ...  ...  ...
31141  2.0   2.0  NaN  NaN
31176  3.0  10.0  NaN  NaN
31181  2.0   3.0  NaN  NaN
31182  1.0   3.0  NaN  NaN
31212  2.0   3.0  NaN  NaN

[850 rows x 11 columns]

In [57]:
# 0と1の列を消す
train_data_1 = train_data_1.drop(0, axis=1)
train_data_1 = train_data_1.drop(1, axis=1)

test_data_1 = test_data_1.drop(0, axis=1)
test_data_1 = test_data_1.drop(1, axis=1)

### 2.6. 緯度経度情報の追加

#### [このサイト](https://ktgis.net/gcode/geocoding.html)を利用する

In [58]:
# IDと住所をファイル出力
train_coordinate = train_data[["id", "所在地"]]
test_coordinate = test_data[["id", "所在地"]]

train_coordinate.to_csv("train_coordinate.csv", header=False, index=False)
test_coordinate.to_csv("test_coordinate.csv", header=False, index=False)

In [59]:
# 緯度、経度情報の読み込み(id, 所在地, 経度, 緯度)
train_coordinate_addvalue = pd.read_excel("train_coordinate_addvalue.xlsx")
test_coordinate_addvalue = pd.read_excel("test_coordinate_addvalue.xlsx")

In [60]:
train_data_1 = pd.merge(train_data_1, train_coordinate_addvalue[["id", "経度", "緯度"]], on='id')
test_data_1 = pd.merge(test_data_1, test_coordinate_addvalue[["id", "経度", "緯度"]], on='id')

### 2.7. 部屋数の追加

In [61]:
# 部屋数のマージ
number_of_rooms = pd.read_excel("number_of_rooms.xlsx")
train_data_1 = pd.merge(train_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')
test_data_1 = pd.merge(test_data_1, number_of_rooms[["間取り", "部屋数"]], on='間取り')

In [62]:
# インデックスの振り直し
train_data_1 = train_data_1.sort_values("id")
train_data_1 = train_data_1.reset_index(drop=True)

test_data_1 = test_data_1.sort_values("id")
test_data_1 = test_data_1.reset_index(drop=True)

### 2.8. 1部屋当たりの面積追加

In [63]:
# 面積と部屋数から1部屋当たりの面積を算出
train_data_1["1部屋当たり面積m2"] = (train_data_1["面積m2"] / train_data_1["部屋数"]).astype(float)
test_data_1["1部屋当たり面積m2"] = (test_data_1["面積m2"] / test_data_1["部屋数"]).astype(float)

In [64]:
# 間取りと間取りIDは削除する
train_data_1 = train_data_1.drop('間取り', axis=1)
test_data_1 = test_data_1.drop('間取り', axis=1)

# train_data_1 = train_data_1.drop('間取りID', axis=1)
# test_data_1 = test_data_1.drop('間取りID', axis=1)

#### 2.9. 建物の高さ率を追加(高さ率=所在/階層)

In [65]:
# 高さ率の算出
train_data_1["高さ率"] = (train_data_1["所在"] / train_data_1["階層"]).astype(float)
test_data_1["高さ率"] = (test_data_1["所在"] / test_data_1["階層"]).astype(float)

### 2.10. 建物構造の数値化

In [66]:
train_data_1["建物構造"].value_counts()

RC（鉄筋コンクリート）                   17505
木造                              5512
鉄骨造                             3726
SRC（鉄骨鉄筋コンクリート）                 2429
軽量鉄骨                            1812
ALC（軽量気泡コンクリート）                  297
その他                              136
PC（プレキャスト・コンクリート（鉄筋コンクリート））       46
HPC（プレキャスト・コンクリート（重量鉄骨））           4
ブロック                               3
Name: 建物構造, dtype: int64

In [67]:
# 建物構造にlabel encodingを適用
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([train_data_1["建物構造"],test_data_1["建物構造"]]))

train_data_1["建物構造ID"] = le.transform(train_data_1["建物構造"])
test_data_1["建物構造ID"] = le.transform(test_data_1["建物構造"])

In [68]:
test_data_1.head()

,id,所在地,築年数,面積m2,建物構造,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID
0,31471,東京都世田谷区深沢５丁目1-27,49.0,50.22,鉄骨造,14,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00,10
1,31472,東京都目黒区八雲１丁目11-8,0.2,20.88,RC（鉄筋コンクリート）,9,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75,3
2,31473,東京都豊島区池袋本町２丁目22-2,23.4,26.93,鉄骨造,3,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25,10
3,31474,東京都杉並区和泉１丁目,36.2,23.57,木造,3,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50,7
4,31475,東京都杉並区堀ノ内２丁目,45.4,50.00,RC（鉄筋コンクリート）,14,4.0,4.0,139.650468,35.689411,3.5,14.285714,1.00,3

In [69]:
# 不要になった建物構造カラムを削除する
train_data_1 = train_data_1.drop('建物構造', axis=1)
test_data_1 = test_data_1.drop('建物構造', axis=1)

### 2.11. 新規カラムに「賃料/面積」を追加

In [70]:
train_data_1["賃料/面積"] = train_data_1["賃料"] / train_data_1["面積m2"]

In [71]:
train_data_1.head()

,id,所在地,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,賃料/面積
0,1,東京都北区滝野川３丁目,75000,9.9,20.01,3,1.0,12.0,139.727873,35.747759,1.0,20.01,0.083333,3,3748.125937
1,2,東京都中央区月島３丁目,76000,45.0,16.50,9,5.0,10.0,139.780485,35.662406,1.0,16.50,0.500000,10,4606.060606
2,3,東京都渋谷区笹塚２丁目,110000,8.6,22.05,3,12.0,15.0,139.667375,35.675358,1.0,22.05,0.800000,3,4988.662132
3,4,東京都杉並区高円寺南２丁目23-2,150000,29.4,60.48,14,3.0,4.0,139.648495,35.700193,3.5,17.28,0.750000,3,2480.158730
4,5,東京都葛飾区金町３丁目7-2,74000,31.7,39.66,10,1.0,2.0,139.872315,35.766413,3.0,13.22,0.500000,7,1865.859808

### 2.12. 東京23区の地域ごとに、住宅地の平均地価情報を追加

In [72]:
# 区の情報の確認(23区だけだった)
# sample = train_data["所在地"].str.extract("東京都(.+区)", expand=True)
# sample.value_counts()

In [73]:
print(len(train_data_1))
print(len(test_data_1))

31470
31262

In [74]:
# 訓練データとテストデータに、エリア情報を追加
train_data_1["エリア"] = ""
test_data_1["エリア"] = ""
train_data_1["エリア"] = train_data_1["所在地"].str.extract("東京都((.+区.+?)[０-９]|(.+区.+?)[0-9]|(.+区.+))", expand=True)
test_data_1["エリア"] = test_data_1["所在地"].str.extract("東京都((.+区.+?)[０-９]|(.+区.+?)[0-9]|(.+区.+))", expand=True)

In [75]:
print(len(train_data_1))
print(len(test_data_1))

31470
31262

In [76]:
# 一部エリア情報に数値が残ってしまうので、消す
train_data_1["エリア"] = train_data_1["エリア"].str.replace("[０-９]|[0-9]", "")
train_data_1["エリア"] = train_data_1["エリア"].str.replace("一丁目", "")
train_data_1["エリア"] = train_data_1["エリア"].str.replace("-", "")

test_data_1["エリア"] = test_data_1["エリア"].str.replace("[０-９]|[0-9]", "")
test_data_1["エリア"] = test_data_1["エリア"].str.replace("一丁目", "")
test_data_1["エリア"] = test_data_1["エリア"].str.replace("二丁目", "")
test_data_1["エリア"] = test_data_1["エリア"].str.replace("四丁目", "")

In [77]:
print(len(train_data_1))
print(len(test_data_1))

31470
31262

In [78]:
# 坪単価情報の読込～結合
wards_value = pd.read_excel("23区_地域毎_坪単価.xlsx")
train_data_1 = pd.merge(train_data_1, wards_value, on="エリア", how="left")
test_data_1 = pd.merge(test_data_1, wards_value, on="エリア", how="left")
train_data_1 = train_data_1.sort_values("id")
test_data_1 = test_data_1.sort_values("id")

In [79]:
# 地価の抜けデータを平均値で補間
# 江東区
train_data_1.loc[train_data_1["id"]==2767, "平均坪単価（万円）"] = 206.6
train_data_1.loc[train_data_1["id"]==7559, "平均坪単価（万円）"] = 206.6
# 港区
train_data_1.loc[train_data_1["id"]==17654, "平均坪単価（万円）"] = 1321.4

In [80]:
print(len(train_data_1))
print(len(test_data_1))

31470
31262

In [81]:
print(train_data_1[train_data_1["平均坪単価（万円）"].isnull()])
print(test_data_1[test_data_1["平均坪単価（万円）"].isnull()])

Empty DataFrame
Columns: [id, 所在地, 賃料, 築年数, 面積m2, 間取りID, 所在, 階層, 経度, 緯度, 部屋数, 1部屋当たり面積m2, 高さ率, 建物構造ID, 賃料/面積, エリア, 区, 地名, 平均坪単価（万円）]
Index: []
Empty DataFrame
Columns: [id, 所在地, 築年数, 面積m2, 間取りID, 所在, 階層, 経度, 緯度, 部屋数, 1部屋当たり面積m2, 高さ率, 建物構造ID, エリア, 区, 地名, 平均坪単価（万円）]
Index: []

In [82]:
test_data_1

,id,所在地,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,エリア,区,地名,平均坪単価（万円）
0,31471,東京都世田谷区深沢５丁目1-27,49.0,50.22,14,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.000000,10,世田谷区深沢,世田谷区,深沢,208.0
1,31472,東京都目黒区八雲１丁目11-8,0.2,20.88,9,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.750000,3,目黒区八雲,目黒区,八雲,273.0
2,31473,東京都豊島区池袋本町２丁目22-2,23.4,26.93,3,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.250000,10,豊島区池袋本町,豊島区,池袋本町,186.0
3,31474,東京都杉並区和泉１丁目,36.2,23.57,3,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.500000,7,杉並区和泉,杉並区,和泉,184.0
4,31475,東京都杉並区堀ノ内２丁目,45.4,50.00,14,4.0,4.0,139.650468,35.689411,3.5,14.285714,1.000000,3,杉並区堀ノ内,杉並区,堀ノ内,145.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31257,62728,東京都豊島区上池袋４丁目,0.1,25.66,3,6.0,8.0,139.718979,35.741285,1.0,25.660000,0.750000,3,豊島区上池袋,豊島区,上池袋,190.0
31258,62729,東京都千代田区岩本町２丁目,15.6,22.71,9,8.0,15.0,139.776177,35.693717,1.0,22.710000,0.533333,3,千代田区岩本町,千代田区,岩本町,447.0
31259,62730,東京都中野区江古田３丁目14-3,1.0,45.76,5,10.0,14.0,139.667395,35.727602,2.5,18.304000,0.714286,3,中野区江古田,中野区,江古田,167.0
31260,62731,東京都千代田区二番町,15.4,55.20,3,14.0,14.0,139.734508,35.686078,1.0,55.200000,1.000000,4,千代田区二番町,千代田区,二番町,628.0
31261,62732,東京都大田区南馬込６丁目,16.3,21.18,3,5.0,5.0,139.708991,35.583653,1.0,21.180000,1.000000,3,大田区南馬込,大田区,南馬込,175.0

In [83]:
# 不要なカラムを削除する
train_data_1 = train_data_1.drop(["所在地", "エリア", "区", "地名"], axis=1)
test_data_1 = test_data_1.drop(["所在地", "エリア", "区", "地名"], axis=1)

### 2.13. 重複物件の抽出・削除

In [84]:
# 重複確認用のデータ出力
# train_duplicate = pd.concat([train_data[["id", "賃料", "所在地"]], train_data_1[["間取りID", "面積m2", "所在", "階層"]]], axis=1)
# test_duplicate = pd.concat([test_data[["id", "所在地"]], test_data_1[["間取りID", "面積m2", "所在", "階層"]]], axis=1)

In [85]:
# 結果の出力
# train_duplicate.to_excel("train_duplicate.xlsx", header=True, index=False)
# test_duplicate.to_excel("test_duplicate.xlsx", header=True, index=False)

In [86]:
# 重複対象のデータ読み込み
train_duplicate_flag = pd.read_excel("train_duplicate_flag.xlsx")
test_duplicate_flag = pd.read_excel("test_duplicate_flag.xlsx")

In [87]:
# データ数のチェック
print("Train:", len(train_data_1), "-", len(train_duplicate_flag), "=", len(train_data_1)-len(train_duplicate_flag))
print("Test:", len(test_data_1), "-", len(test_duplicate_flag), "=", len(test_data_1)-len(test_duplicate_flag))

Train: 31470 - 31470 = 0
Test: 31262 - 31262 = 0

In [88]:
# 重複フラグを結合
train_data_1 = pd.merge(train_data_1, train_duplicate_flag, on="id")
train_data_1 = train_data_1.rename(columns={"賃料_x":"賃料"})
train_data_1 = train_data_1.drop('賃料_y', axis=1)

test_data_1 = pd.merge(test_data_1, test_duplicate_flag, on="id")

In [89]:
# testデータからのみ、flag=1.0の列を削除
print("【削除前】", "train:", len(train_data_1), ", ", "test:", len(test_data_1))
#train_data_1 = train_data_1.loc[train_data_1["flag"] != 1.0]
test_data_1 = test_data_1.loc[test_data_1["flag"] != 1.0]
print("【削除後】", "train:", len(train_data_1), ", ", "test:", len(test_data_1))

【削除前】 train: 31470 ,  test: 31262
【削除後】 train: 31470 ,  test: 24812

## 3. データチェック

In [90]:
train_data_1.isnull().sum()

id                0
賃料                0
築年数             889
面積m2              0
間取りID             0
所在              120
階層              594
経度                0
緯度                0
部屋数               0
1部屋当たり面積m2        0
高さ率             714
建物構造ID            0
賃料/面積             0
平均坪単価（万円）         0
flag          25975
dtype: int64

In [91]:
test_data_1.isnull().sum()

id                0
築年数             675
面積m2              0
間取りID             0
所在              102
階層              476
経度                0
緯度                0
部屋数               0
1部屋当たり面積m2        0
高さ率             577
建物構造ID            0
平均坪単価（万円）         0
flag          24812
dtype: int64

In [92]:
len(train_data_1)

31470

In [93]:
len(train_data)

31470

In [94]:
len(test_data_1)

24812

In [95]:
len(test_data)

31262

In [96]:
train_data_1.head()

,id,賃料,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,賃料/面積,平均坪単価（万円）,flag
0,1,75000,9.9,20.01,3,1.0,12.0,139.727873,35.747759,1.0,20.01,0.083333,3,3748.125937,180.0,NaN
1,2,76000,45.0,16.50,9,5.0,10.0,139.780485,35.662406,1.0,16.50,0.500000,10,4606.060606,323.0,1.0
2,3,110000,8.6,22.05,3,12.0,15.0,139.667375,35.675358,1.0,22.05,0.800000,3,4988.662132,324.0,NaN
3,4,150000,29.4,60.48,14,3.0,4.0,139.648495,35.700193,3.5,17.28,0.750000,3,2480.158730,253.0,NaN
4,5,74000,31.7,39.66,10,1.0,2.0,139.872315,35.766413,3.0,13.22,0.500000,7,1865.859808,111.0,NaN

In [97]:
test_data_1.head()

,id,築年数,面積m2,間取りID,所在,階層,経度,緯度,部屋数,1部屋当たり面積m2,高さ率,建物構造ID,平均坪単価（万円）,flag
0,31471,49.0,50.22,14,8.0,8.0,139.652762,35.617708,3.5,14.348571,1.00,10,208.0,NaN
1,31472,0.2,20.88,9,3.0,4.0,139.672871,35.617709,1.0,20.880000,0.75,3,273.0,NaN
2,31473,23.4,26.93,3,1.0,4.0,139.709049,35.741996,1.0,26.930000,0.25,10,186.0,NaN
3,31474,36.2,23.57,3,1.0,2.0,139.658270,35.673602,1.0,23.570000,0.50,7,184.0,NaN
5,31476,25.6,21.45,9,1.0,2.0,139.686023,35.691395,1.0,21.450000,0.50,7,294.0,NaN

## 4.学習

In [98]:
# IDとflagの削除
train_data_1_no_ID = train_data_1.drop(["id", "flag"], axis=1)
test_data_1_no_ID = test_data_1.drop(["id", "flag"], axis=1)

In [99]:
# 特徴データと目的変数の設定
train_x = train_data_1_no_ID.drop(["賃料", "賃料/面積"], axis=1)
train_y = train_data_1_no_ID["賃料/面積"]

test_x = test_data_1_no_ID

In [100]:
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.metrics import log_loss, accuracy_score
from sklearn.model_selection import KFold

scores = []
# GBDT用のハイパーパラメータ
params = {"objective": "reg:squarederror", "sileng":1, "random_state":71}
num_round = 50

# クロスバリデーション
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx, in kf.split(train_x):
    tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]
    
    # GBDTで学習実行
    dtrain = xgb.DMatrix(tr_x, label=tr_y) # enable_categorical=True
    dvalid = xgb.DMatrix(va_x, label=va_y)
    dtest = xgb.DMatrix(test_x)
    
    watchlist = [(dtrain, "train"), (dvalid, "eval")]
    model = xgb.train(params, dtrain, num_round, evals=watchlist)

[20:02:51] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:573:
Parameters: { "sileng" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2640.36523	eval-rmse:2611.47949
[1]	train-rmse:1896.71301	eval-rmse:1863.72803
[2]	train-rmse:1389.13074	eval-rmse:1348.64636
[3]	train-rmse:1046.02063	eval-rmse:997.99597
[4]	train-rmse:817.08539	eval-rmse:768.11401
[5]	train-rmse:673.70801	eval-rmse:621.92511
[6]	train-rmse:584.24029	eval-rmse:530.89502
[7]	train-rmse:534.60059	eval-rmse:477.87518
[8]	train-rmse:495.94836	eval-rmse:444.45807
[9]	train-rmse:476.63791	eval-rmse:426.53046
[10]	train-rmse:464.63992	eval-rmse:415.60703
[11]	train-rmse:455.88382	eval-rmse:407.79843
[12]	train-rmse:449.20676	eval-rmse:402.31564
[13]	train-rmse:445.02896	eval-rmse:398.71457
[14]	train-rmse:437.31482	eval-rmse:397.98645
[15]	train-rmse:434.39514	eval-rmse:395.44968
[16]	train-rmse:429.05106	eval-rmse:393.41202
[17]	train-rmse:426.10168	eval-rmse:390.52100
[18]	train-rmse:423.69086	eval-rmse:389.50775
[19]	train-rmse:420.07645	eval-rmse:388.58408
[20]	train-rmse:416.60971	eval-rmse:385.06711
[21]	train-rmse:414.59247	eval-rmse:383.11948
[22]	train-rmse:412.66830	eval-rmse:382.09781
[23]	train-rmse:409.94333	eval-rmse:380.89301
[24]	train-rmse:407.91086	eval-rmse:378.93631
[25]	train-rmse:405.52167	eval-rmse:378.28805
[26]	train-rmse:403.85113	eval-rmse:376.77792
[27]	train-rmse:403.10144	eval-rmse:376.31930
[28]	train-rmse:400.15503	eval-rmse:374.50140
[29]	train-rmse:397.92246	eval-rmse:372.29273
[30]	train-rmse:396.81641	eval-rmse:371.18304
[31]	train-rmse:395.58844	eval-rmse:370.74439
[32]	train-rmse:394.83344	eval-rmse:370.15646
[33]	train-rmse:393.57123	eval-rmse:369.05154
[34]	train-rmse:393.32986	eval-rmse:369.05188
[35]	train-rmse:392.51932	eval-rmse:368.49716
[36]	train-rmse:391.49667	eval-rmse:368.28796
[37]	train-rmse:389.88663	eval-rmse:367.39203
[38]	train-rmse:388.83402	eval-rmse:366.32617
[39]	train-rmse:387.42426	eval-rmse:365.46365
[40]	train-rmse:386.00015	eval-rmse:364.34872
[41]	train-rmse:384.52655	eval-rmse:363.46289
[42]	train-rmse:384.31952	eval-rmse:363.62705
[43]	train-rmse:383.49445	eval-rmse:362.90237
[44]	train-rmse:382.31354	eval-rmse:362.67554
[45]	train-rmse:381.64972	eval-rmse:361.89032
[46]	train-rmse:380.59100	eval-rmse:361.12195
[47]	train-rmse:379.13449	eval-rmse:360.88687
[48]	train-rmse:377.53094	eval-rmse:361.06430
[49]	train-rmse:376.80130	eval-rmse:360.63922
[20:02:53] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:573:
Parameters: { "sileng" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2617.54248	eval-rmse:2689.30225
[1]	train-rmse:1868.88000	eval-rmse:1966.62927
[2]	train-rmse:1351.88135	eval-rmse:1485.61389
[3]	train-rmse:1000.14917	eval-rmse:1170.80200
[4]	train-rmse:766.88611	eval-rmse:979.01160
[5]	train-rmse:614.79791	eval-rmse:864.60461
[6]	train-rmse:515.96100	eval-rmse:799.89294
[7]	train-rmse:457.08093	eval-rmse:764.41540
[8]	train-rmse:421.18576	eval-rmse:741.47870
[9]	train-rmse:399.74170	eval-rmse:729.86566
[10]	train-rmse:385.71823	eval-rmse:720.50867
[11]	train-rmse:377.73038	eval-rmse:716.60962
[12]	train-rmse:370.02884	eval-rmse:713.28986
[13]	train-rmse:364.14566	eval-rmse:710.83057
[14]	train-rmse:359.31168	eval-rmse:708.83661
[15]	train-rmse:354.38953	eval-rmse:707.78302
[16]	train-rmse:349.50446	eval-rmse:706.34296
[17]	train-rmse:346.30725	eval-rmse:705.36591
[18]	train-rmse:343.18677	eval-rmse:704.11108
[19]	train-rmse:338.46960	eval-rmse:702.62537
[20]	train-rmse:336.77554	eval-rmse:701.91052
[21]	train-rmse:334.59515	eval-rmse:701.06006
[22]	train-rmse:332.70316	eval-rmse:700.35346
[23]	train-rmse:330.01334	eval-rmse:699.80841
[24]	train-rmse:328.86218	eval-rmse:699.51355
[25]	train-rmse:327.38550	eval-rmse:698.91370
[26]	train-rmse:324.69116	eval-rmse:697.69275
[27]	train-rmse:322.04791	eval-rmse:696.78796
[28]	train-rmse:319.41943	eval-rmse:696.16870
[29]	train-rmse:316.00592	eval-rmse:694.84192
[30]	train-rmse:314.68616	eval-rmse:694.61200
[31]	train-rmse:312.81992	eval-rmse:694.00617
[32]	train-rmse:312.23489	eval-rmse:693.87060
[33]	train-rmse:309.64511	eval-rmse:693.04767
[34]	train-rmse:306.15781	eval-rmse:691.94751
[35]	train-rmse:305.82635	eval-rmse:692.00354
[36]	train-rmse:303.38754	eval-rmse:691.09601
[37]	train-rmse:301.67361	eval-rmse:690.56262
[38]	train-rmse:299.25149	eval-rmse:690.12152
[39]	train-rmse:298.68817	eval-rmse:689.94550
[40]	train-rmse:297.66782	eval-rmse:689.63806
[41]	train-rmse:296.66257	eval-rmse:689.41461
[42]	train-rmse:294.72510	eval-rmse:689.16083
[43]	train-rmse:293.10904	eval-rmse:688.73065
[44]	train-rmse:291.97049	eval-rmse:688.51471
[45]	train-rmse:290.39545	eval-rmse:688.21606
[46]	train-rmse:290.09323	eval-rmse:688.06128
[47]	train-rmse:289.17764	eval-rmse:687.81952
[48]	train-rmse:286.57126	eval-rmse:687.50256
[49]	train-rmse:285.61230	eval-rmse:687.30469
[20:02:56] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:573:
Parameters: { "sileng" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2641.99023	eval-rmse:2612.32544
[1]	train-rmse:1900.96069	eval-rmse:1866.40491
[2]	train-rmse:1393.04053	eval-rmse:1352.04102
[3]	train-rmse:1051.45679	eval-rmse:1005.69623
[4]	train-rmse:831.32739	eval-rmse:776.90698
[5]	train-rmse:679.84711	eval-rmse:629.91363
[6]	train-rmse:593.02734	eval-rmse:540.23206
[7]	train-rmse:540.81653	eval-rmse:486.31015
[8]	train-rmse:510.68369	eval-rmse:454.79309
[9]	train-rmse:483.16971	eval-rmse:435.83154
[10]	train-rmse:466.55292	eval-rmse:425.53217
[11]	train-rmse:457.68842	eval-rmse:417.42639
[12]	train-rmse:451.13516	eval-rmse:413.57663
[13]	train-rmse:447.83319	eval-rmse:411.24341
[14]	train-rmse:441.46994	eval-rmse:405.61203
[15]	train-rmse:437.72839	eval-rmse:402.74832
[16]	train-rmse:435.30096	eval-rmse:400.33423
[17]	train-rmse:429.61597	eval-rmse:398.67688
[18]	train-rmse:424.77063	eval-rmse:397.83554
[19]	train-rmse:422.23630	eval-rmse:395.29211
[20]	train-rmse:417.71478	eval-rmse:392.37192
[21]	train-rmse:416.39908	eval-rmse:391.44013
[22]	train-rmse:414.62775	eval-rmse:390.08997
[23]	train-rmse:410.94367	eval-rmse:387.80725
[24]	train-rmse:409.21155	eval-rmse:386.74048
[25]	train-rmse:408.48334	eval-rmse:386.62427
[26]	train-rmse:405.62607	eval-rmse:384.80499
[27]	train-rmse:405.10843	eval-rmse:384.45071
[28]	train-rmse:403.70029	eval-rmse:384.00226
[29]	train-rmse:402.82803	eval-rmse:383.50632
[30]	train-rmse:400.87396	eval-rmse:382.08917
[31]	train-rmse:397.77792	eval-rmse:378.61285
[32]	train-rmse:397.20108	eval-rmse:378.44629
[33]	train-rmse:396.15158	eval-rmse:378.01581
[34]	train-rmse:394.50571	eval-rmse:376.76883
[35]	train-rmse:392.58127	eval-rmse:374.78754
[36]	train-rmse:391.52246	eval-rmse:375.01697
[37]	train-rmse:389.86121	eval-rmse:374.31930
[38]	train-rmse:388.15649	eval-rmse:372.90070
[39]	train-rmse:387.38669	eval-rmse:372.76279
[40]	train-rmse:386.61218	eval-rmse:371.97348
[41]	train-rmse:386.07422	eval-rmse:371.89319
[42]	train-rmse:385.05750	eval-rmse:371.87018
[43]	train-rmse:383.78201	eval-rmse:371.15216
[44]	train-rmse:382.27484	eval-rmse:370.05039
[45]	train-rmse:380.79312	eval-rmse:369.72421
[46]	train-rmse:380.33658	eval-rmse:368.75027
[47]	train-rmse:378.94992	eval-rmse:368.22321
[48]	train-rmse:378.08957	eval-rmse:367.73465
[49]	train-rmse:377.27908	eval-rmse:367.52066
[20:02:59] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:573:
Parameters: { "sileng" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:2637.87158	eval-rmse:2631.13501
[1]	train-rmse:1895.74206	eval-rmse:1893.62585
[2]	train-rmse:1386.86755	eval-rmse:1385.74939
[3]	train-rmse:1034.84509	eval-rmse:1052.22925
[4]	train-rmse:810.26160	eval-rmse:830.93988
[5]	train-rmse:651.72131	eval-rmse:709.24823
[6]	train-rmse:548.31043	eval-rmse:648.70062
[7]	train-rmse:482.24075	eval-rmse:623.91278
[8]	train-rmse:439.56171	eval-rmse:620.03272
[9]	train-rmse:411.21567	eval-rmse:627.43878
[10]	train-rmse:399.19241	eval-rmse:619.78662
[11]	train-rmse:386.34686	eval-rmse:627.30591
[12]	train-rmse:376.36575	eval-rmse:642.70819
[13]	train-rmse:367.51779	eval-rmse:637.64673
[14]	train-rmse:358.92810	eval-rmse:652.17633
[15]	train-rmse:353.75989	eval-rmse:658.20154
[16]	train-rmse:351.00577	eval-rmse:657.30157
[17]	train-rmse:346.40656	eval-rmse:654.73499
[18]	train-rmse:343.94571	eval-rmse:655.43366
[19]	train-rmse:341.27976	eval-rmse:654.49176
[20]	train-rmse:339.66922	eval-rmse:653.84503
[21]	train-rmse:337.13892	eval-rmse:652.75787
[22]	train-rmse:335.58520	eval-rmse:652.39239
[23]	train-rmse:334.54190	eval-rmse:651.71710
[24]	train-rmse:332.10336	eval-rmse:650.26178
[25]	train-rmse:330.57483	eval-rmse:649.62787
[26]	train-rmse:328.74908	eval-rmse:648.22345
[27]	train-rmse:327.98852	eval-rmse:647.91949
[28]	train-rmse:326.83758	eval-rmse:646.44641
[29]	train-rmse:323.45691	eval-rmse:645.71393
[30]	train-rmse:320.34116	eval-rmse:644.93689
[31]	train-rmse:318.89008	eval-rmse:644.61847
[32]	train-rmse:314.70322	eval-rmse:658.10461
[33]	train-rmse:312.90692	eval-rmse:657.32611
[34]	train-rmse:311.53525	eval-rmse:656.85339
[35]	train-rmse:310.92142	eval-rmse:656.58368
[36]	train-rmse:310.05835	eval-rmse:656.33142
[37]	train-rmse:309.56976	eval-rmse:656.15070
[38]	train-rmse:307.36377	eval-rmse:655.77527
[39]	train-rmse:306.50214	eval-rmse:655.40381
[40]	train-rmse:306.10251	eval-rmse:655.36652
[41]	train-rmse:304.81195	eval-rmse:655.14185
[42]	train-rmse:303.61255	eval-rmse:655.00324
[43]	train-rmse:302.44492	eval-rmse:654.64740
[44]	train-rmse:301.48904	eval-rmse:654.41052
[45]	train-rmse:300.34055	eval-rmse:654.24902
[46]	train-rmse:299.37582	eval-rmse:653.74158
[47]	train-rmse:296.34445	eval-rmse:665.07696
[48]	train-rmse:294.48257	eval-rmse:664.71387
[49]	train-rmse:293.30066	eval-rmse:664.41321

## 5. 予測

In [101]:
# テストデータでの予測
pred = model.predict(dtest)

In [102]:
pred

array([2672.995 , 5201.314 , 2921.6577, ..., 4509.5156, 3776.8904,
       3745.415 ], dtype=float32)

In [103]:
len(pred)

24812

In [104]:
len(test_data_1)

24812

## 6. データ出力

In [105]:
# 予測結果の結合
test_data_1["賃料/面積"] = pred

In [106]:
# 予測結果から賃料を算出し、int型に変換
test_data_1["賃料"] = (test_data_1["面積m2"] * test_data_1["賃料/面積"]).astype(int)

In [107]:
result = test_data_1[["id", "賃料"]]

In [108]:
result

          id      賃料
0      31471  134237
1      31472  108603
2      31473   78680
3      31474   61776
5      31476   69287
...      ...     ...
31255  62726  103082
31257  62728  102536
31258  62729  102411
31259  62730  172830
31261  62732   79327

[24812 rows x 2 columns]

In [109]:
len(result)

24812

In [110]:
# 除外していた重複idの賃料を戻す
test_duplicate_rentvalue = pd.read_excel("test_duplicate_rentvalue.xlsx")
result = pd.concat([result, test_duplicate_rentvalue])
result = result.sort_values("id")
len(result)

31262

In [111]:
result

          id      賃料
0      31471  134237
1      31472  108603
2      31473   78680
3      31474   61776
0      31475   90000
...      ...     ...
31257  62728  102536
31258  62729  102411
31259  62730  172830
6449   62731  280000
31261  62732   79327

[31262 rows x 2 columns]

In [112]:
result.to_csv("result.csv", header=False, index=False)