## Q63: 現在の日付をtoday.txtというテキストファイルに文字列の形で書き込みなさい

In [7]:
import datetime
with open('today.txt', 'w') as writefile:
    now_date = datetime.date.today()
    writefile.write(str(now_date))

## Q64:today.textから日付を解析し取り出しなさい

In [16]:
import datetime
import time
fmt = '%Y-%m-%d'
with open('today.txt', 'r') as readfile:
    today_string = readfile.read()
    time.strptime(today_string, fmt)
today_string

'2022-02-28'

## Q65:ディレクトリの扱いの練習

```
問題： カレントディレクトリと親ディレクトリのファイルのリストをそれぞれ表示せよ。
```

In [21]:
import glob
efile_list = []
files = glob.glob('./*')
for file in files:
    file_list.append(file)
file_list

['.\\10日目_63-70.ipynb',
 '.\\1日目_01-05.ipynb',
 '.\\2日目_06-10.ipynb',
 '.\\3日目_11-15.ipynb',
 '.\\4日目_16-20.ipynb',
 '.\\5日目_21-25.ipynb',
 '.\\6日目_26-30.ipynb',
 '.\\7日目_31-40.ipynb',
 '.\\8日目_41-52.ipynb',
 '.\\9日目_53-62-checkpoint.ipynb',
 '.\\9日目_53-62.ipynb',
 '.\\alphabet.txt',
 '.\\books.csv',
 '.\\books.db',
 '.\\day9_Q54.txt',
 '.\\many_books.csv',
 '.\\sample.txt',
 '.\\SQLite.db',
 '.\\today.txt',
 '.\\参照元.txt']

In [22]:
import glob
file_list = []
files = glob.glob('../*')
for file in files:
    file_list.append(file)
file_list

['..\\Pygame',
 '..\\Python_実践データ分析_100本ノック',
 '..\\Python_独学プログラマー',
 '..\\SIGNATE',
 '..\\アルゴリズム練習',
 '..\\ゼロから作るDeepLearning',
 '..\\機械学習図鑑',
 '..\\自作python100本ノック']

In [23]:
# OSモジュールでの作成例。こっちのがシンプル。
# カレントディレクトリのファイルのリストを作ろう
import os
os.listdir('.')

# 親ディレクトリのファイルのリストを作ろう
os.listdir('..')

['Pygame',
 'Python_実践データ分析_100本ノック',
 'Python_独学プログラマー',
 'SIGNATE',
 'アルゴリズム練習',
 'ゼロから作るDeepLearning',
 '機械学習図鑑',
 '自作python100本ノック']

## Q66:自分の誕生日が何曜日だったか確認

In [32]:
import calendar
import datetime as dt
import locale

# localeモジュールで時間のロケールを'ja_JP.UTF-8'に変更する
# locale.setlocale(locale.LC_TIME, 'ja_JP.UTF-8')

date = dt.date(1984, 12, 22)

# 曜日を取得
day_index = date.weekday() # 月曜が0、日曜が6
print(day_index)
# print(calendar.day_name[day_index])
# print(date.strftime('%A'))

5

## Q67:自分が生まれてから10,000日になるのはいつか確認

In [34]:
import datetime as dt
birth_date = dt.date(1984, 12, 22)
target_date = birth_date + dt.timedelta(days=10000)

print(target_date)

2012-05-09

## Q68:以下のデータフレームを作成せよ。

In [47]:
import pandas as pd
df = pd.DataFrame(\
                  [['山田', '20', '男'], ['鈴木', '34', '男'], \
                   ['佐藤', '50', '女'], ['田中', '12', '男'], ['斎藤', '62', '女']],
                  columns = ['名前', '年齢', '性別'])
df

   名前  年齢 性別
0  山田  20  男
1  鈴木  34  男
2  佐藤  50  女
3  田中  12  男
4  斎藤  62  女

In [58]:
# こんな書き方もできる
df = pd.DataFrame(
{'名前': ['朝倉', '鈴木', '山中', '田中', '山本'],
'年齢': [17, 43, 40, 12, 62],
'性別':['男', '男', '女', '男', '女']})
df

   名前  年齢 性別
0  朝倉  17  男
1  鈴木  43  男
2  山中  40  女
3  田中  12  男
4  山本  62  女

## Q69:年齢が35歳よりも下の人だけを表から取り出しなさい

In [55]:
df[df['年齢']<35]

   名前  年齢 性別
0  朝倉  17  男
3  田中  12  男

## Q70: 内容の追加

In [59]:
df = df.append({'名前':'周船寺', '年齢':'25', '性別':'女'}, ignore_index=True)
df

    名前  年齢 性別
0   朝倉  17  男
1   鈴木  43  男
2   山中  40  女
3   田中  12  男
4   山本  62  女
5  周船寺  25  女

In [60]:
# もしくは、下記のように新しいDataframeを作ってconcatで結合するか
# 行の追加
row = pd.DataFrame({'名前': ['池田'],
                    '年齢': [1989],
                    '性別': '男'})
# 行の追加（行: axis=0, 列: axis=1）
df_2 = pd.concat([df,row], axis=0)
df_2

# indexを変更
# np.agrangeで0〜6の数字が並んだ配列を生成
df_2.index = np.arange(len(df_2))
df_2

NameError: name 'np' is not defined

## Q71:内容の削除

In [61]:
df_del = df.drop('年齢', axis=1)
df_del

    名前 性別
0   朝倉  男
1   鈴木  男
2   山中  女
3   田中  男
4   山本  女
5  周船寺  女

## Q72: 列名を変更

In [62]:
df2 = df.rename(columns={'名前':'name', '年齢':'age', '性別':'sex'})
df2

  name age sex
0   朝倉  17   男
1   鈴木  43   男
2   山中  40   女
3   田中  12   男
4   山本  62   女
5  周船寺  25   女